openapi: 3.1.0
info:
  title: Farcaster API V2
  version: "2.0"
servers:
  - url: https://api.neynar.com/v2

security:
  - ApiKeyAuth: []

components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: x-api-key
      description: "API key to authorize requests"
      x-default: "NEYNAR_API_DOCS"

  schemas:
    Address:
      type: string
      pattern: "^0x[a-fA-F0-9]{40}$"
      description: Ethereum address
    SolAddress:
      type: string
      pattern: "^[1-9A-HJ-NP-Za-km-z]{32,44}$"
      description: Solana address
    Fid:
      type: integer
      format: int32
      description: The unique identifier of a farcaster user (unsigned integer)
      examples:
        - 3
        - 191
        - 2
        - 194
        - 19960
    ChannelId:
      type: string
      description: The unique identifier of a farcaster channel
      examples:
        - "neynar"
    SignerUUID:
      type: string
      description: UUID of the signer
      examples:
        - "19d0c5fd-9b33-4a48-a0e2-bc7b0555baec"
    SubscriptionProviders:
      type: string
      enum:
        - fabric_stp
        - paragraph
      description: |
        The provider of the subscription.
    SubscriptionProvider:
      type: string
      enum:
        - fabric_stp
      description: |
        The provider of the subscription.
    FollowSortType:
      type: string
      enum:
        - desc_chron
        - algorithmic
      examples:
        - "desc_chron"
    CastConversationSortType:
      type: string
      enum:
        - chron
        - desc_chron
        - algorithmic
      examples:
        - "chron"
    ForYouProvider:
      type: string
      default: openrank
      enum:
        - openrank
        - mbd
      description: |
        The provider of the For You feed.
    FeedTrendingProvider:
      type: string
      enum:
        - neynar
        - openrank
        - mbd
      default: neynar
      description: |
        The provider of the trending casts feed.
    ReactionType:
      type: string
      enum:
        - like
        - recast
    ReactionsType:
      type: string
      enum:
        - all
        - likes
        - recasts
    NextCursor:
      type: object
      description: Returns next cursor
      required:
        - cursor
      properties:
        cursor:
          type: [string, "null"]
    CastHash:
      type: string
      default: "0xfe90f9de682273e05b201629ad2338bdcd89b6be"
      description: Cast Hash
    CastNotificationType:
      type: string
      enum:
        - cast-mention
        - cast-reply
      description: |
        The notification type of a cast.
    CastParamType:
      type: string
      enum:
        - url
        - hash
      description: |
        The query param accepted by the API. Sent along with identifier param.
        url - Cast identifier is a url
        hash - Cast identifier is a hash
    ReplyDepth:
      type: integer
      description: |
        Depth of replies to fetch in the conversation.
      default: 2
      minimum: 0
      maximum: 5
    ErrorRes:
      type: object
      required:
        - message
      description: Details for the error response
      properties:
        code:
          type: string
        message:
          type: string
        property:
          type: string
        status:
          type: integer
          format: int32
    ConflictErrorRes:
      type: object
      required:
        - message
      description: Details for the conflict error response
      properties:
        code:
          type: string
        message:
          type: string
        property:
          type: string
        key:
          type: string
    Ed25519PublicKey:
      type: string
      pattern: "^0x[a-fA-F0-9]{64}$"
      description: Ed25519 public key
      examples:
        - "0x1234567890abcdef1234567890abcdef1234567890abcdef1234567890abcdef"
    Timestamp:
      type: string
      format: date-time
    IndividualHashObj:
      type: object
      properties:
        hash:
          type: string
      required:
        - hash
    EmbedUrl:
      type: object
      required:
        - url
      properties:
        url:
          type: string
        metadata:
          $ref: "#/components/schemas/EmbedUrlMetadata"
    # TwitterImageObject:
    #   type: object
    #   properties:
    #     alt:
    #       type: string
    #     height:
    #       type: string # Should be 'integer' but open-graph-scraper lies and returns a string
    #     url:
    #       type: string
    #     width:
    #       type: string # Should be 'integer' but open-graph-scraper lies and returns a string
    #   required:
    #     - url
    # TwitterPlayerObject:
    #   type: object
    #   properties:
    #     height:
    #       type: string # Should be 'integer' but open-graph-scraper lies and returns a string
    #     stream:
    #       type: string
    #     url:
    #       type: string
    #     width:
    #       type: string # Should be 'integer' but open-graph-scraper lies and returns a string
    #   required:
    #     - url
    ImageObject:
      type: object
      properties:
        height:
          type: string # Should be 'integer' but open-graph-scraper lies and returns a string
        type:
          type: string
        url:
          type: string
        width:
          type: string # Should be 'integer' but open-graph-scraper lies and returns a string
        alt:
          type: string
      required:
        - url
    VideoObject:
      type: object
      properties:
        height:
          type: string # Should be 'integer' but open-graph-scraper lies and returns a string
        type:
          type: string
        url:
          type: string
        width:
          type: string # Should be 'integer' but open-graph-scraper lies and returns a string
      required:
        - url
    # MusicSongObject:
    #   type: object
    #   properties:
    #     disc:
    #       type: string
    #     track:
    #       type: string # Should be 'integer' but open-graph-scraper lies and returns a string
    #     url:
    #       type: string
    #   required:
    #     - url
    OgObject:
      # Adapted from https://github.com/jshemas/openGraphScraper/blob/80b1800c377f5a647e365f07a2262e997a9b897c/lib/types.ts#L118-L347
      type: object
      properties:
        # alAndroidAppName:
        #   type: string
        # alAndroidClass:
        #   type: string
        # alAndroidPackage:
        #   type: string
        # alAndroidUrl:
        #   type: string
        # alIosAppName:
        #   type: string
        # alIosAppStoreId:
        #   type: string
        # alIosUrl:
        #   type: string
        # alIpadAppName:
        #   type: string
        # alIpadAppStoreId:
        #   type: string
        # alIpadUrl:
        #   type: string
        # alIphoneAppName:
        #   type: string
        # alIphoneAppStoreId:
        #   type: string
        # alIphoneUrl:
        #   type: string
        # alWebShouldFallback:
        #   type: string
        # alWebUrl:
        #   type: string
        # alWindowsAppId:
        #   type: string
        # alWindowsAppName:
        #   type: string
        # alWindowsPhoneAppId:
        #   type: string
        # alWindowsPhoneAppName:
        #   type: string
        # alWindowsPhoneUrl:
        #   type: string
        # alWindowsUniversalAppId:
        #   type: string
        # alWindowsUniversalAppName:
        #   type: string
        # alWindowsUniversalUrl:
        #   type: string
        # alWindowsUrl:
        #   type: string
        # articleAuthor:
        #   type: string
        # articleExpirationTime:
        #   type: string
        # articleModifiedTime:
        #   type: string
        # articlePublishedDate:
        #   type: string
        # articlePublishedTime:
        #   type: string
        # articleModifiedDate:
        #   type: string
        # articlePublisher:
        #   type: string
        # articleSection:
        #   type: string
        # articleTag:
        #   type: string
        # author:
        #   type: string
        # bookAuthor:
        #   type: string
        # bookCanonicalName:
        #   type: string
        # bookIsbn:
        #   type: string
        # bookReleaseDate:
        #   type: string
        # booksBook:
        #   type: string
        # booksRatingScale:
        #   type: string
        # booksRatingValue:
        #   type: string
        # bookTag:
        #   type: string
        # businessContactDataCountryName:
        #   type: string
        # businessContactDataLocality:
        #   type: string
        # businessContactDataPostalCode:
        #   type: string
        # businessContactDataRegion:
        #   type: string
        # businessContactDataStreetAddress:
        #   type: string
        # charset:
        #   type: string
        # customMetaTags:
        #   type: object
        #   additionalProperties:
        #     oneOf:
        #       - type: string
        #       - type: array
        #         items:
        #           type: string
        # dcContributor:
        #   type: string
        # dcCoverage:
        #   type: string
        # dcCreator:
        #   type: string
        # dcDate:
        #   type: string
        # dcDateCreated:
        #   type: string
        # dcDateIssued:
        #   type: string
        # dcDescription:
        #   type: string
        # dcFormatMedia:
        #   type: string
        # dcFormatSize:
        #   type: string
        # dcIdentifier:
        #   type: string
        # dcLanguage:
        #   type: string
        # dcPublisher:
        #   type: string
        # dcRelation:
        #   type: string
        # dcRights:
        #   type: string
        # dcSource:
        #   type: string
        # dcSubject:
        #   type: string
        # dcTitle:
        #   type: string
        # dcType:
        #   type: string
        # error:
        #   type: string
        # errorDetails:
        #   type: object
        favicon:
          type: string
        # fbAppId:
        #   type: string
        # jsonLD:
        #   type: array
        #   items:
        #     type: object
        modifiedTime:
          type: string
        # musicAlbum:
        #   type: string
        # musicAlbumDisc:
        #   type: string
        # musicAlbumTrack:
        #   type: string
        # musicAlbumUrl:
        #   type: string
        # musicCreator:
        #   type: string
        # musicDuration:
        #   type: string
        # musicMusician:
        #   type: string
        # musicPlaylist:
        #   type: string
        # musicRadioStation:
        #   type: string
        # musicReleaseDate:
        #   type: string
        # musicSong:
        #   type: array
        #   items:
        #     $ref: "#/components/schemas/MusicSongObject"
        ogArticleAuthor:
          type: string
        ogArticleExpirationTime:
          type: string
        ogArticleModifiedTime:
          type: string
        ogArticlePublishedTime:
          type: string
        ogArticlePublisher:
          type: string
        ogArticleSection:
          type: string
        ogArticleTag:
          type: string
        ogAudio:
          type: string
        ogAudioSecureURL:
          type: string
        ogAudioType:
          type: string
        ogAudioURL:
          type: string
        ogAvailability:
          type: string
        ogDate:
          type: string
        ogDescription:
          type: string
        ogDeterminer:
          type: string
        ogEpisode:
          type: string
        ogImage:
          type: array
          items:
            $ref: "#/components/schemas/ImageObject"
        ogLocale:
          type: string
        ogLocaleAlternate:
          type: string
        ogLogo:
          type: string
        ogMovie:
          type: string
        ogPriceAmount:
          type: string
        ogPriceCurrency:
          type: string
        ogProductAvailability:
          type: string
        ogProductCondition:
          type: string
        ogProductPriceAmount:
          type: string
        ogProductPriceCurrency:
          type: string
        ogProductRetailerItemId:
          type: string
        ogSiteName:
          type: string
        ogTitle:
          type: string
        ogType:
          type: string
        ogUrl:
          type: string
        ogVideo:
          type: array
          items:
            $ref: "#/components/schemas/VideoObject"
        ogVideoActor:
          type: string
        ogVideoActorId:
          type: string
        ogVideoActorRole:
          type: string
        ogVideoDirector:
          type: string
        ogVideoDuration:
          type: string
        ogVideoOther:
          type: string
        ogVideoReleaseDate:
          type: string
        ogVideoSecureURL:
          type: string
        ogVideoSeries:
          type: string
        ogVideoTag:
          type: string
        ogVideoTvShow:
          type: string
        ogVideoWriter:
          type: string
        ogWebsite:
          type: string
        # placeLocationLatitude:
        #   type: string
        # placeLocationLongitude:
        #   type: string
        # profileFirstName:
        #   type: string
        # profileGender:
        #   type: string
        # profileLastName:
        #   type: string
        # profileUsername:
        #   type: string
        # publishedTime:
        #   type: string
        # releaseDate:
        #   type: string
        # requestUrl:
        #   type: string
        # restaurantContactInfoCountryName:
        #   type: string
        # restaurantContactInfoEmail:
        #   type: string
        # restaurantContactInfoLocality:
        #   type: string
        # restaurantContactInfoPhoneNumber:
        #   type: string
        # restaurantContactInfoPostalCode:
        #   type: string
        # restaurantContactInfoRegion:
        #   type: string
        # restaurantContactInfoStreetAddress:
        #   type: string
        # restaurantContactInfoWebsite:
        #   type: string
        # restaurantMenu:
        #   type: string
        # restaurantRestaurant:
        #   type: string
        # restaurantSection:
        #   type: string
        # restaurantVariationPriceAmount:
        #   type: string
        # restaurantVariationPriceCurrency:
        #   type: string
        # success:
        #   type: boolean
        # twitterAccount:
        #   type: string
        # twitterAppIdGooglePlay:
        #   type: string
        # twitterAppIdiPad:
        #   type: string
        # twitterAppIdiPhone:
        #   type: string
        # twitterAppNameGooglePlay:
        #   type: string
        # twitterAppNameiPad:
        #   type: string
        # twitterAppNameiPhone:
        #   type: string
        # twitterAppUrlGooglePlay:
        #   type: string
        # twitterAppUrliPad:
        #   type: string
        # twitterAppUrliPhone:
        #   type: string
        # twitterCard:
        #   type: string
        # twitterCreator:
        #   type: string
        # twitterCreatorId:
        #   type: string
        # twitterDescription:
        #   type: string
        # twitterImage:
        #   type: array
        #   items:
        #     $ref: "#/components/schemas/TwitterImageObject"
        # twitterPlayer:
        #   type: array
        #   items:
        #     $ref: "#/components/schemas/TwitterPlayerObject"
        # twitterPlayerStreamContentType:
        #   type: string
        # twitterSite:
        #   type: string
        # twitterSiteId:
        #   type: string
        # twitterTitle:
        #   type: string
        # twitterUrl:
        #   type: string
        updatedTime:
          type: string
    OembedData:
      # Adapted from https://github.com/extractus/oembed-extractor/blob/e3b9aff4084118e12b6e98bdf997a78901ea6dfd/index.d.ts#L30-L107
      type: object
      description: Basic data structure of every oembed response see https://oembed.com/
      required:
        - type
        - version
      properties:
        type:
          type: string
          # enum:
          #   - rich
          #   - video
          #   - photo
          #   - link
        version:
          type: [string, "null"]
        title:
          type: [string, "null"]
          description: A text title, describing the resource.
        author_name:
          type: [string, "null"]
          description: The name of the author/owner of the resource.
        author_url:
          type: [string, "null"]
          description: A URL for the author/owner of the resource.
        provider_name:
          type: [string, "null"]
          description: The name of the resource provider.
        provider_url:
          type: [string, "null"]
          description: The url of the resource provider.
        cache_age:
          type: [string, "null"]
          description: The suggested cache lifetime for this resource, in seconds. Consumers may choose to use this value or not.
        thumbnail_url:
          type: [string, "null"]
          description: A URL to a thumbnail image representing the resource. The thumbnail must respect any maxwidth and maxheight parameters. If this parameter is present, thumbnail_width and thumbnail_height must also be present.
        thumbnail_width:
          type: [number, "null"]
          description: The width of the optional thumbnail. If this parameter is present, thumbnail_url and thumbnail_height must also be present.
        thumbnail_height:
          type: [number, "null"]
          description: The height of the optional thumbnail. If this parameter is present, thumbnail_url and thumbnail_width must also be present.
    OembedLinkData:
      allOf:
        - $ref: "#/components/schemas/OembedData"
        - type: object
          required:
            - type
          properties:
            type:
              type: string
              enum:
                - link
    OembedPhotoData:
      allOf:
        - $ref: "#/components/schemas/OembedData"
        - type: object
          required:
            - type
            - url
            - width
            - height
          properties:
            type:
              type: string
              enum:
                - photo
            url:
              type: [string, "null"]
              description: The source URL of the image. Consumers should be able to insert this URL into an <img> element. Only HTTP and HTTPS URLs are valid.
            width:
              type: [number, "null"]
              description: The width in pixels of the image specified in the url parameter.
            height:
              type: [number, "null"]
              description: The height in pixels of the image specified in the url parameter.
    OembedVideoData:
      allOf:
        - $ref: "#/components/schemas/OembedData"
        - type: object
          required:
            - type
            - html
            - width
            - height
          properties:
            type:
              type: string
              enum:
                - video
            html:
              type: [string, "null"]
              description: The HTML required to embed a video player. The HTML should have no padding or margins. Consumers may wish to load the HTML in an off-domain iframe to avoid XSS vulnerabilities.
            width:
              type: [number, "null"]
              description: The width in pixels required to display the HTML.
            height:
              type: [number, "null"]
              description: The height in pixels required to display the HTML.
    OembedRichData:
      allOf:
        - $ref: "#/components/schemas/OembedData"
        - type: object
          required:
            - type
            - html
            - width
            - height
          properties:
            type:
              type: string
              enum:
                - rich
            html:
              type: [string, "null"]
              description: The HTML required to display the resource. The HTML should have no padding or margins. Consumers may wish to load the HTML in an off-domain iframe to avoid XSS vulnerabilities. The markup should be valid XHTML 1.0 Basic.
            width:
              type: [number, "null"]
              description: The width in pixels required to display the HTML.
            height:
              type: [number, "null"]
              description: The height in pixels required to display the HTML.
    EmbedUrlMetadata:
      type: object
      required:
        - _status
      properties:
        _status:
          type: string
        content_type:
          type: [string, "null"]
        content_length:
          type: [integer, "null"]
        image:
          type: object
          properties:
            height_px:
              type: integer
            width_px:
              type: integer
        video:
          type: object
          properties:
            duration_s:
              type: number
            stream:
              type: array
              items:
                type: object
                properties:
                  codec_name:
                    type: string
                  height_px:
                    type: integer
                  width_px:
                    type: integer
        html:
          allOf:
            - $ref: "#/components/schemas/OgObject"
            - type: object
              properties:
                oembed:
                  oneOf:
                    - $ref: "#/components/schemas/OembedRichData"
                    - $ref: "#/components/schemas/OembedVideoData"
                    - $ref: "#/components/schemas/OembedPhotoData"
                    - $ref: "#/components/schemas/OembedLinkData"
                  discriminator:
                    propertyName: type
                    mapping:
                      rich: "#/components/schemas/OembedRichData"
                      video: "#/components/schemas/OembedVideoData"
                      photo: "#/components/schemas/OembedPhotoData"
                      link: "#/components/schemas/OembedLinkData"
    ChannelMemberRole:
      type: string
      description: The role of a channel member
      enum:
        - member
        - moderator
    CastId:
      type: object
      required:
        - fid
        - hash
      properties:
        fid:
          $ref: "#/components/schemas/Fid"
        hash:
          type: string
    EmbedCast:
      type: object
      required:
        - cast
      properties:
        cast_id:
          $ref: "#/components/schemas/CastId"
          deprecated: true
          description: '[DEPRECATED: Use "cast" key instead]'
        cast:
          $ref: "#/components/schemas/CastEmbedded"
    EmbedCastDeep:
      type: object
      required:
        - cast
      properties:
        cast_id:
          $ref: "#/components/schemas/CastId"
          deprecated: true
          description: '[DEPRECATED: Use "cast" key instead]'
        cast:
          $ref: "#/components/schemas/CastDehydrated"
    Frame:
      type: object
      required:
        - version
        - image
        - frames_url
      properties:
        version:
          type: string
          description: Version of the frame
        image:
          type: string
          description: URL of the image
        buttons:
          type: array
          items:
            $ref: "#/components/schemas/FrameActionButton"
        post_url:
          type: string
          description: Post URL to take an action on this frame
        frames_url:
          type: string
          description: URL of the frames
        title:
          type: string
        image_aspect_ratio:
          type: string
        input:
          type: object
          properties:
            text:
              type: string
              description: Input text for the frame
        state:
          type: object
          properties:
            serialized:
              type: string
              description: State for the frame in a serialized format

    SubscriptionTier:
      type: object
      properties:
        id:
          type: integer
          examples:
            - 1
        price:
          type: object
          properties:
            period_duration_seconds:
              type: integer
              examples:
                - 2592000
            tokens_per_period:
              type: string
              examples:
                - "3000000000000000"
            initial_mint_price:
              type: string
              examples:
                - "0"
    SubscribedTo:
      allOf:
        - $ref: "#/components/schemas/Subscription"
        - type: object
          required:
            - expires_at
            - subscribed_at
            - tier
            - creator
          properties:
            expires_at:
              type: string
              format: date-time
              examples:
                - "2023-09-13T22:10:22.000Z"
            subscribed_at:
              type: string
              format: date-time
              examples:
                - "2023-09-13T22:10:22.000Z"
            tier:
              $ref: "#/components/schemas/SubscriptionTier"
            creator:
              $ref: "#/components/schemas/User"
    Subscriber:
      type: object
      required:
        - object
        - user
        - subscribed_to
      properties:
        object:
          type: string
          examples:
            - "subscriber"
        user:
          $ref: "#/components/schemas/User"
        subscribed_to:
          $ref: "#/components/schemas/SubscribedToObject"
    ValidateFrameActionReqBody:
      type: object
      required:
        - message_bytes_in_hex
      properties:
        message_bytes_in_hex:
          type: string
          description: Hexadecimal string of message bytes.
        cast_reaction_context:
          default: true
          type: boolean
          description: Adds viewer_context inside the cast object to indicate whether the interactor reacted to the cast housing the frame.
        follow_context:
          default: false
          type: boolean
          description: Adds viewer_context inside the user (interactor) object to indicate whether the interactor follows or is followed by the cast author.
        signer_context:
          default: false
          type: boolean
          description: Adds context about the app used by the user inside `frame.action`.
        channel_follow_context:
          default: false
          type: boolean
          description: Adds context about the channel that the cast belongs to inside of the cast object.
    RemoveChannelMemberReqBody:
      type: object
      required:
        - signer_uuid
        - channel_id
        - fid
        - role
      properties:
        signer_uuid:
          $ref: "#/components/schemas/SignerUUID"
        channel_id:
          $ref: "#/components/schemas/ChannelId"
        fid:
          $ref: "#/components/schemas/Fid"
        role:
          $ref: "#/components/schemas/ChannelMemberRole"
    Subscriptions:
      type: object
      required:
        - object
        - subscriptions_created
      properties:
        object:
          type: string
        subscriptions_created:
          type: array
          items:
            $ref: "#/components/schemas/Subscription"
    Subscription:
      type: object
      required:
        - object
        - contract_address
        - chain
        - metadata
        - owner_address
        - price
        - protocol_version
        - token
      properties:
        object:
          type: string
          examples:
            - "subscription"
        provider_name:
          type: string
          examples:
            - "fabric_stp"
        contract_address:
          type: string
          examples:
            - "0xff63fc310d47ef80961056ac8df0b3f1a9e3ef58"
        chain:
          type: integer
          examples:
            - 8453
        metadata:
          type: object
          properties:
            title:
              type: string
              examples:
                - "/memes channel sub"
            symbol:
              type: string
              examples:
                - "MMS"
            art_url:
              type: string
              examples:
                - "https://storage.withfabric.xyz/loom/403fdc10-95f3-4b25-9d77-5aac7ccb9fd1.jpg"
          required:
            - title
            - symbol
            - art_url
        owner_address:
          type: string
          examples:
            - "0xb6f6dce6000ca88cc936b450cedb16a5c15f157f"
        price:
          type: object
          properties:
            period_duration_seconds:
              type: integer
              examples:
                - 2592000
            tokens_per_period:
              type: string
              examples:
                - "350574998400000"
            initial_mint_price:
              type: string
              examples:
                - "0"
          required:
            - period_duration_seconds
            - tokens_per_period
            - initial_mint_price
        tiers:
          type: array
          items:
            $ref: "#/components/schemas/SubscriptionTier"
        protocol_version:
          type: integer
          examples:
            - 1
        token:
          type: object
          properties:
            symbol:
              type: string
              examples:
                - "ETH"
            address:
              type: [string, "null"]
              examples:
                - null
            decimals:
              type: integer
              examples:
                - 18
            erc20:
              type: boolean
              examples:
                - false
          required:
            - symbol
            - address
            - decimals
            - erc20
    SubscribedToObject:
      type: object
      properties:
        object:
          type: string
          examples:
            - "subscription_dehydrated"
        provider_name:
          type: string
          examples:
            - "fabric_stp"
        contract_address:
          type: string
          examples:
            - "0x325b3e2c19f4900f8f4eb5f6872dc2715e77cbac"
        protocol_version:
          type: integer
          examples:
            - 1
        chain:
          type: integer
          examples:
            - 8453
        expires_at:
          type: string
          format: date-time
          examples:
            - "2023-09-13T22:10:22.000Z"
        subscribed_at:
          type: string
          format: date-time
          examples:
            - "2023-09-13T22:10:22.000Z"
        tier_id:
          type: string
          examples:
            - "0"
      required:
        - object
        - provider_name
    SubscribersResponse:
      type: object
      properties:
        subscribers:
          type: array
          items:
            $ref: "#/components/schemas/Subscriber"
    SubscribedToResponse:
      type: object
      properties:
        subscribed_to:
          type: array
          items:
            $ref: "#/components/schemas/SubscribedTo"
    SubscriptionsResponse:
      type: object
      properties:
        subscriptions_created:
          type: array
          items:
            $ref: "#/components/schemas/Subscriptions"

    FrameSignaturePacket:
      type: object
      description: The Frame Signature Packet (https://docs.farcaster.xyz/developers/frames/spec#frame-signature-packet)
      required:
        - untrustedData
        - trustedData
      properties:
        untrustedData:
          type: object
          description: Untrusted data from the user
          properties:
            fid:
              $ref: "#/components/schemas/Fid"
            url:
              type: string
              description: URL of the frame
            messageHash:
              type: string
              description: Message hash
            timestamp:
              type: string
              description: Timestamp
            network:
              type: integer
              description: Network
            buttonIndex:
              type: integer
              description: Index of the button
            inputText:
              type: string
              description: Input text
            state:
              type: string
              description: State
            transactionId:
              type: string
              description: Transaction ID
            address:
              $ref: "#/components/schemas/Address"
            castId:
              $ref: "#/components/schemas/CastId"
        trustedData:
          type: object
          description: Trusted data from the user
          properties:
            messageBytes:
              type: string
              description: Message bytes
    FrameAction:
      type: object
      required:
        - button
        - frames_url
        - post_url
      properties:
        version:
          type: string
        title:
          type: string
        image:
          type: string
        button:
          $ref: "#/components/schemas/FrameActionButton"
        input:
          $ref: "#/components/schemas/FrameInput"
        state:
          $ref: "#/components/schemas/FrameState"
        transaction:
          $ref: "#/components/schemas/FrameTransaction"
        address:
          $ref: "#/components/schemas/FrameAddress"
        frames_url:
          type: string
          description: URL of the frames
        post_url:
          type: string
          description: URL of the post to get the next frame
    FrameButtonActionType:
      type: string
      description: The action type of a frame button. Action types "mint" & "link" are to be handled on the client side only and so they will produce a no/op for POST /farcaster/frame/action.
      enum:
        - post
        - post_redirect
        - tx
        - link
        - mint
    FrameInput:
      type: object
      properties:
        text:
          type: string
          description: Input text for the frame
          examples:
            - "Draw a purple ringed planet"
    FrameState:
      type: object
      required:
        - serialized
      properties:
        serialized:
          type: string
          description: State for the frame in a serialized format
          examples:
            - "%7B%22counter%22%3A1%7D"
    FrameAddress:
      type: string
      description: The connected wallet address of the interacting user.
    FrameTransaction:
      type: object
      required:
        - hash
      properties:
        hash:
          type: string
          description: Transaction hash
          examples:
            - "0xa80de157a3ab4648db1ecfab7e6355b342215bc549f6e37be9e6da527cc024f7"
    FrameActionButton:
      type: object
      required:
        - index
        - action_type
      properties:
        title:
          type: string
          description: Title of the button
        index:
          type: integer
          description: Index of the button
        action_type:
          $ref: "#/components/schemas/FrameButtonActionType"
        target:
          type: string
          description: Target of the button
        post_url:
          type: string
          description: Used specifically for the tx action type to post a successful transaction hash
    ReactionLike:
      type: object
      required:
        - fid
      properties:
        fid:
          $ref: "#/components/schemas/Fid"
    ReactionRecast:
      type: object
      required:
        - fid
        - fname
      properties:
        fid:
          $ref: "#/components/schemas/Fid"
        fname:
          type: string
    LocationAddress:
      type: object
      required:
        - city
        - country
      properties:
        city:
          type: string
        state:
          type: string
        state_code:
          type: string
        country:
          type: string
        country_code:
          type: string
    Location:
      description: Coordinates and place names for a location
      type: object
      required:
        - latitude
        - longitude
      properties:
        latitude:
          type: number
          format: double
          minimum: -90
          maximum: 90
        longitude:
          type: number
          format: double
          minimum: -180
          maximum: 180
        address:
          $ref: "#/components/schemas/LocationAddress"
    User:
      type: object
      required:
        - object
        - fid
        - custody_address
        - username
        - profile
        - follower_count
        - following_count
        - verifications
        - verified_addresses
        - verified_accounts
        - power_badge
      properties:
        object:
          type: string
          enum:
            - user
        fid:
          $ref: "#/components/schemas/Fid"
        username:
          type: string
        display_name:
          type: string
        custody_address:
          $ref: "#/components/schemas/Address"
        pfp_url:
          type: string
          description: The URL of the user's profile picture
        profile:
          type: object
          required:
            - bio
          properties:
            bio:
              type: object
              required:
                - text
                - mentioned_profiles
              properties:
                text:
                  type: string
                mentioned_profiles:
                  type: array
                  items:
                    type: string
                  default: []
            location:
              $ref: "#/components/schemas/Location"
        follower_count:
          type: integer
          format: int32
          description: The number of followers the user has.
        following_count:
          type: integer
          format: int32
          description: The number of users the user is following.
        verifications:
          type: array
          items:
            $ref: "#/components/schemas/Address"
        verified_addresses:
          type: object
          required:
            - eth_addresses
            - sol_addresses
          properties:
            eth_addresses:
              type: array
              items:
                $ref: "#/components/schemas/Address"
            sol_addresses:
              type: array
              items:
                $ref: "#/components/schemas/SolAddress"
        verified_accounts:
          type: array
          description: Verified accounts of the user on other platforms, currently only X is supported.
          items:
            type: object
            properties:
              platform:
                type: string
                enum:
                  - x
              username:
                type: string
        power_badge:
          type: boolean
        viewer_context:
          $ref: "#/components/schemas/UserViewerContext"
    Embed:
      oneOf:
        - $ref: "#/components/schemas/EmbedUrl"
        - $ref: "#/components/schemas/EmbedCast"
    EmbedDeep:
      oneOf:
        - $ref: "#/components/schemas/EmbedUrl"
        - $ref: "#/components/schemas/EmbedCastDeep"
    CastEmbedded:
      # This should just be Cast, but have to duplicate to avoid the circular reference caused by embedded casts,
      # because Readme chokes on them.
      type: object
      required:
        - hash
        - parent_hash
        - parent_url
        - root_parent_url
        - parent_author
        - author
        - text
        - timestamp
        - type
        - embeds
        - channel
      properties:
        hash:
          type: string
        parent_hash:
          type: [string, "null"]
        parent_url:
          type: [string, "null"]
        root_parent_url:
          type: [string, "null"]
        parent_author:
          type: object
          required:
            - fid
          properties:
            fid:
              oneOf:
                - type: "null"
                - $ref: "#/components/schemas/Fid"
        author:
          $ref: "#/components/schemas/UserDehydrated"
        text:
          type: string
        timestamp:
          $ref: "#/components/schemas/Timestamp"
        type:
          $ref: "#/components/schemas/CastNotificationType"
        embeds:
          type: array
          items:
            $ref: "#/components/schemas/EmbedDeep"
        channel:
          oneOf:
            - type: "null"
            - $ref: "#/components/schemas/DehydratedChannel"
    Cast:
      type: object
      required:
        - hash
        - parent_hash
        - parent_url
        - root_parent_url
        - parent_author
        - author
        - text
        - timestamp
        - embeds
      properties:
        hash:
          type: string
        parent_hash:
          type: [string, "null"]
        parent_url:
          type: [string, "null"]
        root_parent_url:
          type: [string, "null"]
        parent_author:
          type: object
          required:
            - fid
          properties:
            fid:
              oneOf:
                - type: "null"
                - $ref: "#/components/schemas/Fid"
        author:
          $ref: "#/components/schemas/User"
        text:
          type: string
        timestamp:
          $ref: "#/components/schemas/Timestamp"
        embeds:
          type: array
          items:
            $ref: "#/components/schemas/Embed"
        type:
          $ref: "#/components/schemas/CastNotificationType"
    ProfileUrl:
      type: object
      required:
        - pfp
      properties:
        pfp:
          type: object
          required:
            - url
          properties:
            url:
              type: string
    SearchedUser:
      anyOf:
        - $ref: "#/components/schemas/User"
        - $ref: "#/components/schemas/ProfileUrl"
    SignedKeyRequestSponsor:
      type: object
      properties:
        fid:
          $ref: "#/components/schemas/Fid"
          description: FID of the sponsor
        signature:
          type: string
          description: Signature generated by the fid of the sponsor and the signature generated from signKeyRequest for the app.
        sponsored_by_neynar:
          type: boolean
          description: |
            Neynar will sponsor the signer if set to true.
            **Note: ** If sponsor.fid and sponsor.signature are provided along with sponsored_by_neynar set to true, 
            the sponsor.fid and sponsor.signature will be ignored. 
            Neynar will sponsor the signer on behalf of the user. The developer will get charged in compute units.
    RegisterSignerKeyReqBody:
      type: object
      required:
        - signer_uuid
        - signature
        - app_fid
        - deadline
      properties:
        signer_uuid:
          $ref: "#/components/schemas/SignerUUID"
        signature:
          type: string
          description: Signature generated by the custody address of the app. Signed data includes app_fid, deadline, signer’s public key
        app_fid:
          $ref: "#/components/schemas/Fid"
          description: Application FID
        deadline:
          type: integer
          description: unix timestamp in seconds that controls how long the signed key request is valid for. (24 hours from now is recommended)
        redirect_url:
          type: string
          description: |
            Url to redirect to after the signer is approved. 
            **Note** : This should only be used when requesting a signer from a native mobile application.
        sponsor:
          $ref: "#/components/schemas/SignedKeyRequestSponsor"
    RegisterDeveloperManagedSignedKeyReqBody:
      type: object
      required:
        - public_key
        - signature
        - app_fid
        - deadline
      properties:
        public_key:
          $ref: "#/components/schemas/Ed25519PublicKey"
        signature:
          type: string
          description: Signature generated by the custody address of the app. Signed data includes app_fid, deadline, signer’s public key
          examples:
            - "0x7867e84cb6a64bf6e1954e52884133f1114eb3fd97f63ff55fa76c77c80beb6434eea9d3736b59caa3130d63121177acc752dc8a2561e9edf700642f390f92d11b"
        app_fid:
          $ref: "#/components/schemas/Fid"
          description: Application FID
        deadline:
          type: integer
          description: unix timestamp in seconds that controls how long the signed key request is valid for. (24 hours from now is recommended)
        redirect_url:
          type: string
          description: |
            Url to redirect to after the signer is approved. 
            **Note** : This should only be used when requesting a signer from a native mobile application.
        sponsor:
          $ref: "#/components/schemas/SignedKeyRequestSponsor"
    CastParent:
      type: string
      description: parent_url of the channel the cast is in, or hash of the cast
    PostCastReqBodyEmbedsCastIdProperties:
      type: object
      required:
        - hash
        - fid
      properties:
        hash:
          type: string
        fid:
          $ref: "#/components/schemas/Fid"
    PostCastReqBodyEmbeds:
      type: object
      properties:
        cast_id:
          $ref: "#/components/schemas/PostCastReqBodyEmbedsCastIdProperties"
        castId:
          $ref: "#/components/schemas/PostCastReqBodyEmbedsCastIdProperties"
        url:
          type: string
      oneOf:
        - required: ["cast_id"]
        - required: ["castId"]
        - required: ["url"]
    PostCastReqBody:
      type: object
      required:
        - signer_uuid
      properties:
        signer_uuid:
          $ref: "#/components/schemas/SignerUUID"
        text:
          type: string
        embeds:
          type: array
          items:
            $ref: "#/components/schemas/PostCastReqBodyEmbeds"
        parent:
          $ref: "#/components/schemas/CastParent"
        channel_id:
          type: string
          description: Channel ID of the channel where the cast is to be posted. e.g. neynar, farcaster, warpcast
          examples:
            - "neynar"
        idem:
          $ref: "#/components/schemas/Idem"
        parent_author_fid:
          $ref: "#/components/schemas/Fid"
    MuteReqBody:
      type: object
      required:
        - fid
        - muted_fid
      properties:
        fid:
          $ref: "#/components/schemas/Fid"
        muted_fid:
          $ref: "#/components/schemas/Fid"
    BlockReqBody:
      type: object
      required:
        - signer_uuid
        - blocked_fid
      properties:
        signer_uuid:
          $ref: "#/components/schemas/SignerUUID"
        blocked_fid:
          $ref: "#/components/schemas/Fid"
    BanReqBody:
      type: object
      required:
        - fids
      properties:
        fids:
          type: array
          items:
            $ref: "#/components/schemas/Fid"
    ReactionReqBody:
      type: object
      required:
        - signer_uuid
        - reaction_type
        - target
      properties:
        signer_uuid:
          $ref: "#/components/schemas/SignerUUID"
        reaction_type:
          $ref: "#/components/schemas/ReactionType"
        target:
          type: string
        target_author_fid:
          $ref: "#/components/schemas/Fid"
          description: If the target is a cast hash, this value should indicate the target cast's author's FID (unsigned integer)
        idem:
          $ref: "#/components/schemas/Idem"
    ChannelType:
      type: string
      enum:
        - "id"
        - "parent_url"
    PublishMessageReqBody:
      type: object
    PublishMessageResponse:
      type: object
    DeleteCastReqBody:
      type: object
      required:
        - signer_uuid
        - target_hash
      properties:
        signer_uuid:
          $ref: "#/components/schemas/SignerUUID"
        target_hash:
          $ref: "#/components/schemas/CastHash"
    FollowReqBody:
      type: object
      required:
        - signer_uuid
        - target_fids
      properties:
        signer_uuid:
          $ref: "#/components/schemas/SignerUUID"
        target_fids:
          type: array
          items:
            $ref: "#/components/schemas/Fid"
    FrameDeveloperManagedActionReqBody:
      type: object
      required:
        - action
        - signature_packet
      properties:
        cast_hash:
          $ref: "#/components/schemas/CastHash"
        action:
          $ref: "#/components/schemas/FrameAction"
        signature_packet:
          $ref: "#/components/schemas/FrameSignaturePacket"
    FrameActionReqBody:
      type: object
      required:
        - signer_uuid
        - action
      properties:
        signer_uuid:
          $ref: "#/components/schemas/SignerUUID"
        cast_hash:
          $ref: "#/components/schemas/CastHash"
        action:
          $ref: "#/components/schemas/FrameAction"
    AddVerificationReqBody:
      "x-is-request-body": true
      type: object
      required:
        - signer_uuid
        - address
        - block_hash
        - eth_signature
      properties:
        signer_uuid:
          $ref: "#/components/schemas/SignerUUID"
        address:
          $ref: "#/components/schemas/Address"
        block_hash:
          type: string
        eth_signature:
          type: string
        verification_type:
          $ref: "#/components/schemas/VerificationType"
        chain_id:
          $ref: "#/components/schemas/VerificationChainId"
    RemoveVerificationReqBody:
      type: object
      required:
        - signer_uuid
        - address
        - block_hash
        - eth_signature
      properties:
        signer_uuid:
          $ref: "#/components/schemas/SignerUUID"
        address:
          $ref: "#/components/schemas/Address"
    UpdateUserReqBody:
      type: object
      required:
        - signer_uuid
      properties:
        signer_uuid:
          $ref: "#/components/schemas/SignerUUID"
        bio:
          type: string
        pfp_url:
          type: string
        url:
          type: string
        username:
          type: string
        display_name:
          type: string
        location:
          type: object
          required:
            - latitude
            - longitude
          properties:
            latitude:
              type: number
              format: double
              minimum: -90
              maximum: 90
            longitude:
              type: number
              format: double
              minimum: -180
              maximum: 180
    CastViewerContext:
      type: object
      description: Adds context on interactions the viewer has made with the cast.
      required:
        - liked
        - recasted
      properties:
        liked:
          description: Indicates if the viewer liked the cast.
          type: boolean
        recasted:
          description: Indicates if the viewer recasted the cast.
          type: boolean
    UserViewerContext:
      type: object
      description: Adds context on the viewer's follow relationship with the user.
      required:
        - following
        - followed_by
        - blocking
        - blocked_by
      properties:
        following:
          description: Indicates if the viewer is following the user.
          type: boolean
        followed_by:
          description: Indicates if the viewer is followed by the user.
          type: boolean
        blocking:
          description: Indicates if the viewer is blocking the user.
          type: boolean
        blocked_by:
          description: Indicates if the viewer is blocked by the user.
          type: boolean
    CastWithInteractionsReactions:
      type: object
      required:
        - likes
        - recasts
        - likes_count
        - recasts_count
      properties:
        likes:
          type: array
          items:
            $ref: "#/components/schemas/ReactionLike"
        recasts:
          type: array
          items:
            $ref: "#/components/schemas/ReactionRecast"
        likes_count:
          type: integer
          format: int32
        recasts_count:
          type: integer
          format: int32
    CastWithInteractionsReplies:
      type: object
      required:
        - count
      properties:
        count:
          type: integer
          format: int32
    ChannelOrDehydratedChannel:
      oneOf:
        - $ref: "#/components/schemas/Channel"
        - $ref: "#/components/schemas/DehydratedChannel"
      discriminator:
        propertyName: object
        mapping:
          channel: "#/components/schemas/Channel"
          dehydrated_channel: "#/components/schemas/DehydratedChannel"
    CastWithInteractions:
      allOf:
        - $ref: "#/components/schemas/Cast"
        - type: object
          required:
            - reactions
            - replies
            - thread_hash
            - mentioned_profiles
            - channel
          properties:
            frames:
              type: array
              items:
                $ref: "#/components/schemas/Frame"
            reactions:
              $ref: "#/components/schemas/CastWithInteractionsReactions"
            replies:
              $ref: "#/components/schemas/CastWithInteractionsReplies"
            thread_hash:
              type: [string, "null"]
            mentioned_profiles:
              type: array
              items:
                $ref: "#/components/schemas/User"
            channel:
              oneOf:
                - $ref: "#/components/schemas/ChannelOrDehydratedChannel"
                - type: "null"
            viewer_context:
              $ref: "#/components/schemas/CastViewerContext"
            author_channel_context:
              $ref: "#/components/schemas/ChannelUserContext"
    CastWithInteractionsAndConversations:
      allOf:
        - $ref: "#/components/schemas/CastWithInteractions"
        - type: object
          required:
            - direct_replies
          properties:
            direct_replies:
              type: array
              items:
                $ref: "#/components/schemas/CastWithInteractionsAndConversationsRef"
              description: "note: This is recursive. It contains the direct replies to the cast and their direct replies up to n reply_depth."
    CastWithInteractionsAndConversationsRef:
      description: Reference to CastWithInteractionsAndConversations to avoid circular reference
      allOf:
        - $ref: "#/components/schemas/CastWithInteractions"
        - type: object
          required:
            - direct_replies
          properties:
            direct_replies:
              type: array
              items:
                type: object
              description: "note: This is recursive. It contains the direct replies to the cast and their direct replies up to n reply_depth."
    Conversation:
      type: object
      required:
        - conversation
      properties:
        conversation:
          type: object
          required:
            - cast
          properties:
            cast:
              $ref: "#/components/schemas/CastWithInteractionsAndConversations"
            chronological_parent_casts:
              type: array
              items:
                $ref: "#/components/schemas/CastWithInteractions"
        next:
          $ref: "#/components/schemas/NextCursor"
    Signer:
      type: object
      required:
        - signer_uuid
        - public_key
        - status
      properties:
        signer_uuid:
          $ref: "#/components/schemas/SignerUUID"
        public_key:
          $ref: "#/components/schemas/Ed25519PublicKey"
        status:
          type: string
          enum:
            - generated
            - pending_approval
            - approved
            - revoked
        signer_approval_url:
          type: string
        fid:
          $ref: "#/components/schemas/Fid"
    DeveloperManagedSigner:
      type: object
      required:
        - public_key
        - status
      properties:
        public_key:
          $ref: "#/components/schemas/Ed25519PublicKey"
        status:
          type: string
          enum:
            - pending_approval
            - approved
            - revoked
        signer_approval_url:
          type: string
        fid:
          $ref: "#/components/schemas/Fid"
    CastResponse:
      type: object
      required:
        - cast
      properties:
        cast:
          $ref: "#/components/schemas/CastWithInteractions"
    ChannelFollowReqBody:
      type: object
      required:
        - signer_uuid
        - channel_id
      properties:
        signer_uuid:
          $ref: "#/components/schemas/SignerUUID"
        channel_id:
          $ref: "#/components/schemas/ChannelId"
    DehydratedChannel:
      type: object
      required:
        - id
        - name
        - object
      properties:
        id:
          type: string
        name:
          type: string
        object:
          type: string
          enum:
            - channel_dehydrated
        image_url:
          type: string
        viewer_context:
          $ref: "#/components/schemas/ChannelUserContext"
    Channel:
      type: object
      required:
        - id
        - url
        - object
      properties:
        id:
          type: string
        url:
          type: string
        name:
          type: string
        description:
          type: string
        object:
          type: string
          enum:
            - channel
        created_at:
          description: Epoch timestamp in seconds.
          type: number
        follower_count:
          description: Number of followers the channel has.
          type: number
        external_link:
          type: object
          description: Channel's external link.
          properties:
            title:
              type: string
            url:
              type: string
        image_url:
          type: string
        parent_url:
          type: string
          format: uri
        lead:
          $ref: "#/components/schemas/User"
        moderator_fids:
          type: array
          items:
            $ref: "#/components/schemas/Fid"
        member_count:
          type: integer
          format: int32
        moderator:
          $ref: "#/components/schemas/User"
          deprecated: true
          description: Use `lead` instead.
        pinned_cast_hash:
          $ref: "#/components/schemas/CastHash"
          description: Hash of the pinned cast in the channel.
        hosts:
          type: array
          deprecated: true
          items:
            $ref: "#/components/schemas/User"
        viewer_context:
          $ref: "#/components/schemas/ChannelUserContext"
    ChannelViewerContext:
      deprecated: true
      type: object
      required:
        - following
      properties:
        following:
          type: boolean
          description: Indicates if the viewer is following the channel.
    ChannelUserContext:
      description: Adds context on the viewer's or author's role in the channel.
      type: object
      required:
        - following
      properties:
        following:
          description: Indicates if the user is following the channel.
          type: boolean
        role:
          $ref: "#/components/schemas/ChannelMemberRole"
    ChannelListResponse:
      type: object
      required:
        - channels
      properties:
        channels:
          type: array
          items:
            $ref: "#/components/schemas/Channel"
        next:
          $ref: "#/components/schemas/NextCursor"
    ChannelMemberInvite:
      type: object
      required:
        - channel_id
        - role
        - inviter
        - invited
      properties:
        channel_id:
          $ref: "#/components/schemas/ChannelId"
        role:
          $ref: "#/components/schemas/ChannelMemberRole"
        inviter:
          $ref: "#/components/schemas/User"
        invited:
          $ref: "#/components/schemas/User"
    InviteChannelMemberReqBody:
      type: object
      required:
        - signer_uuid
        - channel_id
        - fid
        - role
      properties:
        signer_uuid:
          $ref: "#/components/schemas/SignerUUID"
        channel_id:
          $ref: "#/components/schemas/ChannelId"
        fid:
          $ref: "#/components/schemas/Fid"
        role:
          $ref: "#/components/schemas/ChannelMemberRole"
    ChannelMember:
      type: object
      required:
        - object
        - role
        - user
        - channel
      properties:
        object:
          type: string
          enum:
            - member
        role:
          $ref: "#/components/schemas/ChannelMemberRole"
        user:
          oneOf:
            - $ref: "#/components/schemas/User"
            - $ref: "#/components/schemas/UserDehydrated"
        channel:
          oneOf:
            - $ref: "#/components/schemas/Channel"
            - $ref: "#/components/schemas/DehydratedChannel"
    ChannelMemberListResponse:
      type: object
      required:
        - members
        - next
      properties:
        members:
          type: array
          items:
            $ref: "#/components/schemas/ChannelMember"
        next:
          $ref: "#/components/schemas/NextCursor"
    ChannelMemberInviteListResponse:
      type: object
      required:
        - invites
      properties:
        invites:
          type: array
          items:
            $ref: "#/components/schemas/ChannelMemberInvite"
        next:
          $ref: "#/components/schemas/NextCursor"
    ChannelSearchResponse:
      type: object
      required:
        - channels
        - next
      properties:
        channels:
          type: array
          items:
            $ref: "#/components/schemas/Channel"
        next:
          $ref: "#/components/schemas/NextCursor"
    ChannelResponse:
      type: object
      required:
        - channel
      properties:
        channel:
          $ref: "#/components/schemas/Channel"
    ChannelResponseBulk:
      type: object
      required:
        - channels
      properties:
        channels:
          type: array
          items:
            $ref: "#/components/schemas/Channel"
    UserSearchResponse:
      type: object
      required:
        - result
      properties:
        result:
          type: object
          required:
            - users
          properties:
            users:
              type: array
              items:
                $ref: "#/components/schemas/SearchedUser"
            next:
              $ref: "#/components/schemas/NextCursor"
    ChannelActivity:
      type: object
      required:
        - object
        - cast_count_1d
        - cast_count_7d
        - cast_count_30d
        - channel
      properties:
        object:
          type: string
          enum:
            - channel_activity
        cast_count_1d:
          type: string
        cast_count_7d:
          type: string
        cast_count_30d:
          type: string
        channel:
          $ref: "#/components/schemas/Channel"
    TrendingChannelResponse:
      type: object
      required:
        - channels
        - next
      properties:
        channels:
          type: array
          items:
            $ref: "#/components/schemas/ChannelActivity"
        next:
          $ref: "#/components/schemas/NextCursor"
    BulkCastsResponse:
      type: object
      required:
        - casts
      properties:
        casts:
          type: array
          items:
            $ref: "#/components/schemas/CastWithInteractions"
    CastsResponse:
      type: object
      required:
        - result
      properties:
        result:
          type: object
          required:
            - casts
          properties:
            casts:
              type: array
              items:
                $ref: "#/components/schemas/CastWithInteractions"
    CastsSearchResponse:
      type: object
      required:
        - result
      properties:
        result:
          type: object
          required:
            - casts
            - next
          properties:
            casts:
              type: array
              items:
                $ref: "#/components/schemas/CastWithInteractions"
            next:
              $ref: "#/components/schemas/NextCursor"
    FeedResponse:
      type: object
      required:
        - casts
        - next
      properties:
        casts:
          type: array
          items:
            $ref: "#/components/schemas/CastWithInteractions"
        next:
          $ref: "#/components/schemas/NextCursor"
    PostCastResponse:
      type: object
      required:
        - success
        - cast
      properties:
        success:
          type: boolean
        cast:
          type: object
          required:
            - hash
            - author
            - text
          properties:
            hash:
              $ref: "#/components/schemas/CastHash"
            author:
              type: object
              required:
                - fid
              properties:
                fid:
                  $ref: "#/components/schemas/Fid"
            text:
              type: string
    OperationResponse:
      type: object
      properties:
        success:
          type: boolean
        message:
          type: string
    FollowResponse:
      type: object
      required:
        - success
        - target_fid
        - hash
      properties:
        success:
          type: boolean
        target_fid:
          $ref: "#/components/schemas/Fid"
        hash:
          type: string
    BulkFollowResponse:
      type: object
      required:
        - success
        - details
      properties:
        success:
          type: boolean
        details:
          type: array
          items:
            $ref: "#/components/schemas/FollowResponse"
    NotificationsResponse:
      type: object
      required:
        - unseen_notifications_count
        - notifications
        - next
      properties:
        unseen_notifications_count:
          type: integer
          format: int32
        notifications:
          type: array
          items:
            $ref: "#/components/schemas/Notification"
        next:
          $ref: "#/components/schemas/NextCursor"
    Notification:
      type: object
      required:
        - object
        - most_recent_timestamp
        - type
        - seen
      properties:
        object:
          type: string
        most_recent_timestamp:
          type: string
          format: date-time
        type:
          type: string
          enum:
            - follows
            - recasts
            - likes
            - mention
            - reply
        seen:
          type: boolean
        follows:
          type: array
          items:
            $ref: "#/components/schemas/Follow"
        cast:
          $ref: "#/components/schemas/CastWithInteractions"
        reactions:
          type: array
          items:
            $ref: "#/components/schemas/ReactionWithUserInfo"
        count:
          type: integer
          format: int32
          description: The number of notifications of this(follows, likes, recast) type bundled in a single notification.
    Follow:
      type: object
      required:
        - object
        - user
      properties:
        object:
          type: string
          enum:
            - follow
        user:
          $ref: "#/components/schemas/User"
    CastDehydrated:
      type: object
      required:
        - object
        - hash
      properties:
        object:
          type: string
          enum:
            - cast_dehydrated
        hash:
          type: string
        author:
          $ref: "#/components/schemas/UserDehydrated"
    ReactionWithUserInfo:
      type: object
      required:
        - object
        - cast
        - user
      properties:
        object:
          type: string
          enum:
            - likes
            - recasts
        cast:
          $ref: "#/components/schemas/CastDehydrated"
        user:
          $ref: "#/components/schemas/User"
    ReactionForCast:
      type: object
      required:
        - reaction_type
        - reaction_timestamp
        - object
        - user
      properties:
        reaction_type:
          type: string
          enum:
            - like
            - recast
        reaction_timestamp:
          type: string
          format: date-time
        object:
          type: string
          enum:
            - likes
            - recasts
        user:
          $ref: "#/components/schemas/User"
    ReactionWithCastInfo:
      type: object
      required:
        - reaction_type
        - cast
        - reaction_timestamp
        - object
        - user
      properties:
        reaction_type:
          type: string
          enum:
            - like
            - recast
        cast:
          $ref: "#/components/schemas/CastWithInteractions"
        reaction_timestamp:
          type: string
          format: date-time
        object:
          type: string
          enum:
            - likes
            - recasts
        user:
          $ref: "#/components/schemas/UserDehydrated"
    RelevantFollowersResponse:
      type: object
      required:
        - top_relevant_followers_hydrated
        - all_relevant_followers_dehydrated
      properties:
        top_relevant_followers_hydrated:
          type: array
          items:
            $ref: "#/components/schemas/HydratedFollower"
        all_relevant_followers_dehydrated:
          type: array
          items:
            $ref: "#/components/schemas/DehydratedFollower"
    HydratedFollower:
      type: object
      properties:
        object:
          type: string
          enum:
            - follow
        user:
          $ref: "#/components/schemas/User"
    DehydratedFollower:
      type: object
      properties:
        object:
          type: string
          enum:
            - follow
        user:
          $ref: "#/components/schemas/UserDehydrated"
    UserDehydrated:
      type: object
      required:
        - object
        - fid
      properties:
        object:
          type: string
          enum:
            - user_dehydrated
        fid:
          $ref: "#/components/schemas/Fid"
        username:
          type: string
        display_name:
          type: string
        pfp_url:
          type: string
    UserResponse:
      type: object
      required:
        - user
      properties:
        user:
          $ref: "#/components/schemas/User"
    ReactionsResponse:
      type: object
      required:
        - reactions
        - next
      properties:
        reactions:
          type: array
          items:
            $ref: "#/components/schemas/ReactionWithCastInfo"
        next:
          $ref: "#/components/schemas/NextCursor"
    ReactionsCastResponse:
      type: object
      required:
        - reactions
        - next
      properties:
        reactions:
          type: array
          items:
            $ref: "#/components/schemas/ReactionForCast"
        next:
          $ref: "#/components/schemas/NextCursor"
    StorageAllocationsResponse:
      type: object
      properties:
        total_active_units:
          type: integer
          examples:
            - 13
        allocations:
          type: array
          items:
            $ref: "#/components/schemas/StorageAllocation"
    StorageAllocation:
      type: object
      properties:
        object:
          type: string
          examples:
            - "storage_allocation"
        user:
          $ref: "#/components/schemas/UserDehydrated"
        units:
          type: integer
          examples:
            - 10
        expiry:
          type: string
          format: date-time
          examples:
            - "2024-10-08T22:03:49.000Z"
        timestamp:
          type: string
          format: date-time
          examples:
            - "2023-10-09T22:03:49.000Z"
    StorageUsageResponse:
      type: object
      properties:
        object:
          type: string
          examples:
            - "storage_usage"
        user:
          $ref: "#/components/schemas/UserDehydrated"
        casts:
          $ref: "#/components/schemas/StorageObject"
        reactions:
          $ref: "#/components/schemas/StorageObject"
        links:
          $ref: "#/components/schemas/StorageObject"
        verified_addresses:
          $ref: "#/components/schemas/StorageObject"
        username_proofs:
          $ref: "#/components/schemas/StorageObject"
        signers:
          $ref: "#/components/schemas/StorageObject"
        total_active_units:
          type: integer
          examples:
            - 2
    StorageObject:
      type: object
      properties:
        object:
          type: string
          examples:
            - "storage"
        used:
          type: integer
          examples:
            - 3659
        capacity:
          type: integer
          examples:
            - 10000
    BulkUsersResponse:
      type: object
      required:
        - users
      properties:
        users:
          type: array
          items:
            $ref: "#/components/schemas/User"
    UsersResponse:
      type: object
      required:
        - users
        - next
      properties:
        users:
          type: array
          items:
            $ref: "#/components/schemas/User"
        next:
          $ref: "#/components/schemas/NextCursor"
    FollowersResponse:
      type: object
      required:
        - users
        - next
      properties:
        users:
          type: array
          items:
            $ref: "#/components/schemas/HydratedFollower"
        next:
          $ref: "#/components/schemas/NextCursor"
    BulkUsersByAddressResponse:
      type: object
      additionalProperties:
        type: array
        items:
          $ref: "#/components/schemas/User"
    FeedType:
      type: string
      enum:
        - following
        - filter
    FilterType:
      type: string
      description: The type of filter to apply to the feed.
      enum:
        - fids
        - parent_url
        - channel_id
        - embed_url
        - embed_types
        - global_trending
    EmbedType:
      type: string
      description: The content type of the embedded file
      enum:
        - text
        - image
        - video
        - audio
        - text/html
        - text/plain
        - image/jpeg
        - image/png
        - image/gif
        - image/webp
        - image/svg+xml
        - image/heif
        - video/mp4
        - video/quicktime
        - audio/mpeg
        - application/pdf
        - application/json
        - application/x-mpegurl
    FnameAvailabilityResponse:
      type: object
      required:
        - available
      properties:
        available:
          type: boolean
    NeynarFrame:
      type: object
      properties:
        uuid:
          type: string
          format: uuid
          description: Unique identifier for the frame.
        name:
          type: string
          description: Name of the frame.
        link:
          type: string
          format: uri
          description: Generated link for the frame's first page.
        pages:
          type: array
          items:
            $ref: "#/components/schemas/NeynarFramePage"
        valid:
          type: boolean
          description: Indicates if the frame is valid.
      required:
        - uuid
        - name
        - pages
        - link
    NeynarFramePage:
      type: object
      properties:
        uuid:
          type: string
          format: uuid
          description: Unique identifier for the page.
        version:
          type: string
          default: "vNext"
          examples:
            - "vNext"
          description: The version of the page schema.
        title:
          type: string
          examples:
            - "Welcome to Neynar"
          description: The title of the page.
        image:
          $ref: "#/components/schemas/NeynarPageImage"
        buttons:
          type: array
          items:
            $ref: "#/components/schemas/NeynarPageButton"
        input:
          $ref: "#/components/schemas/NeynarPageInput"
      required:
        - uuid
        - title
        - version
        - image
    NeynarPageImage:
      type: object
      properties:
        url:
          type: string
          format: uri
          examples:
            - "https://i.imgur.com/qo2AzBf.jpeg"
          description: The URL of the page's image.
        aspect_ratio:
          type: string
          description: The aspect ratio of the image.
          enum:
            - "1.91:1"
            - "1:1"
      required:
        - url
        - aspect_ratio
    NeynarPageButton:
      type: object
      properties:
        title:
          type: string
          description: The title of the button.
        index:
          type: integer
          description: The index of the button, first button should have index 1 and so on.
        action_type:
          type: string
          description: The type of action that the button performs.
          enum:
            - "post"
            - "post_redirect"
            - "mint"
            - "link"
        next_page:
          oneOf:
            - $ref: "#/components/schemas/NeynarNextFramePage"
            - $ref: "#/components/schemas/NeynarNextFramePageRedirect"
            - $ref: "#/components/schemas/NeynarNextFramePageMintUrl"
      required:
        - title
        - index
        - action_type
    NeynarPageInput:
      type: object
      properties:
        text:
          type: object
          properties:
            enabled:
              type: boolean
              default: false
              description: Indicates if text input is enabled.
            placeholder:
              type: string
              description: The placeholder text for the input.
          required:
            - enabled
    NeynarNextFramePage:
      type: object
      properties:
        uuid:
          type: string
          format: uuid
          description: The UUID of the next page.
      required:
        - uuid
    NeynarNextFramePageRedirect:
      type: object
      properties:
        redirect_url:
          type: string
          format: uri
          description: The URL to redirect to.
      required:
        - redirect_url
    NeynarNextFramePageMintUrl:
      type: object
      properties:
        mint_url:
          type: string
          description: The URL for minting, specific to the mint action.
      required:
        - mint_url
    NeynarFrameCreationReqBody:
      type: object
      properties:
        name:
          type: string
          description: The name of the frame.
        pages:
          type: array
          items:
            $ref: "#/components/schemas/NeynarFramePage"
      required:
        - name
        - pages
    NeynarFrameUpdateReqBody:
      type: object
      properties:
        uuid:
          type: string
          format: uuid
          description: The UUID of the frame to update.
        name:
          type: string
          description: The name of the frame.
        pages:
          type: array
          items:
            $ref: "#/components/schemas/NeynarFramePage"
      required:
        - uuid
        - pages
    ValidatedFrameAction:
      type: object
      required:
        - cast
        - interactor
        - timestamp
        - tapped_button
        - url
        - object
        - state
      properties:
        object:
          type: string
          enum:
            - validated_frame_action
        url:
          type: string
          format: uri
        interactor:
          $ref: "#/components/schemas/User"
        tapped_button:
          type: object
          required:
            - index
          properties:
            index:
              type: integer
        input:
          $ref: "#/components/schemas/FrameInput"
        state:
          $ref: "#/components/schemas/FrameState"
        cast:
          $ref: "#/components/schemas/CastWithInteractions"
        timestamp:
          $ref: "#/components/schemas/Timestamp"
        signer:
          type: object
          properties:
            client:
              $ref: "#/components/schemas/User"
        transaction:
          $ref: "#/components/schemas/FrameTransaction"
        address:
          $ref: "#/components/schemas/FrameAddress"
    ValidateFrameActionResponse:
      type: object
      required:
        - valid
        - action
      properties:
        valid:
          type: boolean
          examples:
            - true
        action:
          $ref: "#/components/schemas/ValidatedFrameAction"
    DeleteFrameReqBody:
      type: object
      properties:
        uuid:
          type: string
          format: uuid
    UserFIDResponse:
      type: object
      required:
        - fid
      properties:
        fid:
          type: integer
    RegisterUserReqBody:
      type: object
      required:
        - signature
        - fid
        - requested_user_custody_address
        - deadline
      properties:
        signature:
          type: string
        fid:
          type: number
        requested_user_custody_address:
          type: string
        deadline:
          type: number
        fname:
          type: string
    RegisterUserResponse:
      type: object
      required:
        - success
        - message
        - signer
      properties:
        success:
          type: boolean
          enum:
            - true
        message:
          type: string
        signer:
          $ref: "#/components/schemas/Signer"
    MuteRecord:
      type: object
      required:
        - object
        - muted
        - timestamp
        - muted_at
      properties:
        object:
          type: string
          enum:
            - mute
        muted:
          $ref: "#/components/schemas/User"
        muted_at:
          $ref: "#/components/schemas/Timestamp"
    MuteListResponse:
      type: object
      required:
        - mutes
        - next
      properties:
        mutes:
          type: array
          items:
            $ref: "#/components/schemas/MuteRecord"
        next:
          $ref: "#/components/schemas/NextCursor"
    MuteResponse:
      type: object
      required:
        - success
      properties:
        success:
          type: boolean
          examples:
            - true
        message:
          type: string
    BlockRecord:
      type: object
      required:
        - object
        - timestamp
        - blocked_at
      properties:
        object:
          type: string
          enum:
            - block
        blocked:
          $ref: "#/components/schemas/User"
        blocker:
          $ref: "#/components/schemas/User"
        blocked_at:
          $ref: "#/components/schemas/Timestamp"
    BlockListResponse:
      type: object
      required:
        - blocks
        - next
      properties:
        blocks:
          type: array
          items:
            $ref: "#/components/schemas/BlockRecord"
        next:
          $ref: "#/components/schemas/NextCursor"
    BanRecord:
      type: object
      required:
        - object
        - timestamp
        - banned_at
      properties:
        object:
          type: string
          enum:
            - ban
        banned:
          $ref: "#/components/schemas/User"
        banned_at:
          $ref: "#/components/schemas/Timestamp"
    BanListResponse:
      type: object
      required:
        - bans
        - next
      properties:
        bans:
          type: array
          items:
            $ref: "#/components/schemas/BanRecord"
        next:
          $ref: "#/components/schemas/NextCursor"
    BanResponse:
      type: object
      required:
        - success
      properties:
        success:
          type: boolean
          examples:
            - true
        message:
          type: [string, "null"]
    UsersActiveChannelsResponse:
      type: object
      properties:
        channels:
          type: array
          items:
            $ref: "#/components/schemas/Channel"
        next:
          $ref: "#/components/schemas/NextCursor"
    VerificationType:
      type: integer
      format: int32
      default: 0
      enum: [0, 1]
      description: Type of verification. 0 = EOA, 1 = contract
    VerificationChainId:
      type: integer
      format: int32
      default: 0
      enum: [0, 1, 10]
      description: Chain ID for farcaster verifications. 0 for EOA verifications, 1 or 10 for contract verifications
    DeleteFrameResponse:
      type: object
      properties:
        success:
          type: boolean
        uuid:
          type: string
          format: uuid
    Webhook:
      type: object
      required:
        - object
        - webhook_id
        - developer_uuid
        - target_url
        - title
        - secrets
        - description
        - http_timeout
        - rate_limit
        - active
        - rate_limit_duration
        - created_at
        - updated_at
        - deleted_at
      properties:
        object:
          type: string
          enum:
            - webhook
        webhook_id:
          type: string
        developer_uuid:
          type: string
        target_url:
          type: string
        title:
          type: string
        secrets:
          type: array
          items:
            $ref: "#/components/schemas/WebhookSecret"
        description:
          type: string
        http_timeout:
          type: string
        rate_limit:
          type: integer
        active:
          type: boolean
        rate_limit_duration:
          type: string
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        deleted_at:
          type: string
          format: date-time
        subscription:
          $ref: "#/components/schemas/WebhookSubscription"
    WebhookSecret:
      type: object
      required:
        - uid
        - value
        - expires_at
        - created_at
        - updated_at
        - deleted_at
      properties:
        uid:
          type: string
        value:
          type: string
        expires_at:
          type: string
        created_at:
          type: string
        updated_at:
          type: string
        deleted_at:
          type: string
    WebhookSubscription:
      type: object
      required:
        - object
        - subscription_id
        - filters
        - created_at
        - updated_at
      properties:
        object:
          type: string
          enum:
            - webhook_subscription
        subscription_id:
          type: string
        filters:
          $ref: "#/components/schemas/WebhookSubscriptionFilters"
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
    WebhookSubscriptionFiltersFollow:
      type: object
      properties:
        fids:
          type: array
          items:
            type: integer
        target_fids:
          type: array
          items:
            type: integer
    WebhookSubscriptionFiltersReaction:
      type: object
      properties:
        fids:
          type: array
          items:
            type: integer
        target_fids:
          type: array
          items:
            type: integer
    WebhookSubscriptionFiltersCast:
      type: object
      properties:
        exclude_author_fids:
          description: |
            Exclude casts that matches these authors.
            **Note:**
            This is applied as an AND operation against rest of the filters.
            Rest of the filters are bundled as an OR operation.
          type: array
          items:
            type: integer
        author_fids:
          type: array
          items:
            type: integer
        mentioned_fids:
          type: array
          items:
            type: integer
        parent_urls:
          type: array
          items:
            type: string
        root_parent_urls:
          type: array
          items:
            type: string
        parent_hashes:
          type: array
          items:
            type: string
        parent_author_fids:
          type: array
          items:
            type: integer
        text:
          type: string
          description: |
            Regex pattern to match the text key of the cast.
            **Note:** 
            1) Regex must be parsed by Go's RE2 engine (Test your expression here: https://www.lddgo.net/en/string/golangregex)
            2) Use backslashes to escape special characters.
            For example: (?i)\\$degen should be written as (?i)\\\\$degen
          examples:
            - "(?i)\\$degen"
        embeds:
          type: string
          description: |
            Regex pattern to match the embeded_url (key embeds) of the cast.
            **Note:** 
            1) Regex must be parsed by Go's RE2 engine (Test your expression here: https://www.lddgo.net/en/string/golangregex)
            2) Use backslashes to escape special characters.
            For example: \\b(farcaster|neynar)\\b should be written as \\\\b(farcaster|neynar)\\\\b
          examples:
            - "\b(farcaster|neynar)\b"
    WebhookSubscriptionFilters:
      type: object
      properties:
        cast.created:
          $ref: "#/components/schemas/WebhookSubscriptionFiltersCast"
        cast.deleted:
          $ref: "#/components/schemas/WebhookSubscriptionFiltersCast"
        user.created:
          type: object
        user.updated:
          type: object
          properties:
            fids:
              type: array
              items:
                type: integer
        follow.created:
          $ref: "#/components/schemas/WebhookSubscriptionFiltersFollow"
        follow.deleted:
          $ref: "#/components/schemas/WebhookSubscriptionFiltersFollow"
        reaction.created:
          $ref: "#/components/schemas/WebhookSubscriptionFiltersReaction"
        reaction.deleted:
          $ref: "#/components/schemas/WebhookSubscriptionFiltersReaction"
    WebhookPostReqBody:
      type: object
      required:
        - name
        - url
      properties:
        name:
          type: string
        url:
          type: string
        subscription:
          $ref: "#/components/schemas/WebhookSubscriptionFilters"
    WebhookPutReqBody:
      type: object
      required:
        - name
        - url
        - webhook_id
      properties:
        name:
          type: string
        url:
          type: string
        subscription:
          $ref: "#/components/schemas/WebhookSubscriptionFilters"
        webhook_id:
          type: string
    WebhookPatchReqBody:
      type: object
      required:
        - webhook_id
        - active
      properties:
        webhook_id:
          type: string
        active:
          type: string
          enum:
            - "true"
            - "false"
    WebhookDeleteReqBody:
      type: object
      required:
        - webhook_id
      properties:
        webhook_id:
          type: string
    WebhookResponse:
      type: object
      properties:
        message:
          type: string
        success:
          type: boolean
        webhook:
          $ref: "#/components/schemas/Webhook"
    WebhookListResponse:
      type: object
      required:
        - webhooks
      properties:
        webhooks:
          type: array
          items:
            $ref: "#/components/schemas/Webhook"
    # WebhookSubscriptionResponse:
    #   type: object
    #   required:
    #   - subscription
    #   properties:
    #     subscription:
    #       $ref: '#/components/schemas/WebhookSubscription'
    # WebhookUpdateSubscriptionReqBody:
    #   type: object
    #   required:
    #     - webhook_id
    #     - subscription
    #   properties:
    #     webhook_id:
    #       type: string
    #     subscription:
    #       $ref: '#/components/schemas/WebhookSubscriptionFilters'
    FrameType:
      type: string
      enum:
        - uuid
        - url
      description: Type of identifier (either 'uuid' or 'url')
    FrameValidateListResponse:
      type: object
      required:
        - frames
      properties:
        frames:
          type: array
          items:
            type: string
            format: uri
    FrameValidateAnalyticsInteractors:
      type: object
      required:
        - interactors
      properties:
        interactors:
          type: array
          items:
            type: object
            required:
              - fid
              - username
              - interaction_count
            properties:
              fid:
                $ref: "#/components/schemas/Fid"
              username:
                type: string
              interaction_count:
                type: number
    FrameValidateAnalyticsTotalInteractors:
      type: object
      required:
        - total_interactors
      properties:
        total_interactors:
          type: number
    FrameValidateAnalyticsInteractionsPerCast:
      type: object
      required:
        - interactions_per_cast
      properties:
        interactions_per_cast:
          type: array
          items:
            type: object
            required:
              - start
              - stop
              - time
              - interaction_count
              - cast_url
            properties:
              start:
                type: string
                format: date-time
              stop:
                type: string
                format: date-time
              time:
                type: string
                format: date-time
              interaction_count:
                type: number
              cast_url:
                type: string
                format: uri
    FrameValidateAnalyticsInputText:
      type: object
      required:
        - input_texts
      properties:
        input_texts:
          type: array
          items:
            type: object
            required:
              - fid
              - username
              - input_text
            properties:
              fid:
                $ref: "#/components/schemas/Fid"
              username:
                type: string
              input_text:
                type: string
    FrameValidateAnalyticsResponse:
      oneOf:
        - $ref: "#/components/schemas/FrameValidateAnalyticsInteractors"
        - $ref: "#/components/schemas/FrameValidateAnalyticsTotalInteractors"
        - $ref: "#/components/schemas/FrameValidateAnalyticsInteractionsPerCast"
        - $ref: "#/components/schemas/FrameValidateAnalyticsInputText"
    ValidateFrameAnalyticsType:
      type: string
      enum:
        - total-interactors
        - interactors
        - interactions-per-cast
        - input-text
    AuthorizationUrlResponse:
      type: object
      required:
        - authorization_url
      properties:
        authorization_url:
          type: string
          format: uri
    AuthorizationUrlResponseType:
      type: string
      enum:
        - code
    RespondChannelInviteReqBody:
      type: object
      required:
        - signer_uuid
        - channel_id
        - role
        - accept
      properties:
        signer_uuid:
          $ref: "#/components/schemas/SignerUUID"
        channel_id:
          $ref: "#/components/schemas/ChannelId"
        role:
          $ref: "#/components/schemas/ChannelMemberRole"
        accept:
          type: boolean
          description: Accept or reject the invite
    Idem:
      type: string
      description: |
        An Idempotency key is a unique identifier for the request.
        **Note:** 
        1) This is used to prevent duplicate requests. Use the same idem key on retry attempts.
        2) This should be a unique identifier for each request.
        3) Recommended format is a 16-character string generated by the developer at the time of making this request.
    BuyStorageReqBody:
      type: object
      required:
        - fid
      properties:
        fid:
          type: integer
          minimum: 1
          examples:
            - 1
        units:
          type: integer
          description: |
            Number of storage units to buy.
            A storage unit lets you store 5000 casts, 2500 reactions and 2500 links.
          minimum: 1
          examples:
            - 1
        idem:
          $ref: "#/components/schemas/Idem"
    ZodError:
      type: object
      required:
        - message
        - code
        - errors
      properties:
        message:
          type: string
          examples:
            - "Invalid query parameters"
        code:
          type: string
          examples:
            - "InvalidField"
        errors:
          type: array
          items:
            type: object
            required:
              - code
              - expected
              - received
              - path
              - message
            properties:
              code:
                type: string
              expected:
                type: string
              received:
                type: string
              path:
                type: array
                items:
                  type: string
              message:
                type: string
    CastComposerType:
      type: string
      enum:
        - top
        - featured
    CastComposerActionsListResponse:
      type: object
      properties:
        actions:
          type: array
          items:
            type: object
            properties:
              name:
                type: string
                description: The name of the action.
              icon:
                type: string
                description: The icon representing the action.
              description:
                type: string
                description: A brief description of the action.
              about_url:
                type: string
                format: uri
                description: URL to learn more about the action.
              image_url:
                type: string
                format: uri
                description: URL of the action's image.
              action_url:
                type: string
                format: uri
                description: URL to perform the action.
              action:
                type: object
                properties:
                  action_type:
                    type: string
                    description: Type of the action (e.g., post).
                  post_url:
                    type: string
                    format: uri
                    description: URL to post the action.
              octicon:
                type: string
                description: Icon name for the action.
              added_count:
                type: integer
                description: Number of times the action has been added.
              app_name:
                type: string
                description: Name of the application providing the action.
              author_fid:
                type: integer
                description: Author's Farcaster ID.
              category:
                type: string
                description: Category of the action.
              object:
                type: string
                description: Object type, which is "composer_action".
[...]
