openapi: 3.0.4
info:
  title: Farcaster API V2
  version: 2.46.0
  description: >
    The Farcaster API allows you to interact with the Farcaster protocol. See
    the [Neynar docs](https://docs.neynar.com/reference) for more details.
  contact:
    name: Neynar
    url: https://neynar.com/
    email: team@neynar.com
servers:
  - url: https://api.neynar.com/v2

security:
  - ApiKeyAuth: []

components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: x-api-key
      description: API key to authorize requests
      x-default: NEYNAR_API_DOCS

  parameters:
    NeynarExperimentalHeader:
      name: x-neynar-experimental
      in: header
      required: false
      schema:
        type: boolean
        default: false
      description: >-
        Enables experimental features including filtering based on the Neynar
        score. See
        [docs](https://neynar.notion.site/Experimental-Features-1d2655195a8b80eb98b4d4ae7b76ae4a)
        for more details.
      x-is-global-header: true
    AuthorizationHeader:
      name: Authorization
      in: header
      description: >
        Optional Bearer token for certain endpoints. The token format is described [here](https://docs.farcaster.xyz/reference/warpcast/api#authentication).
      required: false
      schema:
        type: string
        example: Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...
      x-is-global-header: true
    WalletIdHeader:
      name: x-wallet-id
      in: header
      required: true
      schema:
        type: string
      description: Wallet ID to use for transactions
      x-is-global-header: true
  schemas:
    EthAddress:
      type: string
      pattern: ^0x[a-fA-F0-9]{40}$
      description: Ethereum address
      example: "0x5a927ac639636e534b678e81768ca19e2c6280b7"
    SolAddress:
      type: string
      pattern: ^[1-9A-HJ-NP-Za-km-z]{32,44}$
      description: Solana address
    PrefixedHexString:
      type: string
      pattern: ^0x[a-fA-F0-9]+$
      description: Hexadecimal number expressed as string with '0x' prefix
    Fid:
      type: integer
      format: int32
      description: The unique identifier of a farcaster user or app (unsigned integer)
      example: 3
    MiniAppTimeWindow:
      type: string
      enum:
        - 1h
        - 6h
        - 12h
        - 24h
        - 7d
      default: 7d
      example: 7d
      description: Time window for mini app analytics
    ChannelId:
      type: string
      description: The unique identifier of a farcaster channel
      example: neynar
    SignerUUID:
      type: string
      description: >
        UUID of the signer.

        `signer_uuid` is paired with API key, can't use a `uuid` made with a
        different API key.
      example: 19d0c5fd-9b33-4a48-a0e2-bc7b0555baec
    SubscriptionProviders:
      type: string
      enum:
        - fabric_stp
        - paragraph
      description: |
        The provider of the subscription.
    SubscriptionProvider:
      type: string
      enum:
        - fabric_stp
      description: |
        The provider of the subscription.
    FollowSortType:
      type: string
      enum:
        - desc_chron
        - algorithmic
      example: desc_chron
    SearchSortType:
      type: string
      enum:
        - desc_chron
        - algorithmic
      example: desc_chron
    CastConversationSortType:
      type: string
      enum:
        - chron
        - desc_chron
        - algorithmic
      example: chron
    ForYouProvider:
      type: string
      default: neynar
      enum:
        - neynar
        - openrank
        - mbd
      description: |
        The provider of the For You feed.
    FeedTrendingProvider:
      type: string
      enum:
        - neynar
        - openrank
        - mbd
      default: neynar
      description: |
        The provider of the trending casts feed.
    ReactionType:
      type: string
      enum:
        - like
        - recast
    ReactionsType:
      type: string
      enum:
        - all
        - likes
        - recasts
    NextCursor:
      type: object
      description: Returns next cursor
      required:
        - cursor
      properties:
        cursor:
          type: string
          nullable: true
    CastHash:
      type: string
      default: "0xfe90f9de682273e05b201629ad2338bdcd89b6be"
      description: Cast Hash
    CastNotificationType:
      type: string
      enum:
        - cast-mention
        - cast-reply
      description: |
        The notification type of a cast.
    CastParamType:
      type: string
      enum:
        - url
        - hash
      description: |
        The query param accepted by the API. Sent along with identifier param.
        url - Cast identifier is a url
        hash - Cast identifier is a hash
    ReplyDepth:
      type: integer
      description: |
        Depth of replies to fetch in the conversation.
      default: 2
      minimum: 0
      maximum: 5
    ErrorRes:
      type: object
      required:
        - message
      description: Details for the error response
      properties:
        code:
          type: string
        message:
          type: string
        property:
          type: string
        status:
          type: integer
          format: int32
    ConflictErrorRes:
      type: object
      required:
        - message
      description: Details for the conflict error response
      properties:
        code:
          type: string
        message:
          type: string
        property:
          type: string
        key:
          type: string
    Ed25519PublicKey:
      type: string
      pattern: ^0x[a-fA-F0-9]{64}$
      description: Ed25519 public key
      example: "0x1234567890abcdef1234567890abcdef1234567890abcdef1234567890abcdef"
    Timestamp:
      type: string
      format: date-time
    EmbedUrl:
      type: object
      required:
        - url
      properties:
        url:
          type: string
        metadata:
          $ref: "#/components/schemas/EmbedUrlMetadata"
    FarcasterManifest:
      type: object
      properties:
        account_association:
          type: object
          properties:
            header:
              type: string
            payload:
              type: string
            signature:
              type: string
          required:
            - header
            - payload
            - signature
        frame:
          type: object
          properties:
            version:
              type: string
              enum:
                - 0.0.0
                - 0.0.1
                - "1"
                - next
            name:
              type: string
            home_url:
              type: string
            icon_url:
              type: string
            image_url:
              type: string
            button_title:
              type: string
            splash_image_url:
              type: string
            splash_background_color:
              type: string
            webhook_url:
              type: string
            subtitle:
              type: string
              description: Short subtitle for the frame
            description:
              type: string
              description: Detailed description of the frame
            screenshot_urls:
              type: array
              items:
                type: string
                format: uri
              description: URLs of screenshots showcasing the frame
            primary_category:
              type: string
              description: Primary category the frame belongs to
            tags:
              type: array
              items:
                type: string
              description: Tags associated with the frame
            hero_image_url:
              type: string
              format: uri
              description: URL of the hero image displayed for the frame
            tagline:
              type: string
              description: Short tagline for the frame
            og_title:
              type: string
              description: Title used for Open Graph previews
            og_description:
              type: string
              description: Description used for Open Graph previews
            og_image_url:
              type: string
              format: uri
              description: Image URL used for Open Graph previews
            noindex:
              type: boolean
              description: Whether search engines should not index this frame
          required:
            - version
            - name
            - home_url
            - icon_url
      required:
        - account_association
    # TwitterImageObject:
    #   type: object
    #   properties:
    #     alt:
    #       type: string
    #     height:
    #       type: string # Should be 'integer' but open-graph-scraper lies and returns a string
    #     url:
    #       type: string
    #     width:
    #       type: string # Should be 'integer' but open-graph-scraper lies and returns a string
    #   required:
    #     - url
    # TwitterPlayerObject:
    #   type: object
    #   properties:
    #     height:
    #       type: string # Should be 'integer' but open-graph-scraper lies and returns a string
    #     stream:
    #       type: string
    #     url:
    #       type: string
    #     width:
    #       type: string # Should be 'integer' but open-graph-scraper lies and returns a string
    #   required:
    #     - url
    ImageObject:
      type: object
      properties:
        height:
          type: string # Should be 'integer' but open-graph-scraper lies and returns a string
        type:
          type: string
        url:
          type: string
        width:
          type: string # Should be 'integer' but open-graph-scraper lies and returns a string
        alt:
          type: string
      required:
        - url
    VideoObject:
      type: object
      properties:
        height:
          type: string # Should be 'integer' but open-graph-scraper lies and returns a string
        type:
          type: string
        url:
          type: string
        width:
          type: string # Should be 'integer' but open-graph-scraper lies and returns a string
      required:
        - url
    # MusicSongObject:
    #   type: object
    #   properties:
    #     disc:
    #       type: string
    #     track:
    #       type: string # Should be 'integer' but open-graph-scraper lies and returns a string
    #     url:
    #       type: string
    #   required:
    #     - url
    HtmlMetadata:
      allOf:
        - $ref: "#/components/schemas/OgObject"
        - type: object
          properties:
            oembed:
              oneOf:
                - $ref: "#/components/schemas/OembedRichData"
                - $ref: "#/components/schemas/OembedVideoData"
                - $ref: "#/components/schemas/OembedPhotoData"
                - $ref: "#/components/schemas/OembedLinkData"
              discriminator:
                propertyName: type
                mapping:
                  rich: "#/components/schemas/OembedRichData"
                  video: "#/components/schemas/OembedVideoData"
                  photo: "#/components/schemas/OembedPhotoData"
                  link: "#/components/schemas/OembedLinkData"
    OgObject:
      # Adapted from https://github.com/jshemas/openGraphScraper/blob/80b1800c377f5a647e365f07a2262e997a9b897c/lib/types.ts#L118-L347
      type: object
      properties:
        # alAndroidAppName:
        #   type: string
        # alAndroidClass:
        #   type: string
        # alAndroidPackage:
        #   type: string
        # alAndroidUrl:
        #   type: string
        # alIosAppName:
        #   type: string
        # alIosAppStoreId:
        #   type: string
        # alIosUrl:
        #   type: string
        # alIpadAppName:
        #   type: string
        # alIpadAppStoreId:
        #   type: string
        # alIpadUrl:
        #   type: string
        # alIphoneAppName:
        #   type: string
        # alIphoneAppStoreId:
        #   type: string
        # alIphoneUrl:
        #   type: string
        # alWebShouldFallback:
        #   type: string
        # alWebUrl:
        #   type: string
        # alWindowsAppId:
        #   type: string
        # alWindowsAppName:
        #   type: string
        # alWindowsPhoneAppId:
        #   type: string
        # alWindowsPhoneAppName:
        #   type: string
        # alWindowsPhoneUrl:
        #   type: string
        # alWindowsUniversalAppId:
        #   type: string
        # alWindowsUniversalAppName:
        #   type: string
        # alWindowsUniversalUrl:
        #   type: string
        # alWindowsUrl:
        #   type: string
        # articleAuthor:
        #   type: string
        # articleExpirationTime:
        #   type: string
        # articleModifiedTime:
        #   type: string
        # articlePublishedDate:
        #   type: string
        # articlePublishedTime:
        #   type: string
        # articleModifiedDate:
        #   type: string
        # articlePublisher:
        #   type: string
        # articleSection:
        #   type: string
        # articleTag:
        #   type: string
        # author:
        #   type: string
        # bookAuthor:
        #   type: string
        # bookCanonicalName:
        #   type: string
        # bookIsbn:
        #   type: string
        # bookReleaseDate:
        #   type: string
        # booksBook:
        #   type: string
        # booksRatingScale:
        #   type: string
        # booksRatingValue:
        #   type: string
        # bookTag:
        #   type: string
        # businessContactDataCountryName:
        #   type: string
        # businessContactDataLocality:
        #   type: string
        # businessContactDataPostalCode:
        #   type: string
        # businessContactDataRegion:
        #   type: string
        # businessContactDataStreetAddress:
        #   type: string
        # charset:
        #   type: string
        # customMetaTags:
        #   type: object
        #   additionalProperties:
        #     oneOf:
        #       - type: string
        #       - type: array
        #         items:
        #           type: string
        # dcContributor:
        #   type: string
        # dcCoverage:
        #   type: string
        # dcCreator:
        #   type: string
        # dcDate:
        #   type: string
        # dcDateCreated:
        #   type: string
        # dcDateIssued:
        #   type: string
        # dcDescription:
        #   type: string
        # dcFormatMedia:
        #   type: string
        # dcFormatSize:
        #   type: string
        # dcIdentifier:
        #   type: string
        # dcLanguage:
        #   type: string
        # dcPublisher:
        #   type: string
        # dcRelation:
        #   type: string
        # dcRights:
        #   type: string
        # dcSource:
        #   type: string
        # dcSubject:
        #   type: string
        # dcTitle:
        #   type: string
        # dcType:
        #   type: string
        # error:
        #   type: string
        # errorDetails:
        #   type: object
        favicon:
          type: string
        # fbAppId:
        #   type: string
        # jsonLD:
        #   type: array
        #   items:
        #     type: object
        modifiedTime:
          type: string
        # musicAlbum:
        #   type: string
        # musicAlbumDisc:
        #   type: string
        # musicAlbumTrack:
        #   type: string
        # musicAlbumUrl:
        #   type: string
        # musicCreator:
        #   type: string
        # musicDuration:
        #   type: string
        # musicMusician:
        #   type: string
        # musicPlaylist:
        #   type: string
        # musicRadioStation:
        #   type: string
        # musicReleaseDate:
        #   type: string
        # musicSong:
        #   type: array
        #   items:
        #     $ref: "#/components/schemas/MusicSongObject"
        ogArticleAuthor:
          type: string
        ogArticleExpirationTime:
          type: string
        ogArticleModifiedTime:
          type: string
        ogArticlePublishedTime:
          type: string
        ogArticlePublisher:
          type: string
        ogArticleSection:
          type: string
        ogArticleTag:
          type: string
        ogAudio:
          type: string
        ogAudioSecureURL:
          type: string
        ogAudioType:
          type: string
        ogAudioURL:
          type: string
        ogAvailability:
          type: string
        ogDate:
          type: string
        ogDescription:
          type: string
        ogDeterminer:
          type: string
        ogEpisode:
          type: string
        ogImage:
          type: array
          items:
            $ref: "#/components/schemas/ImageObject"
        ogLocale:
          type: string
        ogLocaleAlternate:
          type: string
        ogLogo:
          type: string
        ogMovie:
          type: string
        ogPriceAmount:
          type: string
        ogPriceCurrency:
          type: string
        ogProductAvailability:
          type: string
        ogProductCondition:
          type: string
        ogProductPriceAmount:
          type: string
        ogProductPriceCurrency:
          type: string
        ogProductRetailerItemId:
          type: string
        ogSiteName:
          type: string
        ogTitle:
          type: string
        ogType:
          type: string
        ogUrl:
          type: string
        ogVideo:
          type: array
          items:
            $ref: "#/components/schemas/VideoObject"
        ogVideoActor:
          type: string
        ogVideoActorId:
          type: string
        ogVideoActorRole:
          type: string
        ogVideoDirector:
          type: string
        ogVideoDuration:
          type: string
        ogVideoOther:
          type: string
        ogVideoReleaseDate:
          type: string
        ogVideoSecureURL:
          type: string
        ogVideoSeries:
          type: string
        ogVideoTag:
          type: string
        ogVideoTvShow:
          type: string
        ogVideoWriter:
          type: string
        ogWebsite:
          type: string
        # placeLocationLatitude:
        #   type: string
        # placeLocationLongitude:
        #   type: string
        # profileFirstName:
        #   type: string
        # profileGender:
        #   type: string
        # profileLastName:
        #   type: string
        # profileUsername:
        #   type: string
        # publishedTime:
        #   type: string
        # releaseDate:
        #   type: string
        # requestUrl:
        #   type: string
        # restaurantContactInfoCountryName:
        #   type: string
        # restaurantContactInfoEmail:
        #   type: string
        # restaurantContactInfoLocality:
        #   type: string
        # restaurantContactInfoPhoneNumber:
        #   type: string
        # restaurantContactInfoPostalCode:
        #   type: string
        # restaurantContactInfoRegion:
        #   type: string
        # restaurantContactInfoStreetAddress:
        #   type: string
        # restaurantContactInfoWebsite:
        #   type: string
        # restaurantMenu:
        #   type: string
        # restaurantRestaurant:
        #   type: string
        # restaurantSection:
        #   type: string
        # restaurantVariationPriceAmount:
        #   type: string
        # restaurantVariationPriceCurrency:
        #   type: string
        # success:
        #   type: boolean
        # twitterAccount:
        #   type: string
        # twitterAppIdGooglePlay:
        #   type: string
        # twitterAppIdiPad:
        #   type: string
        # twitterAppIdiPhone:
        #   type: string
        # twitterAppNameGooglePlay:
        #   type: string
        # twitterAppNameiPad:
        #   type: string
        # twitterAppNameiPhone:
        #   type: string
        # twitterAppUrlGooglePlay:
        #   type: string
        # twitterAppUrliPad:
        #   type: string
        # twitterAppUrliPhone:
        #   type: string
        # twitterCard:
        #   type: string
        # twitterCreator:
        #   type: string
        # twitterCreatorId:
        #   type: string
        # twitterDescription:
        #   type: string
        # twitterImage:
        #   type: array
        #   items:
        #     $ref: "#/components/schemas/TwitterImageObject"
        # twitterPlayer:
        #   type: array
        #   items:
        #     $ref: "#/components/schemas/TwitterPlayerObject"
        # twitterPlayerStreamContentType:
        #   type: string
        # twitterSite:
        #   type: string
        # twitterSiteId:
        #   type: string
        # twitterTitle:
        #   type: string
        # twitterUrl:
        #   type: string
        updatedTime:
          type: string
    OembedData:
      # Adapted from https://github.com/extractus/oembed-extractor/blob/e3b9aff4084118e12b6e98bdf997a78901ea6dfd/index.d.ts#L30-L107
      type: object
      description: Basic data structure of every oembed response see https://oembed.com/
      required:
        - type
        - version
      properties:
        type:
          type: string
        version:
          type: string
          nullable: true
        title:
          type: string
          description: A text title, describing the resource.
          nullable: true
        author_name:
          type: string
          description: The name of the author/owner of the resource.
          nullable: true
        author_url:
          type: string
          description: A URL for the author/owner of the resource.
          nullable: true
        provider_name:
          type: string
          description: The name of the resource provider.
          nullable: true
        provider_url:
          type: string
          description: The url of the resource provider.
          nullable: true
        cache_age:
          type: string
          description: >-
            The suggested cache lifetime for this resource, in seconds.
            Consumers may choose to use this value or not.
          nullable: true
        thumbnail_url:
          type: string
          description: >-
            A URL to a thumbnail image representing the resource. The thumbnail
            must respect any maxwidth and maxheight parameters. If this
            parameter is present, thumbnail_width and thumbnail_height must also
            be present.
          nullable: true
        thumbnail_width:
          type: number
          description: >-
            The width of the optional thumbnail. If this parameter is present,
            thumbnail_url and thumbnail_height must also be present.
          nullable: true
        thumbnail_height:
          type: number
          description: >-
            The height of the optional thumbnail. If this parameter is present,
            thumbnail_url and thumbnail_width must also be present.
          nullable: true
    OembedLinkData:
      allOf:
        - $ref: "#/components/schemas/OembedData"
        - type: object
          required:
            - type
          properties:
            type:
              type: string
              enum:
                - link
    OembedPhotoData:
      allOf:
        - $ref: "#/components/schemas/OembedData"
        - type: object
          required:
            - type
            - url
            - width
            - height
          properties:
            type:
              type: string
              enum:
                - photo
            url:
              type: string
              description: >-
                The source URL of the image. Consumers should be able to insert
                this URL into an <img> element. Only HTTP and HTTPS URLs are
                valid.
              nullable: true
            width:
              type: number
              description: The width in pixels of the image specified in the url parameter.
              nullable: true
            height:
              type: number
              description: >-
                The height in pixels of the image specified in the url
                parameter.
              nullable: true
    OembedVideoData:
      allOf:
        - $ref: "#/components/schemas/OembedData"
        - type: object
          required:
            - type
            - html
            - width
            - height
          properties:
            type:
              type: string
              enum:
                - video
            html:
              type: string
              description: >-
                The HTML required to embed a video player. The HTML should have
                no padding or margins. Consumers may wish to load the HTML in an
                off-domain iframe to avoid XSS vulnerabilities.
              nullable: true
            width:
              type: number
              description: The width in pixels required to display the HTML.
              nullable: true
            height:
              type: number
              description: The height in pixels required to display the HTML.
              nullable: true
    OembedRichData:
      allOf:
        - $ref: "#/components/schemas/OembedData"
        - type: object
          required:
            - type
            - html
            - width
            - height
          properties:
            type:
              type: string
              enum:
                - rich
            html:
              type: string
              description: >-
                The HTML required to display the resource. The HTML should have
                no padding or margins. Consumers may wish to load the HTML in an
                off-domain iframe to avoid XSS vulnerabilities. The markup
                should be valid XHTML 1.0 Basic.
              nullable: true
            width:
              type: number
              description: The width in pixels required to display the HTML.
              nullable: true
            height:
              type: number
              description: The height in pixels required to display the HTML.
              nullable: true
    EmbedUrlMetadata:
      type: object
      required:
        - _status
      properties:
        _status:
          type: string
        content_type:
          type: string
          nullable: true
        content_length:
          type: integer
          nullable: true
        image:
          type: object
          properties:
            height_px:
              type: integer
            width_px:
              type: integer
        video:
          type: object
          properties:
            duration_s:
              type: number
            stream:
              type: array
              items:
                type: object
                properties:
                  codec_name:
                    type: string
                  height_px:
                    type: integer
                  width_px:
                    type: integer
        html:
          $ref: "#/components/schemas/HtmlMetadata"
        frame:
          $ref: "#/components/schemas/Frame"
    ChannelMemberRole:
      type: string
      description: The role of a channel member
      enum:
        - member
        - moderator
    CastId:
      type: object
      required:
        - fid
        - hash
      properties:
        fid:
          $ref: "#/components/schemas/Fid"
        hash:
          type: string
    TextRange:
      type: object
      required:
        - start
        - end
      properties:
        start:
          type: number
          minimum: 0
        end:
          type: number
          minimum: 0
    EmbedCast:
      type: object
      required:
        - cast
      properties:
        cast_id:
          allOf:
            - $ref: "#/components/schemas/CastId"
          deprecated: true
          description: '[DEPRECATED: Use "cast" key instead]'
        cast:
          $ref: "#/components/schemas/CastEmbedded"
    EmbedCastDeep:
      type: object
      required:
        - cast
      properties:
        cast_id:
          deprecated: true
          description: '[DEPRECATED: Use "cast" key instead]'
          # Nesting $ref under allOf is necessary for any sibling fields to be effective
          allOf:
            - $ref: "#/components/schemas/CastId"
        cast:
          $ref: "#/components/schemas/CastDehydrated"
    Frame:
      discriminator:
        propertyName: version
        mapping:
          # 'vNext' for v1, and 'next' for v2. See specs:
          # v1: https://docs.farcaster.xyz/developers/frames/spec#constructing-a-frame
          # v2: https://docs.farcaster.xyz/developers/frames/v2/spec#frame-embed-metatags
          vNext: "#/components/schemas/FrameV1"
          next: "#/components/schemas/FrameV2"
          "1": "#/components/schemas/FrameV2"
          0.0.0: "#/components/schemas/FrameV2"
          0.0.1: "#/components/schemas/FrameV2"
      oneOf:
        - $ref: "#/components/schemas/FrameV1"
        - $ref: "#/components/schemas/FrameV2"
    FrameBase:
      description: Mini app base object used across all versions
      type: object
      required:
        - version
        - image
        - frames_url
      properties:
        version:
          type: string
          description: Version of the mini app, 'next' for v2, 'vNext' for v1
        image:
          type: string
          description: URL of the image
        frames_url:
          type: string
          description: Launch URL of the mini app
    FrameV1:
      description: Mini app v1 object
      allOf:
        - $ref: "#/components/schemas/FrameBase"
        - type: object
          properties:
            buttons:
              type: array
              items:
                $ref: "#/components/schemas/FrameActionButton"
            post_url:
              type: string
              description: Post URL to take an action on this mini app
            title:
              type: string
            image_aspect_ratio:
              type: string
            input:
              type: object
              properties:
                text:
                  type: string
                  description: Input text for the mini app
            state:
              type: object
              properties:
                serialized:
                  type: string
                  description: State for the mini app in a serialized format
    FrameV2:
      description: Mini app v2 object
      allOf:
        - $ref: "#/components/schemas/FrameBase"
        # required properties come from FrameEmbed
        # See: https://docs.farcaster.xyz/developers/frames/v2/spec#frame-embed-metatags
        - type: object
          required:
            - name
            - icon
          properties:
            title:
              type: string
              description: Button title of a mini app
            manifest:
              $ref: "#/components/schemas/FarcasterManifest"
            author:
              $ref: "#/components/schemas/UserDehydrated"
            metadata:
              type: object
              required:
                - html
              properties:
                html:
                  $ref: "#/components/schemas/HtmlMetadata"
    FrameV2WithFullAuthor:
      description: Mini app v2 object with full user object
      # copy of FrameV2 but with the author property being the full User object
      allOf:
        - $ref: "#/components/schemas/FrameBase"
        - type: object
          required:
            - name
            - icon
          properties:
            title:
              type: string
              description: Button title of a mini app
            manifest:
              $ref: "#/components/schemas/FarcasterManifest"
            author:
              $ref: "#/components/schemas/User"
            metadata:
              type: object
              required:
                - html
              properties:
                html:
                  $ref: "#/components/schemas/HtmlMetadata"
    SubscriptionTier:
      type: object
      properties:
        id:
          type: integer
          example: 1
        price:
          type: object
          properties:
            period_duration_seconds:
              type: integer
              example: 2592000
            tokens_per_period:
              type: string
              example: "3000000000000000"
            initial_mint_price:
              type: string
              example: "0"
    SubscribedTo:
      allOf:
        - $ref: "#/components/schemas/Subscription"
        - type: object
          required:
            - expires_at
            - subscribed_at
            - tier
            - creator
          properties:
            expires_at:
              type: string
              format: date-time
              example: "2023-09-13T22:10:22.000Z"
            subscribed_at:
              type: string
              format: date-time
              example: "2023-09-13T22:10:22.000Z"
            tier:
              $ref: "#/components/schemas/SubscriptionTier"
            creator:
              $ref: "#/components/schemas/User"
    Subscriber:
      type: object
      required:
        - object
        - user
        - subscribed_to
      properties:
        object:
          type: string
          enum:
            - subscriber
        user:
          $ref: "#/components/schemas/User"
        subscribed_to:
          $ref: "#/components/schemas/SubscribedToObject"
    TransactionFrameType:
      type: string
      enum:
        - pay
      description: Type of transaction mini app
    TransactionFrameLineItem:
      type: object
      required:
        - name
        - description
      properties:
        name:
          type: string
          description: Name of the line item in transaction
          example: Payment
        description:
          type: string
          description: Description of the line item in transaction
          example: Payment for goods
        image:
          type: string
          description: Optional image URL for the line item in transaction
          example: https://i.imgur.com/ovGo3sz.png
    TransactionFrameAction:
      type: object
      properties:
        text:
          type: string
          description: Custom text for action button
          example: Pay
        text_color:
          type: string
          description: Custom text color for action button
          example: "#FFFFFF"
        button_color:
          type: string
          description: Custom button color for action button
          example: "#000000"
    TransactionFrameDestination:
      type: object
      required:
        - address
        - network
        - token_contract_address
        - amount
      properties:
        address:
          $ref: "#/components/schemas/EthAddress"
        network:
          $ref: "#/components/schemas/Network"
        token_contract_address:
          type: string
          pattern: ^0x[a-fA-F0-9]{40}$
          description: >-
            Token contract address for the payment (e.g.
            0x833589fcd6edb6e08f4c7c32d4f71b54bda02913 is USDC on Base)
          example: "0x833589fcd6edb6e08f4c7c32d4f71b54bda02913"
        amount:
          type: number
          minimum: 1.e-8
          description: Amount to send (must be greater than 0)
          example: 0.01
    TransactionFrameConfig:
      type: object
      required:
        - line_items
      properties:
        allowlist_fids:
          type: array
          items:
            $ref: "#/components/schemas/Fid"
          description: >-
            Optional list of FIDs that are allowed to use this transaction mini
            app
        line_items:
          type: array
          minItems: 1
          items:
            $ref: "#/components/schemas/TransactionFrameLineItem"
          description: List of items included in the transaction
        action:
          description: Action button for primary CTA on the transaction mini app
          # Nesting $ref under allOf is necessary for any sibling fields to be effective
          allOf:
            - $ref: "#/components/schemas/TransactionFrameAction"
    TransactionFrameBase:
      type: object
      required:
        - id
        - url
        - type
        - config
        - status
      properties:
        id:
          type: string
          description: Unique identifier for the transaction mini app
        url:
          type: string
          format: uri
          description: URL that can be used to access the transaction mini app
        type:
          $ref: "#/components/schemas/TransactionFrameType"
        config:
          $ref: "#/components/schemas/TransactionFrameConfig"
        status:
          $ref: "#/components/schemas/TransactionFrameStatus"
    TransactionSendFungiblesRecipient:
      type: object
      required:
        - fid
        - amount
      properties:
        fid:
          $ref: "#/components/schemas/Fid"
        amount:
          type: number
          minimum: 0.00000001
          description: Amount to send (must be greater than 0)
    TransactionSendFungiblesRequest:
      type: object
      required:
        - network
        - recipients
      properties:
        network:
          type: string
          enum:
            - base
            - optimism
            - base-sepolia
        fungible_contract_address:
          type: string
          pattern: ^0x[a-fA-F0-9]{40}$
          example: "0x833589fcd6edb6e08f4c7c32d4f71b54bda02913"
          description: >-
            Contract address of the fungible token to send. If not provided, the
            default is the native token of the network.
        recipients:
          type: array
          minItems: 1
          maxItems: 200
          items:
            $ref: "#/components/schemas/TransactionSendFungiblesRecipient"
    TransactionSendFungiblesReceipt:
      type: object
      required:
        - fid
        - amount
        - status
      properties:
        fid:
          $ref: "#/components/schemas/Fid"
        amount:
          type: number
        status:
          type: string
          enum: [sent, failed]
        reason:
          type: string
          description: Reason for failure (if status is failed)
    TransactionSendTxInfo:
      type: object
      required:
        - network
        - transaction_hash
        - gas_used
        - approval_hash
      properties:
        network:
          type: string
          enum:
            - base
            - optimism
            - base-sepolia
        transaction_hash:
          type: string
        gas_used:
          type: string
          description: >-
            Gas used for the transaction.
        approval_hash:
          type: string
          description: >-
            Hash of the transaction that approved the transfer. This is only
            present if the fungible token is not native token of the network.
    TransactionSendFungiblesResponse:
      type: object
      required:
        - send_receipts
        - transactions
      properties:
        send_receipts:
          type: array
          items:
            $ref: "#/components/schemas/TransactionSendFungiblesReceipt"
        transactions:
          type: array
          items:
            $ref: "#/components/schemas/TransactionSendTxInfo"
    TransactionFramePay:
      allOf:
        - $ref: "#/components/schemas/TransactionFrameBase"
        - type: object
          required:
            - transaction
          properties:
            transaction:
              type: object
              required:
                - to
              properties:
                to:
                  $ref: "#/components/schemas/TransactionFrameDestination"
    TransactionFrame:
      discriminator:
        propertyName: type
        mapping:
          pay: "#/components/schemas/TransactionFramePay"
      oneOf:
        - $ref: "#/components/schemas/TransactionFramePay"
    TransactionFrameStatus:
      type: string
      enum:
        - created
        - completed
    FramePayTransactionRequestBody:
      type: object
      required:
        - transaction
        - config
      properties:
        transaction:
          type: object
          required:
            - to
          properties:
            to:
              $ref: "#/components/schemas/TransactionFrameDestination"
        config:
          $ref: "#/components/schemas/TransactionFrameConfig"
        idem:
          $ref: "#/components/schemas/Idem"
    TransactionFrameResponse:
      type: object
      required:
        - transaction_frame
      properties:
        transaction_frame:
          $ref: "#/components/schemas/TransactionFrame"
    ValidateFrameActionReqBody:
      type: object
      required:
        - message_bytes_in_hex
      properties:
        message_bytes_in_hex:
          type: string
          description: Hexadecimal string of message bytes.
        cast_reaction_context:
          default: true
          type: boolean
          description: >-
            Adds viewer_context inside the cast object to indicate whether the
            interactor reacted to the cast housing the mini app.
        follow_context:
          default: false
          type: boolean
          description: >-
            Adds viewer_context inside the user (interactor) object to indicate
            whether the interactor follows or is followed by the cast author.
        signer_context:
          default: false
          type: boolean
          description: Adds context about the app used by the user inside `frame.action`.
        channel_follow_context:
          default: false
          type: boolean
          description: >-
            Adds context about the channel that the cast belongs to inside of
            the cast object.
    SendFrameNotificationsReqBody:
      type: object
      required:
        - target_fids
        - notification
      properties:
        target_fids:
          type: array
          items:
            $ref: "#/components/schemas/Fid"
          maxItems: 100
          description: >-
            An array of target FIDs to whom the notifications should be sent.
            Each FID must be a positive integer. Pass an empty array to send
            notifications to all FIDs with notifications enabled for the mini app.
          example:
            - 1
            - 2
            - 3
        notification:
          type: object
          required:
            - title
            - body
            - target_url
          properties:
            title:
              type: string
              maxLength: 32
              minLength: 1
              description: >-
                The title of the notification. Must be between 1 and 32
                characters.
              example: New Message
            body:
              type: string
              maxLength: 128
              minLength: 1
              description: >-
                The body of the notification. Must be between 1 and 128
                characters.
              example: You have received a new message in your inbox.
            target_url:
              type: string
              format: uri
              maxLength: 256
              description: >-
                The target URL to open when the user clicks the notification.
                Must be a valid URL.
              example: https://example.com/notifications
            uuid:
              type: string
              format: uuid
              description: >-
                An optional UUID for the notification, used as an idempotency
                key.
              example: 123e4567-e89b-12d3-a456-426614174000
        filters:
          type: object
          description: >-
            Filters to apply to the target_fids set. All filters are additive,
            so only users matching all filters will be notified.
          properties:
            exclude_fids:
              type: array
              items:
                $ref: "#/components/schemas/Fid"
              description: >-
                Only send notifications to users who are not in the given FIDs.
            following_fid:
              type: integer
              format: int32
              description: Only send notifications to users who follow the given FID.
              example: 3
            minimum_user_score:
              type: number
              minimum: 0
              maximum: 1
              description: >-
                Only send notifications to users with a score greater than or equal to this value.
            near_location:
              allOf:
                - $ref: "#/components/schemas/Location"
                - description: >-
                    Only send notifications to users near a given location.
    RemoveChannelMemberReqBody:
      type: object
      required:
        - signer_uuid
        - channel_id
        - fid
        - role
      properties:
        signer_uuid:
          $ref: "#/components/schemas/SignerUUID"
        channel_id:
          $ref: "#/components/schemas/ChannelId"
        fid:
          $ref: "#/components/schemas/Fid"
        role:
          $ref: "#/components/schemas/ChannelMemberRole"
    Subscriptions:
      type: object
      required:
        - subscriptions_created
      properties:
        subscriptions_created:
          type: array
          items:
            $ref: "#/components/schemas/Subscription"
    Subscription:
      type: object
      required:
        - object
        - contract_address
        - chain
        - metadata
        - owner_address
        - price
        - protocol_version
        - token
      properties:
        object:
          type: string
          enum:
            - subscription
        provider_name:
          type: string
          example: fabric_stp
        contract_address:
          type: string
          example: "0xff63fc310d47ef80961056ac8df0b3f1a9e3ef58"
        chain:
          type: integer
          example: 8453
        metadata:
          type: object
          properties:
            title:
              type: string
              example: /memes channel sub
            symbol:
              type: string
              example: MMS
            art_url:
              type: string
              example: >-
                https://storage.withfabric.xyz/loom/403fdc10-95f3-4b25-9d77-5aac7ccb9fd1.jpg
          required:
            - title
            - symbol
            - art_url
        owner_address:
          type: string
          example: "0xb6f6dce6000ca88cc936b450cedb16a5c15f157f"
        price:
          type: object
          properties:
            period_duration_seconds:
              type: integer
              example: 2592000
            tokens_per_period:
              type: string
              example: "350574998400000"
            initial_mint_price:
              type: string
              example: "0"
          required:
            - period_duration_seconds
            - tokens_per_period
            - initial_mint_price
        tiers:
          type: array
          items:
            $ref: "#/components/schemas/SubscriptionTier"
        protocol_version:
          type: integer
          example: 1
        token:
          type: object
          properties:
            symbol:
              type: string
              example: ETH
            address:
              type: string
              example: null
              nullable: true
            decimals:
              type: integer
              example: 18
            erc20:
              type: boolean
              example: false
          required:
            - symbol
            - address
            - decimals
            - erc20
    SubscribedToObject:
      type: object
      properties:
        object:
          type: string
          enum:
            - subscription_dehydrated
        provider_name:
          type: string
          example: fabric_stp
        contract_address:
          type: string
          example: "0x325b3e2c19f4900f8f4eb5f6872dc2715e77cbac"
        protocol_version:
          type: integer
          example: 1
        chain:
          type: integer
          example: 8453
        expires_at:
          type: string
          format: date-time
          example: "2023-09-13T22:10:22.000Z"
        subscribed_at:
          type: string
          format: date-time
          example: "2023-09-13T22:10:22.000Z"
        tier_id:
          type: string
          example: "0"
      required:
        - object
        - provider_name
    SubscribersResponse:
      type: object
      properties:
        subscribers:
          type: array
          items:
            $ref: "#/components/schemas/Subscriber"
    SubscribedToResponse:
      type: object
      properties:
        subscribed_to:
          type: array
          items:
            $ref: "#/components/schemas/SubscribedTo"
    SubscriptionsResponse:
      type: object
      properties:
        subscriptions_created:
          type: array
          items:
            $ref: "#/components/schemas/Subscriptions"
    FrameSignaturePacket:
      type: object
      description: >-
        The Mini app Signature Packet
        (https://docs.farcaster.xyz/developers/frames/spec#frame-signature-packet)
      required:
        - untrustedData
        - trustedData
      properties:
        untrustedData:
          type: object
          description: Untrusted data from the user
          properties:
            fid:
              $ref: "#/components/schemas/Fid"
            url:
              type: string
              description: URL of the mini app
            messageHash:
              type: string
              description: Message hash
            timestamp:
              type: string
              description: Timestamp
            network:
              type: integer
              description: Network
            buttonIndex:
              type: integer
              description: Index of the button
            inputText:
              type: string
              description: Input text
            state:
              type: string
              description: State
            transactionId:
              type: string
              description: Transaction ID
            address:
              $ref: "#/components/schemas/EthAddress"
            castId:
              $ref: "#/components/schemas/CastId"
        trustedData:
          type: object
          description: Trusted data from the user
          properties:
            messageBytes:
              type: string
              description: Message bytes
    FrameAction:
      type: object
      required:
        - button
        - frames_url
        - post_url
      properties:
        version:
          type: string
        title:
          type: string
        image:
          type: string
        button:
          $ref: "#/components/schemas/FrameActionButton"
        input:
          $ref: "#/components/schemas/FrameInput"
        state:
          $ref: "#/components/schemas/FrameState"
        transaction:
          $ref: "#/components/schemas/FrameTransaction"
        address:
          $ref: "#/components/schemas/FrameAddress"
        frames_url:
          type: string
          description: URL of the mini apps
        post_url:
          type: string
          description: URL of the post to get the next mini app
    FrameButtonActionType:
      type: string
      description: >-
        The action type of a mini app button. Action types "mint" & "link" are
        to be handled on the client side only and so they will produce a no/op
        for POST /farcaster/frame/action.
      enum:
        - post
        - post_redirect
        - tx
        - link
        - mint
    FrameInput:
      type: object
      properties:
        text:
          type: string
          description: Input text for the mini app
          example: Draw a purple ringed planet
    FrameState:
      type: object
      required:
        - serialized
      properties:
        serialized:
          type: string
          description: State for the mini app in a serialized format
          example: "%7B%22counter%22%3A1%7D"
    FrameAddress:
      type: string
      description: The connected wallet address of the interacting user.
    FrameTransaction:
      type: object
      required:
        - hash
      properties:
        hash:
          type: string
          description: Transaction hash
          example: "0xa80de157a3ab4648db1ecfab7e6355b342215bc549f6e37be9e6da527cc024f7"
    FrameActionButton:
      type: object
      required:
        - index
        - action_type
      properties:
        title:
          type: string
          description: Title of the button
        index:
          type: integer
          description: Index of the button
        action_type:
          $ref: "#/components/schemas/FrameButtonActionType"
        target:
          type: string
          description: Target of the button
        post_url:
          type: string
          description: >-
            Used specifically for the tx action type to post a successful
            transaction hash
    ReactionLike:
      type: object
      required:
        - fid
        - fname
      properties:
        fid:
          $ref: "#/components/schemas/Fid"
        fname:
          type: string
    ReactionRecast:
      type: object
      required:
        - fid
        - fname
      properties:
        fid:
          $ref: "#/components/schemas/Fid"
        fname:
          type: string
    LocationAddress:
      type: object
      required:
        - city
        - country
      properties:
        city:
          type: string
        state:
          type: string
        state_code:
          type: string
        country:
          type: string
        country_code:
          type: string
    Location:
      description: Coordinates and place names for a location
      type: object
      required:
        - latitude
        - longitude
      properties:
        latitude:
          type: number
          format: double
          minimum: -90
          maximum: 90
        longitude:
          type: number
          format: double
          minimum: -180
          maximum: 180
        radius:
          type: number
          minimum: 0
          description: >-
            The radius in meters for the location search. Any location within this radius will be returned.
        address:
          $ref: "#/components/schemas/LocationAddress"
    User:
      type: object
      required:
        - object
        - fid
        - custody_address
        - username
        - profile
        - follower_count
        - following_count
        - verifications
        - verified_addresses
        - verified_accounts
        - power_badge
        - score
      properties:
        object:
          type: string
          enum:
            - user
        fid:
          $ref: "#/components/schemas/Fid"
        username:
          type: string
        display_name:
          type: string
        custody_address:
          $ref: "#/components/schemas/EthAddress"
        pfp_url:
          type: string
          description: The URL of the user's profile picture
        profile:
          type: object
          required:
            - bio
          properties:
            bio:
              type: object
              required:
                - text
              properties:
                text:
                  type: string
                mentioned_profiles:
                  type: array
                  items:
                    $ref: "#/components/schemas/UserDehydrated"
                mentioned_profiles_ranges:
                  description: >
                    Positions within the text (inclusive start, exclusive end)
                    where each mention occurs.

                    Each index within this list corresponds to the same-numbered
                    index in the mentioned_profiles list.
                  type: array
                  items:
                    $ref: "#/components/schemas/TextRange"
                mentioned_channels:
                  type: array
                  items:
                    $ref: "#/components/schemas/ChannelDehydrated"
                mentioned_channels_ranges:
                  description: >
                    Positions within the text (inclusive start, exclusive end)
                    where each mention occurs.

                    Each index within this list corresponds to the same-numbered
                    index in the mentioned_channels list.
                  type: array
                  items:
                    $ref: "#/components/schemas/TextRange"
            location:
              $ref: "#/components/schemas/Location"
        follower_count:
          type: integer
          format: int32
          description: The number of followers the user has.
        following_count:
          type: integer
          format: int32
          description: The number of users the user is following.
        verifications:
          type: array
          items:
            $ref: "#/components/schemas/EthAddress"
        verified_addresses:
          type: object
          required:
            - eth_addresses
            - sol_addresses
            - primary
          properties:
            eth_addresses:
              type: array
              description: >-
                List of verified Ethereum addresses of the user sorted by oldest
                to most recent.
              items:
                $ref: "#/components/schemas/EthAddress"
            sol_addresses:
              type: array
              description: >-
                List of verified Solana addresses of the user sorted by oldest
                to most recent.
              items:
                $ref: "#/components/schemas/SolAddress"
            primary:
              type: object
              required:
                - eth_address
                - sol_address
              properties:
                eth_address:
                  nullable: true
                  # Nesting $ref under allOf is necessary for any sibling fields to be effective
                  allOf:
                    - $ref: "#/components/schemas/EthAddress"
                sol_address:
                  nullable: true
                  # Nesting $ref under allOf is necessary for any sibling fields to be effective
                  allOf:
                    - $ref: "#/components/schemas/SolAddress"
        verified_accounts:
          type: array
          description: >-
            Verified accounts of the user on other platforms, currently only X
            is supported.
          items:
            type: object
            properties:
              platform:
                type: string
                enum:
                  - x
                  - github
              username:
                type: string
        power_badge:
          type: boolean
        experimental:
          type: object
          required:
            - neynar_user_score
          properties:
            deprecation_notice:
              type: string
            neynar_user_score:
              type: number
              format: double
              description: >-
                Score that represents the probability that the account is not
                spam.
        score:
          type: number
          format: double
          description: Score that represents the probability that the account is not spam.
        viewer_context:
          $ref: "#/components/schemas/UserViewerContext"
    TokenBalance:
      type: object
      description: The token balance associated with a wallet address and a network
      required:
        - object
        - token
        - balance
      properties:
        object:
          type: string
          enum:
            - token_balance
        token:
          type: object
          required:
            - object
            - name
            - symbol
          properties:
            object:
              type: string
              enum:
                - token
            name:
              type: string
              description: The token name e.g. "Ethereum"
            symbol:
              type: string
              description: The token symbol e.g. "ETH"
            address:
              type: string
              description: The contract address of the token (omitted for native token)
            decimals:
              type: integer
              description: The number of decimals the token uses
        balance:
          type: object
          required:
            - in_token
            - in_usdc
          properties:
            in_token:
              type: string
              description: The balance in the token
            in_usdc:
              type: string
              description: The balance in USDC
    FungibleOwnerRelevantNetwork:
      type: string
      description: A blockchain network supported for fungible owner relevance queries
      enum:
        - ethereum
        - optimism
        - base
        - arbitrum
        - solana
    Network:
      type: string
      description: A blockchain network e.g. "ethereum", "optimism", "base", "arbitrum"
      enum:
        - ethereum
        - optimism
        - base
        - arbitrum
    AddressBalance:
      type: object
      description: The token balances associated with a wallet address
      required:
        - object
        - verified_address
        - token_balances
      properties:
        object:
          type: string
          enum:
            - address_balance
        verified_address:
          type: object
          required:
            - address
            - network
          properties:
            address:
              type: string
              description: The wallet address
            network:
              $ref: "#/components/schemas/Network"
        token_balances:
          type: array
          items:
            $ref: "#/components/schemas/TokenBalance"
    BalanceResponse:
      type: object
      properties:
        user_balance:
          type: object
          required:
            - object
            - user
            - address_balances
          properties:
            object:
              type: string
              enum:
                - user_balance
            user:
              $ref: "#/components/schemas/UserDehydrated"
            address_balances:
              type: array
              items:
                $ref: "#/components/schemas/AddressBalance"
    Embed:
      oneOf:
        - $ref: "#/components/schemas/EmbedUrl"
        - $ref: "#/components/schemas/EmbedCast"
    EmbedDeep:
      oneOf:
        - $ref: "#/components/schemas/EmbedUrl"
        - $ref: "#/components/schemas/EmbedCastDeep"
    CastEmbedded:
      # This should just be Cast, but have to duplicate to avoid the circular reference caused by embedded casts,
      # because Readme chokes on them.
      type: object
      required:
        - hash
        - parent_hash
        - parent_url
        - root_parent_url
        - parent_author
        - author
        - text
        - timestamp
        - type
        - embeds
        - channel
      properties:
        hash:
          type: string
        parent_hash:
          type: string
          nullable: true
        parent_url:
          type: string
          nullable: true
        root_parent_url:
          type: string
          nullable: true
        parent_author:
          type: object
          required:
            - fid
          properties:
            fid:
              nullable: true
              # Nesting $ref under allOf is necessary for any sibling fields to be effective
              allOf:
                - $ref: "#/components/schemas/Fid"
        author:
          $ref: "#/components/schemas/UserDehydrated"
        app:
          nullable: true
          # Nesting $ref under allOf is necessary for any sibling fields to be effective
          allOf:
            - $ref: "#/components/schemas/UserDehydrated"
        text:
          type: string
        timestamp:
          $ref: "#/components/schemas/Timestamp"
        type:
          $ref: "#/components/schemas/CastNotificationType"
        embeds:
          type: array
          items:
            $ref: "#/components/schemas/EmbedDeep"
        channel:
          nullable: true
          # Nesting $ref under allOf is necessary for any sibling fields to be effective
          allOf:
            - $ref: "#/components/schemas/ChannelDehydrated"
    Cast:
      type: object
      required:
        - object
        - hash
        - parent_hash
        - parent_url
        - root_parent_url
        - parent_author
        - author
        - text
        - timestamp
        - embeds
      properties:
        object:
          type: string
          enum:
            - cast
        hash:
          type: string
        parent_hash:
          type: string
          nullable: true
        parent_url:
          type: string
          nullable: true
        root_parent_url:
          type: string
          nullable: true
        parent_author:
          type: object
          required:
            - fid
          properties:
            fid:
              nullable: true
              # Nesting $ref under allOf is necessary for any sibling fields to be effective
              allOf:
                - $ref: "#/components/schemas/Fid"
        author:
          $ref: "#/components/schemas/User"
        app:
          nullable: true
          # Nesting $ref under allOf is necessary for any sibling fields to be effective
          allOf:
            - $ref: "#/components/schemas/UserDehydrated"
        text:
          type: string
        timestamp:
          $ref: "#/components/schemas/Timestamp"
        embeds:
          type: array
          items:
            $ref: "#/components/schemas/Embed"
        type:
          $ref: "#/components/schemas/CastNotificationType"
    ProfileUrl:
      type: object
      required:
        - pfp
      properties:
        pfp:
          type: object
          required:
            - url
          properties:
            url:
              type: string
    SearchedUser:
      anyOf:
        - $ref: "#/components/schemas/User"
        - $ref: "#/components/schemas/ProfileUrl"
    SignedKeyRequestSponsor:
      type: object
      properties:
        fid:
          $ref: "#/components/schemas/Fid"
        signature:
          type: string
          description: >-
            Signature generated by the fid of the sponsor and the signature
            generated from signKeyRequest for the app.
        sponsored_by_neynar:
          type: boolean
          description: >
            Neynar will sponsor the signer if set to true.

            **Note: ** If sponsor.fid and sponsor.signature are provided along
            with sponsored_by_neynar set to true, 

            the sponsor.fid and sponsor.signature will be ignored. 

            Neynar will sponsor the signer on behalf of the user. The developer
            will get charged in compute units.
    RegisterSignerKeyReqBody:
      type: object
      required:
        - signer_uuid
        - signature
        - app_fid
        - deadline
      properties:
        signer_uuid:
          $ref: "#/components/schemas/SignerUUID"
        signature:
          type: string
          description: >-
            Signature generated by the custody address of the app. Signed data
            includes app_fid, deadline, signer’s public key
        app_fid:
          $ref: "#/components/schemas/Fid"
        deadline:
          type: integer
          description: >-
            unix timestamp in seconds that controls how long the signed key
            request is valid for. (24 hours from now is recommended)
        redirect_url:
          type: string
          description: >
            Url to redirect to after the signer is approved. 

            **Note** : This should only be used when requesting a signer from a
            native mobile application.
        sponsor:
          $ref: "#/components/schemas/SignedKeyRequestSponsor"
    RegisterDeveloperManagedSignedKeyReqBody:
      type: object
      required:
        - public_key
        - signature
        - app_fid
        - deadline
      properties:
        public_key:
          $ref: "#/components/schemas/Ed25519PublicKey"
        signature:
          type: string
          description: >-
            Signature generated by the custody address of the app. Signed data
            includes app_fid, deadline, signer’s public key
          example: >-
            0x7867e84cb6a64bf6e1954e52884133f1114eb3fd97f63ff55fa76c77c80beb6434eea9d3736b59caa3130d63121177acc752dc8a2561e9edf700642f390f92d11b
        app_fid:
          $ref: "#/components/schemas/Fid"
        deadline:
          type: integer
          description: >-
            unix timestamp in seconds that controls how long the signed key
            request is valid for. (24 hours from now is recommended)
        redirect_url:
          type: string
          description: >
            Url to redirect to after the signer is approved. 

            **Note** : This should only be used when requesting a signer from a
            native mobile application.
        sponsor:
          $ref: "#/components/schemas/SignedKeyRequestSponsor"
    CastParent:
      type: string
      description: parent_url of the channel the cast is in, or hash of the cast
    PostCastReqBodyEmbedsCastIdProperties:
      type: object
      required:
        - hash
        - fid
      properties:
        hash:
          type: string
        fid:
          $ref: "#/components/schemas/Fid"
    PostCastReqBodyEmbeds:
      type: object
      oneOf:
        - properties:
            cast_id:
              $ref: "#/components/schemas/PostCastReqBodyEmbedsCastIdProperties"
          required:
            - cast_id
          additionalProperties: false
        - properties:
            castId:
              $ref: "#/components/schemas/PostCastReqBodyEmbedsCastIdProperties"
          required:
            - castId
          additionalProperties: false
        - properties:
            url:
              type: string
          required:
            - url
          additionalProperties: false
      additionalProperties: false
    PostCastReqBody:
      type: object
      required:
        - signer_uuid
      properties:
        signer_uuid:
          $ref: "#/components/schemas/SignerUUID"
        text:
          type: string
        embeds:
          type: array
          items:
            $ref: "#/components/schemas/PostCastReqBodyEmbeds"
          maxItems: 2
        parent:
          $ref: "#/components/schemas/CastParent"
        channel_id:
          type: string
          description: >-
            Channel ID of the channel where the cast is to be posted. e.g.
            neynar, farcaster, warpcast
          example: neynar
        idem:
          $ref: "#/components/schemas/Idem"
        parent_author_fid:
          $ref: "#/components/schemas/Fid"
    MuteReqBody:
      type: object
      required:
        - fid
        - muted_fid
      properties:
        fid:
          $ref: "#/components/schemas/Fid"
        muted_fid:
          $ref: "#/components/schemas/Fid"
    BlockReqBody:
      type: object
      required:
        - signer_uuid
        - blocked_fid
      properties:
        signer_uuid:
          $ref: "#/components/schemas/SignerUUID"
        blocked_fid:
          $ref: "#/components/schemas/Fid"
    BanReqBody:
      type: object
      required:
        - fids
      properties:
        fids:
          type: array
          items:
            $ref: "#/components/schemas/Fid"
    ReactionReqBody:
      type: object
      required:
        - signer_uuid
        - reaction_type
        - target
      properties:
        signer_uuid:
          $ref: "#/components/schemas/SignerUUID"
        reaction_type:
          $ref: "#/components/schemas/ReactionType"
        target:
          type: string
          description: Target cast hash (hex string starting with 0x) OR a valid URL.
          example: >-
            0x3702ec1b298bb7ac6f00346432d959ad7b05b9a8
            -OR- http://neynar.com/
        target_author_fid:
          $ref: "#/components/schemas/Fid"
        idem:
          $ref: "#/components/schemas/Idem"
    ChannelType:
      type: string
      enum:
        - id
        - parent_url
    CastEmbedCrawlResponse:
      type: object
      required:
        - metadata
      properties:
        metadata:
          $ref: "#/components/schemas/EmbedUrlMetadata"
    PublishMessageReqBody:
      type: object
    PublishMessageResponse:
      type: object
    DeleteCastReqBody:
      type: object
      required:
        - signer_uuid
        - target_hash
      properties:
        signer_uuid:
          $ref: "#/components/schemas/SignerUUID"
        target_hash:
          $ref: "#/components/schemas/CastHash"
    FollowReqBody:
      type: object
      required:
        - signer_uuid
        - target_fids
      properties:
        signer_uuid:
          $ref: "#/components/schemas/SignerUUID"
        target_fids:
          type: array
          items:
            $ref: "#/components/schemas/Fid"
          maxItems: 100
    FrameDeveloperManagedActionReqBody:
      type: object
      required:
        - action
        - signature_packet
      properties:
        cast_hash:
          $ref: "#/components/schemas/CastHash"
        action:
          $ref: "#/components/schemas/FrameAction"
        signature_packet:
          $ref: "#/components/schemas/FrameSignaturePacket"
    FrameActionReqBody:
      type: object
      required:
        - signer_uuid
        - action
      properties:
        signer_uuid:
          $ref: "#/components/schemas/SignerUUID"
        cast_hash:
          $ref: "#/components/schemas/CastHash"
        action:
          $ref: "#/components/schemas/FrameAction"
    AddVerificationReqBody:
      type: object
      required:
        - signer_uuid
        - address
        - block_hash
        - eth_signature
      properties:
        signer_uuid:
          $ref: "#/components/schemas/SignerUUID"
        address:
          $ref: "#/components/schemas/EthAddress"
        block_hash:
          type: string
        eth_signature:
          type: string
        verification_type:
          $ref: "#/components/schemas/VerificationType"
        chain_id:
          $ref: "#/components/schemas/VerificationChainId"
    RemoveVerificationReqBody:
      type: object
      required:
        - signer_uuid
        - address
        - block_hash
        - eth_signature
      properties:
        signer_uuid:
          $ref: "#/components/schemas/SignerUUID"
        address:
          $ref: "#/components/schemas/EthAddress"
        block_hash:
          type: string
    UpdateUserReqBody:
      type: object
      required:
        - signer_uuid
      properties:
        signer_uuid:
          $ref: "#/components/schemas/SignerUUID"
        bio:
          type: string
        pfp_url:
          type: string
        url:
          type: string
        username:
          type: string
        display_name:
          type: string
        location:
          type: object
          required:
            - latitude
            - longitude
          properties:
            latitude:
              type: number
              format: double
              minimum: -90
              maximum: 90
            longitude:
              type: number
              format: double
              minimum: -180
              maximum: 180
        verified_accounts:
          type: object
          properties:
            x:
              type: string
            github:
              type: string
    CastViewerContext:
      type: object
      description: Adds context on interactions the viewer has made with the cast.
      required:
        - liked
        - recasted
      properties:
        liked:
          description: Indicates if the viewer liked the cast.
          type: boolean
        recasted:
          description: Indicates if the viewer recasted the cast.
          type: boolean
    UserViewerContext:
      type: object
      description: Adds context on the viewer's follow relationship with the user.
      required:
        - following
        - followed_by
        - blocking
        - blocked_by
      properties:
        following:
          description: Indicates if the viewer is following the user.
          type: boolean
        followed_by:
          description: Indicates if the viewer is followed by the user.
          type: boolean
        blocking:
          description: Indicates if the viewer is blocking the user.
          type: boolean
        blocked_by:
          description: Indicates if the viewer is blocked by the user.
          type: boolean
    CastWithInteractionsReactions:
      type: object
      required:
        - likes
        - recasts
        - likes_count
        - recasts_count
      properties:
        likes:
          type: array
          items:
            $ref: "#/components/schemas/ReactionLike"
        recasts:
          type: array
          items:
            $ref: "#/components/schemas/ReactionRecast"
        likes_count:
          type: integer
          format: int32
        recasts_count:
          type: integer
          format: int32
    CastWithInteractionsReplies:
      type: object
      required:
        - count
      properties:
        count:
          type: integer
          format: int32
    ChannelOrChannelDehydrated:
      oneOf:
        - $ref: "#/components/schemas/Channel"
        - $ref: "#/components/schemas/ChannelDehydrated"
      discriminator:
        propertyName: object
        mapping:
          channel: "#/components/schemas/Channel"
          channel_dehydrated: "#/components/schemas/ChannelDehydrated"
    CastWithInteractions:
      allOf:
        - $ref: "#/components/schemas/Cast"
        - type: object
          required:
            - reactions
            - replies
            - thread_hash
            - mentioned_profiles
            - mentioned_profiles_ranges
            - mentioned_channels
            - mentioned_channels_ranges
            - channel
          properties:
            frames:
              type: array
              items:
                $ref: "#/components/schemas/Frame"
            reactions:
              $ref: "#/components/schemas/CastWithInteractionsReactions"
            replies:
              $ref: "#/components/schemas/CastWithInteractionsReplies"
            thread_hash:
              type: string
              nullable: true
            mentioned_profiles:
              type: array
              items:
                $ref: "#/components/schemas/User"
            mentioned_profiles_ranges:
              description: >
                Positions within the text (inclusive start, exclusive end) where
                each mention occurs.

                Each index within this list corresponds to the same-numbered
                index in the mentioned_profiles list.
              type: array
              items:
                $ref: "#/components/schemas/TextRange"
            mentioned_channels:
              type: array
              items:
                $ref: "#/components/schemas/ChannelDehydrated"
            mentioned_channels_ranges:
              description: >
                Positions within the text (inclusive start, exclusive end) where
                each mention occurs.

                Each index within this list corresponds to the same-numbered
                index in the mentioned_channels list.
              type: array
              items:
                $ref: "#/components/schemas/TextRange"
            channel:
              nullable: true
              # Nesting $ref under allOf is necessary for any sibling fields to be effective
              allOf:
                - $ref: "#/components/schemas/ChannelOrChannelDehydrated"
            viewer_context:
              $ref: "#/components/schemas/CastViewerContext"
            author_channel_context:
              $ref: "#/components/schemas/ChannelUserContext"
    CastWithInteractionsAndConversations:
      allOf:
        - $ref: "#/components/schemas/CastWithInteractions"
        - type: object
          required:
            - direct_replies
          properties:
            direct_replies:
              type: array
              items:
                $ref: "#/components/schemas/CastWithInteractionsAndConversationsRef"
              description: >-
                note: This is recursive. It contains the direct replies to the
                cast and their direct replies up to n reply_depth.
    CastWithInteractionsAndConversationsRef:
      description: >-
        Reference to CastWithInteractionsAndConversations to avoid circular
        reference
      allOf:
        - $ref: "#/components/schemas/CastWithInteractions"
        - type: object
          required:
            - direct_replies
          properties:
            direct_replies:
              type: array
              items:
                type: object
              description: >-
                note: This is recursive. It contains the direct replies to the
                cast and their direct replies up to n reply_depth.
    Conversation:
      type: object
      required:
        - conversation
      properties:
        conversation:
          type: object
          required:
            - cast
          properties:
            cast:
              $ref: "#/components/schemas/CastWithInteractionsAndConversations"
            chronological_parent_casts:
              type: array
              items:
                $ref: "#/components/schemas/CastWithInteractions"
        next:
          $ref: "#/components/schemas/NextCursor"
    FrameNotificationTokens:
      type: object
      required:
        - notification_tokens
        - next
      properties:
        notification_tokens:
          type: array
          items:
            type: object
            properties:
              object:
                type: string
                enum:
                  - notification_token
              url:
                type: string
              token:
                type: string
              status:
                type: string
                enum:
                  - enabled
                  - disabled
              fid:
                $ref: "#/components/schemas/Fid"
              created_at:
                type: string
                format: date-time
              updated_at:
                type: string
                format: date-time
        next:
          $ref: "#/components/schemas/NextCursor"
    ConversationSummary:
      type: object
      required:
        - summary
      properties:
        summary:
          type: object
          required:
            - text
            - participants
            - mentioned_profiles
          properties:
            text:
              type: string
              description: Summary generated by an LLM
            participants:
              type: array
              items:
                $ref: "#/components/schemas/User"
              description: Users who casted in a conversation thread
            mentioned_profiles:
              type: array
              items:
                $ref: "#/components/schemas/User"
              description: Users who were mentioned in a conversation thread
    SharedSignerPermission:
      type: string
      enum:
        - WRITE_ALL
        - READ_ONLY
        - NONE
        - PUBLISH_CAST
        - DELETE_CAST
        - PUBLISH_REACTION
        - DELETE_REACTION
        - UPDATE_PROFILE
        - FOLLOW_USER
        - UNFOLLOW_USER
        - FOLLOW_CHANNEL
        - UNFOLLOW_CHANNEL
        - ADD_VERIFICATION
        - REMOVE_VERIFICATION
        - WRITE_FRAME_ACTION
    Signer:
      type: object
      required:
        - signer_uuid
        - public_key
        - status
      properties:
        object:
          type: string
          enum:
            - signer
        signer_uuid:
          $ref: "#/components/schemas/SignerUUID"
        public_key:
          $ref: "#/components/schemas/Ed25519PublicKey"
        status:
          type: string
          enum:
            - generated
            - pending_approval
            - approved
            - revoked
        signer_approval_url:
          type: string
        fid:
          $ref: "#/components/schemas/Fid"
        permissions:
          type: array
          items:
            $ref: "#/components/schemas/SharedSignerPermission"
    DeveloperManagedSigner:
      type: object
      required:
        - public_key
        - status
      properties:
        public_key:
          $ref: "#/components/schemas/Ed25519PublicKey"
        status:
          type: string
          enum:
            - pending_approval
            - approved
            - revoked
        signer_approval_url:
          type: string
        fid:
          $ref: "#/components/schemas/Fid"
    CastResponse:
      type: object
      required:
        - cast
      properties:
        cast:
          $ref: "#/components/schemas/CastWithInteractions"
    ChannelFollowReqBody:
      type: object
      required:
        - signer_uuid
        - channel_id
      properties:
        signer_uuid:
          $ref: "#/components/schemas/SignerUUID"
        channel_id:
          $ref: "#/components/schemas/ChannelId"
    ChannelDehydrated:
      type: object
      required:
        - id
        - name
        - object
      properties:
        id:
          type: string
        name:
          type: string
        object:
          type: string
          enum:
            - channel_dehydrated
        image_url:
          type: string
        viewer_context:
          $ref: "#/components/schemas/ChannelUserContext"
    Channel:
      type: object
      required:
        - id
        - url
        - object
      properties:
        id:
          type: string
        url:
          type: string
        object:
          type: string
          enum:
            - channel
        name:
          type: string
        description:
          type: string
        description_mentioned_profiles:
          type: array
          items:
            $ref: "#/components/schemas/UserDehydrated"
        description_mentioned_profiles_ranges:
          description: >-
            Positions within the text (inclusive start, exclusive end) where
            each mention occurs.
          type: array
          items:
            $ref: "#/components/schemas/TextRange"
        created_at:
          description: Epoch timestamp in seconds.
          type: number
        follower_count:
          description: Number of followers the channel has.
          type: number
        external_link:
          type: object
          description: Channel's external link.
          properties:
            title:
              type: string
            url:
              type: string
        image_url:
          type: string
        parent_url:
          type: string
          format: uri
        lead:
          $ref: "#/components/schemas/User"
        moderator_fids:
          type: array
          items:
            $ref: "#/components/schemas/Fid"
        member_count:
          type: integer
          format: int32
        moderator:
          deprecated: true
          description: Use `lead` instead.
          # Nesting $ref under allOf is necessary for any sibling fields to be effective
          allOf:
            - $ref: "#/components/schemas/User"
        pinned_cast_hash:
          $ref: "#/components/schemas/CastHash"
        hosts:
          type: array
          deprecated: true
          items:
            $ref: "#/components/schemas/User"
        viewer_context:
          $ref: "#/components/schemas/ChannelUserContext"
    ChannelUserContext:
      description: Adds context on the viewer's or author's role in the channel.
      type: object
      required:
        - following
      properties:
        following:
          description: Indicates if the user is following the channel.
          type: boolean
        role:
          $ref: "#/components/schemas/ChannelMemberRole"
    ChannelListResponse:
      type: object
      required:
        - channels
      properties:
        channels:
          type: array
          items:
            $ref: "#/components/schemas/Channel"
        next:
          $ref: "#/components/schemas/NextCursor"
    ChannelMemberInvite:
      type: object
      required:
        - channel_id
        - role
        - inviter
        - invited
      properties:
        channel_id:
          $ref: "#/components/schemas/ChannelId"
        role:
          $ref: "#/components/schemas/ChannelMemberRole"
        inviter:
          $ref: "#/components/schemas/User"
        invited:
          $ref: "#/components/schemas/User"
    InviteChannelMemberReqBody:
      type: object
      required:
        - signer_uuid
        - channel_id
        - fid
        - role
      properties:
        signer_uuid:
          $ref: "#/components/schemas/SignerUUID"
        channel_id:
          $ref: "#/components/schemas/ChannelId"
        fid:
          $ref: "#/components/schemas/Fid"
        role:
          $ref: "#/components/schemas/ChannelMemberRole"
    ChannelMember:
      type: object
      required:
        - object
        - role
        - user
        - channel
      properties:
        object:
          type: string
          enum:
            - member
        role:
          $ref: "#/components/schemas/ChannelMemberRole"
        user:
          oneOf:
            - $ref: "#/components/schemas/User"
            - $ref: "#/components/schemas/UserDehydrated"
        channel:
          oneOf:
            - $ref: "#/components/schemas/Channel"
            - $ref: "#/components/schemas/ChannelDehydrated"
    ChannelMemberListResponse:
      type: object
      required:
        - members
        - next
      properties:
        members:
          type: array
          items:
            $ref: "#/components/schemas/ChannelMember"
        next:
          $ref: "#/components/schemas/NextCursor"
    ChannelMemberInviteListResponse:
      type: object
      required:
        - invites
      properties:
        invites:
          type: array
          items:
            $ref: "#/components/schemas/ChannelMemberInvite"
        next:
          $ref: "#/components/schemas/NextCursor"
    ChannelSearchResponse:
      type: object
      required:
        - channels
        - next
      properties:
        channels:
          type: array
          items:
            $ref: "#/components/schemas/Channel"
        next:
          $ref: "#/components/schemas/NextCursor"
    ChannelResponse:
      type: object
      required:
        - channel
      properties:
        channel:
          $ref: "#/components/schemas/Channel"
    ChannelResponseBulk:
      type: object
      required:
        - channels
      properties:
        channels:
          type: array
          items:
            $ref: "#/components/schemas/Channel"
    UserSearchResponse:
      type: object
      required:
        - result
      properties:
        result:
          type: object
          required:
            - users
          properties:
            users:
              type: array
              items:
                $ref: "#/components/schemas/SearchedUser"
            next:
              $ref: "#/components/schemas/NextCursor"
    ChannelActivity:
      type: object
      required:
        - object
        - cast_count_1d
        - cast_count_7d
        - cast_count_30d
        - channel
      properties:
        object:
          type: string
          enum:
            - channel_activity
        cast_count_1d:
          type: string
        cast_count_7d:
          type: string
        cast_count_30d:
          type: string
        channel:
          $ref: "#/components/schemas/Channel"
    TrendingChannelResponse:
      type: object
      required:
        - channels
        - next
      properties:
        channels:
          type: array
          items:
            $ref: "#/components/schemas/ChannelActivity"
        next:
          $ref: "#/components/schemas/NextCursor"
    BulkCastsResponse:
      type: object
      required:
        - casts
      properties:
        casts:
          type: array
          items:
            $ref: "#/components/schemas/CastWithInteractions"
    CastsResponse:
      type: object
      required:
        - result
      properties:
        result:
          type: object
          required:
            - casts
          properties:
            casts:
              type: array
              items:
                $ref: "#/components/schemas/CastWithInteractions"
    CastsSearchResponse:
      type: object
      required:
        - result
      properties:
        result:
          type: object
          required:
            - casts
            - next
          properties:
            casts:
              type: array
              items:
                $ref: "#/components/schemas/CastWithInteractions"
            next:
              $ref: "#/components/schemas/NextCursor"
    CastsMetrics:
      type: object
      required:
        - start
        - resolution_in_seconds
        - cast_count
      properties:
        start:
          type: string
          format: date-time
        resolution_in_seconds:
          type: integer
          format: int32
        cast_count:
          type: integer
          format: int32
    CastsMetricsResponse:
      type: object
      required:
        - metrics
      properties:
        metrics:
          type: array
          items:
            $ref: "#/components/schemas/CastsMetrics"
    FeedResponse:
      type: object
      required:
        - casts
        - next
      properties:
        casts:
          type: array
          items:
            $ref: "#/components/schemas/CastWithInteractions"
        next:
          $ref: "#/components/schemas/NextCursor"
    PostCastResponse:
      type: object
      required:
        - success
        - cast
      properties:
        success:
          type: boolean
        cast:
          type: object
          required:
            - hash
            - author
            - text
          properties:
            hash:
              $ref: "#/components/schemas/CastHash"
            author:
              type: object
              required:
                - fid
              properties:
                fid:
                  $ref: "#/components/schemas/Fid"
            text:
              type: string
    OperationResponse:
      type: object
      properties:
        success:
          type: boolean
        message:
          type: string
    FollowResponse:
      type: object
      required:
        - success
        - target_fid
        - hash
      properties:
        success:
          type: boolean
        target_fid:
          $ref: "#/components/schemas/Fid"
        hash:
          type: string
    BulkFollowResponse:
      type: object
      required:
        - success
        - details
      properties:
        success:
          type: boolean
        details:
          type: array
          items:
            $ref: "#/components/schemas/FollowResponse"
    NotificationsResponse:
      type: object
      required:
        - unseen_notifications_count
        - notifications
        - next
      properties:
        unseen_notifications_count:
          type: integer
          format: int32
        notifications:
          type: array
          items:
            $ref: "#/components/schemas/Notification"
        next:
          $ref: "#/components/schemas/NextCursor"
    Notification:
      type: object
      required:
        - object
        - most_recent_timestamp
        - type
        - seen
      properties:
        object:
          type: string
          enum:
            - notification
        most_recent_timestamp:
          type: string
          format: date-time
        type:
          type: string
          enum:
            - follows
            - recasts
            - likes
            - mention
            - reply
            - quote
        seen:
          type: boolean
        follows:
          type: array
          items:
            $ref: "#/components/schemas/Follower"
        cast:
          $ref: "#/components/schemas/CastWithInteractions"
        reactions:
          type: array
          items:
            $ref: "#/components/schemas/ReactionWithUserInfo"
        count:
          type: integer
          format: int32
          description: >-
            The number of notifications of this(follows, likes, recast) type
            bundled in a single notification.
    CastDehydrated:
      type: object
      required:
        - object
        - hash
      properties:
        object:
          type: string
          enum:
            - cast_dehydrated
        hash:
          type: string
        author:
          $ref: "#/components/schemas/UserDehydrated"
        app:
          nullable: true
          # Nesting $ref under allOf is necessary for any sibling fields to be effective
          allOf:
            - $ref: "#/components/schemas/UserDehydrated"
    ReactionWithUserInfo:
      type: object
      required:
        - object
        - cast
        - user
      properties:
        object:
          type: string
          enum:
            - likes
            - recasts
        cast:
          $ref: "#/components/schemas/CastDehydrated"
        user:
          $ref: "#/components/schemas/User"
    ReactionForCast:
      type: object
      required:
        - reaction_type
        - reaction_timestamp
        - object
        - user
      properties:
        reaction_type:
          type: string
          enum:
            - like
            - recast
        reaction_timestamp:
          type: string
          format: date-time
        object:
          type: string
          enum:
            - likes
            - recasts
        user:
          $ref: "#/components/schemas/User"
    ReactionWithCastInfo:
      type: object
      required:
        - reaction_type
        - cast
        - reaction_timestamp
        - object
        - user
      properties:
        reaction_type:
          type: string
          enum:
            - like
            - recast
        cast:
          $ref: "#/components/schemas/CastWithInteractions"
        reaction_timestamp:
          type: string
          format: date-time
        object:
          type: string
          enum:
            - likes
            - recasts
        user:
          $ref: "#/components/schemas/UserDehydrated"
    RelevantFollowersResponse:
      type: object
      required:
        - top_relevant_followers_hydrated
        - all_relevant_followers_dehydrated
      properties:
        top_relevant_followers_hydrated:
          type: array
          items:
            $ref: "#/components/schemas/Follower"
        all_relevant_followers_dehydrated:
          type: array
          items:
            $ref: "#/components/schemas/FollowerDehydrated"
    Follower:
      type: object
      required:
        - object
        - user
      properties:
        object:
          type: string
          enum:
            - follower
        user:
[...]
