openapi: 3.0.4
info:
  title: Neynar API
  version: 3.90.0
  description: The Neynar API allows you to interact with the Farcaster protocol among other things. See the [Neynar docs](https://docs.neynar.com/reference) for more details.
  contact:
    name: Neynar
    url: https://neynar.com/
    email: team@neynar.com
servers:
  - url: https://api.neynar.com
security:
  - ApiKeyAuth: []
tags:
  - name: User
    description: Operations related to user
    externalDocs:
      description: More info about user
      url: https://docs.neynar.com/reference/user-operations
  - name: Signer
    description: Operations related to signer
    externalDocs:
      description: More info about signer
      url: https://docs.neynar.com/reference/signer-operations
  - name: Cast
    description: Operations related to cast
    externalDocs:
      description: More info about cast
      url: https://docs.neynar.com/reference/cast-operations
  - name: Feed
    description: Operations related to feed
    externalDocs:
      description: More info about feed
      url: https://docs.neynar.com/reference/feed-operations
  - name: Reaction
    description: Operations related to reaction
    externalDocs:
      description: More info about reaction
      url: https://docs.neynar.com/reference/reaction-operations
  - name: Notifications
    description: Operations related to notifications
    externalDocs:
      description: More info about notifications
      url: https://docs.neynar.com/reference/notifications-operations
  - name: Channel
    description: Operations related to channels
    externalDocs:
      description: More info about channels
      url: https://docs.neynar.com/reference/channel-operations
  - name: Follows
    description: Operations related to follows
    externalDocs:
      description: More info about follows
      url: https://docs.neynar.com/reference/follows-operations
  - name: Storage
    description: Operations related to storage
    externalDocs:
      description: More info about storage
      url: https://docs.neynar.com/reference/storage-operations
  - name: Frame
    description: Operations related to mini apps
  - name: Agents
    description: Operations for building AI agents
  - name: fname
    description: Operations related to fname
  - name: Webhook
    description: Operations related to a webhook
  - name: Action
    description: Securely communicate and perform actions on behalf of users across different apps
    externalDocs:
      description: More info about farcaster actions
      url: https://docs.neynar.com/docs/farcaster-actions-spec
  - name: Subscribers
    description: Operations related to a subscriptions
  - name: Mute
    description: Operations related to a mute
  - name: Block
    description: Operations related to a block
  - name: Ban
    description: Operations related to a ban
  - name: Onchain
    description: Operations related to onchain data
  - name: Login
    description: Operations related to login
  - name: Metrics
    description: Operations related to retrieving metrics
  - name: App Host
    description: Operations related to mini app host notifications
    externalDocs:
      description: More info about mini app host notifications
      url: https://docs.neynar.com/docs/app-host-notifications
paths:
  /v2/farcaster/action/:
    post:
      description: Securely communicate and perform actions on behalf of users across different apps. It enables an app to send data or trigger actions in another app on behalf of a mutual user by signing messages using the user's Farcaster signer.
      summary: User actions across apps
      tags:
        - Action
      operationId: publish-farcaster-action
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FarcasterActionReqBody'
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
      externalDocs:
        url: https://docs.neynar.com/reference/publish-farcaster-action
  /v2/farcaster/app_host/user/state/:
    get:
      description: Returns the current notification state for a specific user across all mini app domains in this app host. Shows which domains have notifications enabled.
      summary: Enabled notifications
      tags:
        - App Host
      parameters:
        - name: fid
          in: query
          description: The FID of the user
          required: true
          schema:
            type: integer
            minimum: 1
      operationId: app-host-get-user-state
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppHostUserStateResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
        '404':
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
      externalDocs:
        url: https://docs.neynar.com/reference/app-host-get-user-state
  /v2/farcaster/app_host/user/event/:
    get:
      description: Returns event object for app host events. Used if the app host intends to sign the event message instead of using Neynar-hosted signers.
      summary: Generate event
      tags:
        - App Host
      parameters:
        - name: app_domain
          in: query
          description: The domain of the mini app
          required: true
          schema:
            type: string
            example: demo.neynar.com
        - name: fid
          in: query
          description: The FID of the user who initiated the event
          required: true
          schema:
            type: integer
            minimum: 1
        - name: event
          in: query
          description: The type of event
          required: true
          schema:
            type: string
            enum:
              - frame_added
              - frame_removed
              - notifications_enabled
              - notifications_disabled
      operationId: app-host-get-event
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppHostGetEventResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
        '404':
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
      externalDocs:
        url: https://docs.neynar.com/reference/app-host-get-event
    post:
      description: Post an app_host event to the domain's webhook. Events such as enabling or disabling notifications for a user. Provide either a signed message or the signer UUID of an authorized neynar-hosted signers.
      summary: Send event
      tags:
        - App Host
      operationId: app-host-post-event
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AppHostPostEventReqBody'
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppHostPostEventResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
        '404':
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
        '502':
          description: '502'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
      externalDocs:
        url: https://docs.neynar.com/reference/app-host-post-event
  /v2/farcaster/auth_address/developer_managed/signed_key/:
    post:
      description: Allow apps to register an Ethereum addresses as authorized "auth addresses" for a user's Farcaster account, enabling seamless Sign-In With Farcaster (SIWF) across applications without repeated custody wallet authorizations.
      summary: Register Signed Key
      tags:
        - AuthAddress
      operationId: register-signed-key-for-developer-managed-auth-address
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegisterAuthAddressDeveloperManagedSignedKeyReqBody'
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  address:
                    $ref: '#/components/schemas/EthAddress'
                  status:
                    type: string
                    enum:
                      - pending_approval
                      - approved
                      - revoked
                  auth_address_approval_url:
                    type: string
                    format: uri
                  fid:
                    $ref: '#/components/schemas/Fid'
                required:
                  - address
                  - status
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
      externalDocs:
        url: https://docs.neynar.com/reference/register-signed-key-for-developer-managed-auth-address
  /v2/farcaster/auth_address/developer_managed/:
    get:
      description: Fetches the status of a developer managed auth address by auth address
      summary: Status by auth address
      tags:
        - AuthAddress
      parameters:
        - name: address
          in: query
          description: Ethereum address
          required: true
          schema:
            type: string
            pattern: ^0x[a-fA-F0-9]{40}$
            example: '0x5a927ac639636e534b678e81768ca19e2c6280b7'
            title: EthAddress
      operationId: lookup-developer-managed-auth-address
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  address:
                    $ref: '#/components/schemas/EthAddress'
                  status:
                    type: string
                    enum:
                      - pending_approval
                      - approved
                      - revoked
                  auth_address_approval_url:
                    type: string
                    format: uri
                  fid:
                    $ref: '#/components/schemas/Fid'
                required:
                  - address
                  - status
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
      externalDocs:
        url: https://docs.neynar.com/reference/lookup-developer-managed-auth-address
  /v2/farcaster/ban/list/:
    get:
      description: Fetches all FIDs that your app has banned.
      summary: Banned FIDs of app
      tags:
        - Ban
      parameters:
        - $ref: '#/components/parameters/NeynarExperimentalHeader'
        - name: limit
          in: query
          description: Number of results to fetch
          schema:
            default: 20
            type: integer
            minimum: 1
            maximum: 100
            example: 20
            format: int32
          x-is-limit-param: true
        - name: cursor
          in: query
          description: Pagination cursor.
          schema:
            type: string
      operationId: fetch-ban-list
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BanListResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
        '404':
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
      externalDocs:
        url: https://docs.neynar.com/reference/fetch-ban-list
  /v2/farcaster/ban/:
    post:
      description: Bans a list of FIDs from the app associated with your API key. Banned users, their casts and reactions will not appear in feeds.
      summary: Ban FIDs from app
      tags:
        - Ban
      operationId: publish-bans
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BanReqBody'
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BanResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
        '404':
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
      externalDocs:
        url: https://docs.neynar.com/reference/publish-bans
    delete:
      description: Deletes a list of FIDs from the app associated with your API key.
      summary: Unban FIDs from app
      tags:
        - Ban
      operationId: delete-bans
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BanReqBody'
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BanResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
        '404':
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
      externalDocs:
        url: https://docs.neynar.com/reference/delete-bans
  /v2/farcaster/block/list/:
    get:
      description: Fetches all FIDs that a user has blocked or has been blocked by
      summary: Blocked / Blocked by FIDs
      tags:
        - Block
      parameters:
        - $ref: '#/components/parameters/NeynarExperimentalHeader'
        - name: blocker_fid
          in: query
          description: Providing this will return the users that this user has blocked
          schema:
            type: integer
            minimum: 1
            example: 194
        - name: blocked_fid
          in: query
          description: Providing this will return the users that have blocked this user
          schema:
            type: integer
            minimum: 1
            example: 194
        - name: limit
          in: query
          description: Number of results to fetch
          schema:
            default: 20
            type: integer
            minimum: 1
            maximum: 100
            example: 20
            format: int32
          x-is-limit-param: true
        - name: cursor
          in: query
          description: Pagination cursor.
          schema:
            type: string
      operationId: fetch-block-list
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BlockListResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
        '404':
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
      externalDocs:
        url: https://docs.neynar.com/reference/fetch-block-list
  /v2/farcaster/block/:
    post:
      description: Adds a block for a given FID.
      summary: Block FID
      tags:
        - Block
      operationId: publish-block
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BlockReqBody'
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
        '404':
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
      externalDocs:
        url: https://docs.neynar.com/reference/publish-block
    delete:
      description: Deletes a block for a given FID.
      summary: Unblock FID
      tags:
        - Block
      operationId: delete-block
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BlockReqBody'
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
        '404':
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
      externalDocs:
        url: https://docs.neynar.com/reference/delete-block
  /v2/farcaster/cast/conversation/summary/:
    get:
      description: Generates a summary of all casts related to a conversation surrounding a cast by passing in a cast hash or Farcaster URL.  Summary is generated by an LLM and is intended to be passed as a context to AI agents.
      summary: Cast conversation summary
      tags:
        - Agents
      parameters:
        - name: identifier
          in: query
          description: Cast identifier (It's either a URL or a hash))
          required: true
          schema:
            type: string
            example: '0x9288c1e862aa72bd69d0e383a28b9a76b63cbdb4'
        - name: limit
          in: query
          description: Number of casts to consider in a summary up to a point of target cast
          schema:
            default: 20
            type: integer
            minimum: 1
            maximum: 50
            example: 50
          x-is-limit-param: true
        - name: prompt
          in: query
          description: Additional prompt used to generate a summary
          schema:
            type: string
            example: be unreasonably dramatic
      operationId: lookup-cast-conversation-summary
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConversationSummary'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
      externalDocs:
        url: https://docs.neynar.com/reference/lookup-cast-conversation-summary
  /v2/farcaster/cast/conversation/:
    get:
      description: Gets all casts related to a conversation surrounding a cast by passing in a cast hash or Farcaster URL. Includes all the ancestors of a cast up to the root parent in a chronological order. Includes all direct_replies to the cast up to the reply_depth specified in the query parameter.
      summary: Conversation for a cast
      tags:
        - Cast
      parameters:
        - $ref: '#/components/parameters/NeynarExperimentalHeader'
        - name: identifier
          in: query
          description: Cast identifier (It's either a URL or a hash)
          required: true
          schema:
            type: string
            example: https://warpcast.com/rish/0x9288c1
        - name: type
          in: query
          description: |-
            The query param accepted by the API. Sent along with identifier param.
            url - Cast identifier is a url
            hash - Cast identifier is a hash
          required: true
          schema:
            type: string
            enum:
              - url
              - hash
            example: url
        - name: reply_depth
          in: query
          description: The depth of replies in the conversation that will be returned (default 2)
          schema:
            default: 2
            type: integer
            minimum: 0
            maximum: 5
            nullable: true
        - name: include_chronological_parent_casts
          in: query
          description: Include all parent casts in chronological order
          schema:
            default: false
            type: boolean
            nullable: true
        - name: viewer_fid
          in: query
          description: Providing this will return a conversation that respects this user's mutes and blocks and includes `viewer_context`.
          schema:
            type: integer
            minimum: 1
        - name: sort_type
          in: query
          description: Sort type for the ordering of descendants. Default is `chron`
          schema:
            type: string
            enum:
              - chron
              - desc_chron
              - algorithmic
            example: chron
        - name: fold
          in: query
          description: Show conversation above or below the fold. Lower quality responses are hidden below the fold. Not passing in a value shows the full conversation without any folding.
          schema:
            type: string
            enum:
              - above
              - below
        - name: limit
          in: query
          description: Number of results to fetch
          schema:
            default: 20
            type: integer
            minimum: 1
            maximum: 50
            example: 30
            format: int32
          x-is-limit-param: true
        - name: cursor
          in: query
          description: Pagination cursor.
          schema:
            type: string
      operationId: lookup-cast-conversation
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Conversation'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
      externalDocs:
        url: https://docs.neynar.com/reference/lookup-cast-conversation
  /v2/farcaster/cast/metrics/:
    get:
      description: Fetches metrics casts matching a query
      summary: Metrics for casts
      tags:
        - Metrics
      parameters:
        - $ref: '#/components/parameters/NeynarExperimentalHeader'
        - name: q
          in: query
          description: Query string to search for casts
          required: true
          schema:
            type: string
            example: star wars
        - name: interval
          in: query
          description: Interval of time for which to fetch metrics. Default is 30d.
          schema:
            type: string
            enum:
              - 1d
              - 7d
              - 30d
              - 90d
              - 180d
        - name: author_fid
          in: query
          description: Fid of the user whose casts you want to search
          schema:
            type: integer
            minimum: 1
        - name: channel_id
          in: query
          description: Channel ID of the casts you want to search
          schema:
            type: string
      operationId: fetch-cast-metrics
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CastsMetricsResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
      externalDocs:
        url: https://docs.neynar.com/reference/fetch-cast-metrics
  /v2/farcaster/cast/search/:
    get:
      description: Search for casts based on a query string, with optional AND filters
      summary: Search for casts
      tags:
        - Cast
      parameters:
        - $ref: '#/components/parameters/NeynarExperimentalHeader'
        - name: q
          in: query
          description: |-
            Query string to search for casts. Supported operators:

            | Operator  | Description                                                                                              |
            | --------- | -------------------------------------------------------------------------------------------------------- |
            | `+`       | Acts as the AND operator. This is the default operator between terms and can usually be omitted.         |
            | `\|`      | Acts as the OR operator.                                                                                 |
            | `*`       | When used at the end of a term, signifies a prefix query.                                                  |
            | `"`       | Wraps several terms into a phrase (for example, `"star wars"`).                                          |
            | `(`, `)`  | Wrap a clause for precedence (for example, `star + (wars \| trek)`).                                     |
            | `~n`      | When used after a term (for example, `satr~3`), sets `fuzziness`. When used after a phrase, sets `slop`. |
            | `-`       | Negates the term.                                                                                        |
            | `before:` | Search for casts before a specific date. (e.g. `before:2025-04-20` or `before:2025-04-20T23:59:59`)      |
            | `after:`  | Search for casts after a specific date. (e.g. `after:2025-04-20` or `after:2025-04-20T00:00:00`)         |
          required: true
          schema:
            type: string
            example: star (wars | trek) "space battle" after:2024-05-04
        - name: mode
          in: query
          description: |-
            Choices are:
            - `literal` - Searches for the words in the query string (default)
            - `semantic` - Searches for the meaning of the query string
            - `hybrid` - Combines both literal and semantic results
          schema:
            type: string
            enum:
              - literal
              - semantic
              - hybrid
            example: literal
        - name: sort_type
          in: query
          description: |-
            Choices are:
            - `desc_chron` - All casts sorted by time in a descending order (default)
            - `chron` - All casts sorted by time in ascending order
            - `algorithmic` - Casts sorted by engagement and time
          schema:
            type: string
            enum:
              - desc_chron
              - chron
              - algorithmic
            example: desc_chron
        - name: author_fid
          in: query
          description: Fid of the user whose casts you want to search
          schema:
            type: integer
            minimum: 1
        - name: viewer_fid
          in: query
          description: Providing this will return search results that respects this user's mutes and blocks and includes `viewer_context`.
          schema:
            type: integer
            minimum: 1
        - name: parent_url
          in: query
          description: Parent URL of the casts you want to search
          schema:
            type: string
        - name: channel_id
          in: query
          description: Channel ID of the casts you want to search
          schema:
            type: string
        - name: limit
          in: query
          description: Number of results to fetch
          schema:
            default: 25
            type: integer
            minimum: 1
            maximum: 100
            example: 25
            format: int32
          x-is-limit-param: true
        - name: cursor
          in: query
          description: Pagination cursor
          schema:
            type: string
      operationId: search-casts
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CastsSearchResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
      externalDocs:
        url: https://docs.neynar.com/reference/search-casts
  /v2/farcaster/cast/embed/crawl/:
    get:
      description: Crawls the given URL and returns metadata useful when embedding the URL in a cast.
      summary: Embedded URL metadata
      tags:
        - Cast
      parameters:
        - name: url
          in: query
          description: URL to crawl metadata of
          required: true
          schema:
            type: string
      operationId: fetch-embedded-url-metadata
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CastEmbedCrawlResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
      externalDocs:
        url: https://docs.neynar.com/reference/fetch-embedded-url-metadata
  /v2/farcaster/cast/quotes/:
    get:
      description: Fetch casts that quote a given cast
      summary: Cast Quotes
      tags:
        - Cast
      parameters:
        - $ref: '#/components/parameters/NeynarExperimentalHeader'
        - name: identifier
          in: query
          description: Cast identifier (It's either a URL or a hash)
          required: true
          schema:
            type: string
            example: https://farcaster.xyz/rish/0xafa59bb7
        - name: type
          in: query
          description: |-
            The query param accepted by the API. Sent along with identifier param.
            url - Cast identifier is a url
            hash - Cast identifier is a hash
          required: true
          schema:
            type: string
            enum:
              - url
              - hash
            example: url
        - name: viewer_fid
          in: query
          schema:
            type: integer
            minimum: 1
        - name: limit
          in: query
          description: Number of results to fetch
          schema:
            default: 25
            type: integer
            minimum: 1
            maximum: 100
            example: 30
            format: int32
          x-is-limit-param: true
        - name: cursor
          in: query
          description: Pagination cursor.
          schema:
            type: string
      operationId: fetch-cast-quotes
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  casts:
                    type: array
                    items:
                      $ref: '#/components/schemas/Cast'
                  next:
                    $ref: '#/components/schemas/NextCursor'
                required:
                  - casts
                  - next
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
        '404':
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
      externalDocs:
        url: https://docs.neynar.com/reference/fetch-cast-quotes
  /v2/farcaster/cast/:
    get:
      description: Gets information about an individual cast by passing in a Farcaster web URL or cast hash
      summary: By hash or URL
      tags:
        - Cast
      parameters:
        - $ref: '#/components/parameters/NeynarExperimentalHeader'
        - name: identifier
          in: query
          description: Cast identifier (It's either a URL or a hash)
          required: true
          schema:
            type: string
            example: https://farcaster.xyz/rish/0xafa59bb7
        - name: type
          in: query
          description: |-
            The query param accepted by the API. Sent along with identifier param.
            url - Cast identifier is a url
            hash - Cast identifier is a hash
          required: true
          schema:
            type: string
            enum:
              - url
              - hash
            example: url
        - name: viewer_fid
          in: query
          description: adds viewer_context to cast object to show whether viewer has liked or recasted the cast.
          schema:
            type: integer
            minimum: 1
      operationId: lookup-cast-by-hash-or-url
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CastResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
      externalDocs:
        url: https://docs.neynar.com/reference/lookup-cast-by-hash-or-url
    post:
      description: "Posts a cast or cast reply. Works with mentions and embeds.  \n(In order to post a cast `signer_uuid` must be approved)"
      summary: Post a cast
      tags:
        - Cast
      operationId: publish-cast
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostCastReqBody'
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostCastResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
        '404':
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
      externalDocs:
        url: https://docs.neynar.com/reference/publish-cast
    delete:
      description: "Delete an existing cast. \n(In order to delete a cast `signer_uuid` must be approved)"
      summary: Delete a cast
      tags:
        - Cast
      operationId: delete-cast
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeleteCastReqBody'
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
        '404':
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
      externalDocs:
        url: https://docs.neynar.com/reference/delete-cast
  /v2/farcaster/casts/:
    get:
      description: Fetch multiple casts using their respective hashes.
      summary: Bulk fetch casts
      tags:
        - Cast
      parameters:
        - $ref: '#/components/parameters/NeynarExperimentalHeader'
        - name: casts
          in: query
          description: Hashes of the cast to be retrived (Comma separated, no spaces)
          required: true
          schema:
            type: string
            example: 0xa896906a5e397b4fec247c3ee0e9e4d4990b8004,0x27ff810f7f718afd8c40be236411f017982e0994
            x-comma-separated: true
        - name: viewer_fid
          in: query
          description: adds viewer_context to cast object to show whether viewer has liked or recasted the cast.
          schema:
            type: integer
            minimum: 1
        - name: sort_type
          in: query
          description: Optional parameter to sort the casts based on different criteria
          schema:
            type: string
            enum:
              - trending
              - likes
              - recasts
              - replies
              - recent
      operationId: fetch-bulk-casts
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CastsResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
      externalDocs:
        url: https://docs.neynar.com/reference/fetch-bulk-casts
  /v2/farcaster/channel/list/:
    get:
      description: Returns a list of all channels with their details
      summary: Fetch all channels with their details
      tags:
        - Channel
      parameters:
        - name: limit
          in: query
          description: Number of results to fetch
          schema:
            default: 20
            type: integer
            minimum: 1
            maximum: 200
            example: 30
          x-is-limit-param: true
        - name: cursor
          in: query
          description: Pagination cursor.
          schema:
            type: string
      operationId: fetch-all-channels
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChannelListResponse'
      externalDocs:
        url: https://docs.neynar.com/reference/fetch-all-channels
  /v2/farcaster/channel/member/list/:
    get:
      description: Fetch a list of members in a channel
      summary: Fetch members
      tags:
        - Channel
      parameters:
        - $ref: '#/components/parameters/NeynarExperimentalHeader'
        - name: channel_id
          in: query
          description: Channel ID for the channel being queried
          required: true
          schema:
            type: string
            example: neynar
        - name: fid
          in: query
          description: FID of the user being queried. Specify this to check if a user is a member of the channel without paginating through all members.
          schema:
            type: integer
            minimum: 1
        - name: limit
          in: query
          description: Number of results to fetch
          schema:
            default: 20
            type: integer
            minimum: 1
            maximum: 100
          x-is-limit-param: true
        - name: cursor
          in: query
          description: Pagination cursor.
          schema:
            type: string
      operationId: fetch-channel-members
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChannelMemberListResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
      externalDocs:
        url: https://docs.neynar.com/reference/fetch-channel-members
  /v2/farcaster/channel/member/invite/list/:
    get:
      description: Fetch a list of invites, either in a channel or for a user. If both are provided, open channel invite for that user is returned.
      summary: Open invites
      tags:
        - Channel
      parameters:
        - name: channel_id
          in: query
          description: Channel ID for the channel being queried
          schema:
            type: string
            example: neynar
        - name: invited_fid
          in: query
          description: FID of the user being invited
          schema:
            type: integer
            minimum: 1
        - name: limit
          in: query
          description: Number of results to fetch
          schema:
            default: 20
            type: integer
            minimum: 1
            maximum: 100
          x-is-limit-param: true
        - name: cursor
          in: query
          description: Pagination cursor.
          schema:
            type: string
      operationId: fetch-channel-invites
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChannelMemberInviteListResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
      externalDocs:
        url: https://docs.neynar.com/reference/fetch-channel-invites
  /v2/farcaster/channel/member/invite/:
    post:
      description: Invite a user to a channel
      summary: Invite
      tags:
        - Channel
      operationId: invite-channel-member
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InviteChannelMemberReqBody'
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
      externalDocs:
        url: https://docs.neynar.com/reference/invite-channel-member
    put:
      description: Accept or reject a channel invite
      summary: Accept or reject an invite
      tags:
        - Channel
      operationId: respond-channel-invite
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RespondChannelInviteReqBody'
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
      externalDocs:
        url: https://docs.neynar.com/reference/respond-channel-invite
  /v2/farcaster/channel/member/:
    delete:
      description: Remove a user from a channel or a user's invite to a channel role
      summary: Remove user
      tags:
        - Channel
      operationId: remove-channel-member
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RemoveChannelMemberReqBody'
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
      externalDocs:
        url: https://docs.neynar.com/reference/remove-channel-member
  /v2/farcaster/channel/search/:
    get:
      description: Returns a list of channels based on ID or name
      summary: Search by ID or name
      tags:
        - Channel
      parameters:
        - name: q
          in: query
          description: Channel ID or name for the channel being queried
          required: true
          schema:
            type: string
            example: neynar
        - name: limit
          in: query
          description: Number of results to fetch
          schema:
            default: 20
            type: integer
            minimum: 1
            maximum: 200
            example: 30
          x-is-limit-param: true
        - name: cursor
          in: query
          description: Pagination cursor.
          schema:
            type: string
        - name: viewer_fid
          in: query
          description: FID of the user viewing the channels.
          schema:
            type: integer
            minimum: 1
      operationId: search-channels
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChannelSearchResponse'
      externalDocs:
        url: https://docs.neynar.com/reference/search-channels
  /v2/farcaster/channel/bulk/:
    get:
      description: Returns details of multiple channels
      summary: Bulk fetch
      tags:
        - Channel
      parameters:
        - name: ids
          in: query
          description: Comma separated list of channel IDs or parent_urls, up to 100 at a time
          required: true
          schema:
            type: string
            example: neynar,warpcast
            x-comma-separated: true
        - name: type
          in: query
          description: Type of identifier being used to query the channels. Defaults to ID.
          schema:
            type: string
            enum:
              - id
              - parent_url
            title: ChannelType
            example: id
        - name: viewer_fid
          in: query
          description: FID of the user viewing the channels.
          schema:
            type: integer
            minimum: 1
      operationId: fetch-bulk-channels
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChannelResponseBulk'
        '404':
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
      externalDocs:
        url: https://docs.neynar.com/reference/fetch-bulk-channels
  /v2/farcaster/channel/follow/:
    post:
      description: Follow a channel
      summary: Follow a channel
      tags:
        - Channel
      operationId: follow-channel
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChannelFollowReqBody'
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
        '404':
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
      externalDocs:
        url: https://docs.neynar.com/reference/follow-channel
    delete:
      description: Unfollow a channel
      summary: Unfollow a channel
      tags:
        - Channel
      operationId: unfollow-channel
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChannelFollowReqBody'
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
        '404':
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
      externalDocs:
        url: https://docs.neynar.com/reference/unfollow-channel
  /v2/farcaster/channel/followers/relevant/:
    get:
      description: Returns a list of relevant channel followers for a specific FID. This usually shows on a channel as "X, Y, Z follow this channel".
      summary: Relevant followers
      tags:
        - Channel
      parameters:
        - $ref: '#/components/parameters/NeynarExperimentalHeader'
        - name: id
          in: query
          description: Channel ID being queried
          required: true
          schema:
            type: string
            example: neynar
        - name: viewer_fid
          in: query
          description: The FID of the user to customize this response for. Providing this will also return a list of followers that respects this user's mutes and blocks and includes `viewer_context`.
          required: true
          schema:
            type: integer
            minimum: 1
      operationId: fetch-relevant-followers-for-a-channel
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RelevantFollowersResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
      externalDocs:
        url: https://docs.neynar.com/reference/fetch-relevant-followers-for-a-channel
  /v2/farcaster/channel/followers/:
    get:
      description: Returns a list of followers for a specific channel. Max limit is 1000. Use cursor for pagination.
      summary: For channel
      tags:
        - Channel
      parameters:
        - $ref: '#/components/parameters/NeynarExperimentalHeader'
        - name: id
          in: query
          description: Channel ID for the channel being queried
          required: true
          schema:
            type: string
            example: founders
        - name: viewer_fid
          in: query
          description: Providing this will return a list of followers that respects this user's mutes and blocks and includes `viewer_context`.
          schema:
            type: integer
            minimum: 1
        - name: cursor
          in: query
          description: Pagination cursor.
          schema:
            type: string
        - name: limit
          in: query
          description: Number of followers to fetch
          schema:
            default: 25
            type: integer
            minimum: 1
            maximum: 1000
          x-is-limit-param: true
      operationId: fetch-followers-for-a-channel
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsersResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
      externalDocs:
        url: https://docs.neynar.com/reference/fetch-followers-for-a-channel
  /v2/farcaster/channel/user/:
    get:
      description: Fetches all channels that a user has casted in, in reverse chronological order.
      summary: Fetch channels that user is active in
      tags:
        - Channel
      parameters:
        - name: fid
          in: query
          description: The user's FID (identifier)
          required: true
          schema:
            type: integer
            minimum: 1
        - name: limit
          in: query
          description: Number of results to fetch
          schema:
            default: 20
            type: integer
            minimum: 1
            maximum: 100
            format: int32
          x-is-limit-param: true
        - name: cursor
          in: query
          description: Pagination cursor.
          schema:
            type: string
      operationId: fetch-users-active-channels
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsersActiveChannelsResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
        '404':
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
      externalDocs:
        url: https://docs.neynar.com/reference/fetch-users-active-channels
  /v2/farcaster/channel/trending/:
    get:
      description: Returns a list of trending channels based on activity
      summary: Channels by activity
      tags:
        - Channel
      parameters:
        - name: time_window
          in: query
          schema:
            type: string
            enum:
              - 1d
              - 7d
              - 30d
        - name: limit
          in: query
          description: Number of results to fetch
          schema:
            default: 10
            type: integer
            minimum: 1
            maximum: 25
            format: int32
          x-is-limit-param: true
        - name: cursor
          in: query
          description: Pagination cursor.
          schema:
            type: string
      operationId: fetch-trending-channels
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TrendingChannelResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
      externalDocs:
        url: https://docs.neynar.com/reference/fetch-trending-channels
  /v2/farcaster/channel/:
    get:
      description: Returns details of a channel
      summary: By ID or parent_url
      tags:
        - Channel
      parameters:
        - name: id
          in: query
          description: Channel ID for the channel being queried
          required: true
          schema:
            type: string
            example: neynar
        - name: type
          in: query
          description: Type of identifier being used to query the channel. Defaults to ID.
          schema:
            type: string
            enum:
              - id
              - parent_url
            title: ChannelType
            example: id
        - name: viewer_fid
          in: query
          description: FID of the user viewing the channel.
          schema:
            type: integer
            minimum: 1
      operationId: lookup-channel
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChannelResponse'
        '404':
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
      externalDocs:
        url: https://docs.neynar.com/reference/lookup-channel
  /v2/farcaster/feed/following/:
    get:
      description: Fetch feed based on who a user is following
      summary: Following
      tags:
        - Feed
      parameters:
        - $ref: '#/components/parameters/NeynarExperimentalHeader'
        - name: fid
          in: query
          description: FID of user whose feed you want to create
          required: true
          schema:
            type: integer
            minimum: 1
        - name: viewer_fid
          in: query
          description: Providing this will return a feed that respects this user's mutes and blocks and includes `viewer_context`.
          schema:
            type: integer
            minimum: 1
        - name: with_recasts
          in: query
          description: Include recasts in the response, true by default
          schema:
            default: true
            type: boolean
            nullable: true
            example: true
        - name: limit
          in: query
          description: Number of results to fetch
          schema:
            default: 25
            type: integer
            minimum: 1
            maximum: 100
            example: 30
            format: int32
          x-is-limit-param: true
        - name: cursor
          in: query
          description: Pagination cursor.
          schema:
            type: string
      operationId: fetch-user-following-feed
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FeedResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
      externalDocs:
        url: https://docs.neynar.com/reference/fetch-user-following-feed
  /v2/farcaster/feed/for_you/:
    get:
      description: Fetch a personalized For You feed for a user
      summary: For you
      tags:
        - Feed
      parameters:
        - $ref: '#/components/parameters/NeynarExperimentalHeader'
        - name: fid
          in: query
          description: FID of user whose feed you want to create
          required: true
          schema:
            type: integer
            minimum: 1
        - name: viewer_fid
          in: query
          description: Providing this will return a feed that respects this user's mutes and blocks and includes `viewer_context`.
          schema:
            type: integer
            minimum: 1
            example: 3
        - name: provider
          in: query
          description: The provider of the For You feed.
          schema:
            default: neynar
            type: string
            enum:
              - neynar
        - name: limit
          in: query
          description: Number of results to fetch
          schema:
            default: 25
            type: integer
            minimum: 1
            maximum: 50
            example: 30
            format: int32
          x-is-limit-param: true
        - name: cursor
          in: query
          description: Pagination cursor.
          schema:
            type: string
      operationId: fetch-feed-for-you
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FeedResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ZodError'
                  - $ref: '#/components/schemas/ErrorRes'
      externalDocs:
        url: https://docs.neynar.com/reference/fetch-feed-for-you
  /v2/farcaster/feed/channels/:
    get:
      description: Fetch feed based on channel IDs
      summary: By channel IDs
      tags:
        - Feed
      parameters:
        - $ref: '#/components/parameters/NeynarExperimentalHeader'
        - name: channel_ids
          in: query
          description: Comma separated list of up to 10 channel IDs e.g. neynar,farcaster
          required: true
          schema:
            type: string
            example: neynar,farcaster
            x-comma-separated: true
        - name: with_recasts
          in: query
          description: Include recasts in the response, true by default
          schema:
            default: true
            type: boolean
            nullable: true
        - name: viewer_fid
          in: query
          description: Providing this will return a feed that respects this user's mutes and blocks and includes `viewer_context`.
          schema:
            type: integer
            minimum: 1
        - name: with_replies
          in: query
          description: Include replies in the response, false by default
          schema:
            default: false
            type: boolean
            nullable: true
        - name: members_only
          in: query
          description: Used when filter_type=channel_id. Only include casts from members of the channel. True by default.
          schema:
            default: true
            type: boolean
            nullable: true
            example: true
            deprecated: true
        - name: fids
          in: query
          description: Comma separated list of FIDs to filter the feed by, up to 10 at a time
          schema:
            type: string
            x-comma-separated: true
            x-accept-as: integer
        - name: limit
          in: query
          description: Number of results to fetch
          schema:
            default: 25
            type: integer
            minimum: 1
            maximum: 100
            format: int32
          x-is-limit-param: true
        - name: cursor
          in: query
          description: Pagination cursor.
          schema:
            type: string
        - name: should_moderate
          in: query
          description: If true, only casts that have been liked by the moderator (if one exists) will be returned.
          schema:
            default: false
            type: boolean
            nullable: true
            deprecated: true
      operationId: fetch-feed-by-channel-ids
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FeedResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
      externalDocs:
        url: https://docs.neynar.com/reference/fetch-feed-by-channel-ids
  /v2/farcaster/feed/parent_urls/:
    get:
      description: Fetch feed based on parent URLs
      summary: By parent URLs
      tags:
        - Feed
      parameters:
        - $ref: '#/components/parameters/NeynarExperimentalHeader'
        - name: parent_urls
          in: query
          description: Comma separated list of parent_urls
          required: true
          schema:
            type: string
            x-comma-separated: true
            example: chain://eip155:1/erc721:0xd4498134211baad5846ce70ce04e7c4da78931cc
        - name: with_recasts
          in: query
          description: Include recasts in the response, true by default
          schema:
            default: true
            type: boolean
            nullable: true
        - name: viewer_fid
          in: query
          description: Providing this will return a feed that respects this user's mutes and blocks and includes `viewer_context`.
          schema:
            type: integer
            minimum: 1
        - name: with_replies
          in: query
          description: Include replies in the response, false by default
          schema:
            default: false
            type: boolean
            nullable: true
        - name: limit
          in: query
          description: Number of results to fetch
          schema:
            default: 25
            type: integer
            minimum: 1
            maximum: 100
            format: int32
          x-is-limit-param: true
        - name: cursor
          in: query
          description: Pagination cursor.
          schema:
            type: string
      operationId: fetch-feed-by-parent-urls
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FeedResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
      externalDocs:
        url: https://docs.neynar.com/reference/fetch-feed-by-parent-urls
  /v2/farcaster/feed/trending/:
    get:
      description: Fetch trending casts or on the global feed or channels feeds. 7d time window available for channel feeds only.
      summary: Trending feeds
      tags:
        - Feed
      parameters:
        - $ref: '#/components/parameters/NeynarExperimentalHeader'
        - name: limit
          in: query
          description: Number of results to fetch
          schema:
            default: 10
            type: integer
            minimum: 1
            maximum: 10
            format: int32
            example: 10
          x-is-limit-param: true
        - name: cursor
          in: query
          description: Pagination cursor
          schema:
            type: string
        - name: viewer_fid
          in: query
          description: Providing this will return a feed that respects this user's mutes and blocks and includes `viewer_context`.
          schema:
            type: integer
            minimum: 1
        - name: time_window
          in: query
          description: Time window for trending casts (7d window for channel feeds only)
          schema:
            default: 24h
            type: string
            enum:
              - 1h
              - 6h
              - 12h
              - 24h
              - 7d
            example: 24h
        - name: channel_id
          in: query
          description: Channel ID to filter trending casts. Less active channels might have no casts in the time window selected. Provide either `channel_id` or `parent_url`, not both.
          schema:
            type: string
            example: neynar
        - name: parent_url
          in: query
          description: Parent URL to filter trending casts. Less active channels might have no casts in the time window selected. Provide either `channel_id` or `parent_url`, not both.
          schema:
            type: string
            example: chain://eip155:1/erc721:0xd4498134211baad5846ce70ce04e7c4da78931cc
        - name: provider
          in: query
          description: The provider of the trending casts feed.
          schema:
            default: neynar
            type: string
            enum:
              - neynar
            example: neynar
      operationId: fetch-trending-feed
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FeedResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ZodError'
                  - $ref: '#/components/schemas/ErrorRes'
        '404':
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
      externalDocs:
        url: https://docs.neynar.com/reference/fetch-trending-feed
  /v2/farcaster/feed/user/popular/:
    get:
      description: Fetch 10 most popular casts for a given user FID; popularity based on replies, likes and recasts; sorted by most popular first
      summary: 10 most popular casts
      tags:
        - Feed
      parameters:
        - name: fid
          in: query
          description: FID of user whose feed you want to create
          required: true
          schema:
            type: integer
            minimum: 1
        - name: viewer_fid
          in: query
          schema:
            type: integer
            minimum: 1
      operationId: fetch-popular-casts-by-user
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BulkCastsResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
      externalDocs:
        url: https://docs.neynar.com/reference/fetch-popular-casts-by-user
  /v2/farcaster/feed/user/replies_and_recasts/:
    get:
      description: Fetch recent replies and recasts for a given user FID; sorted by most recent first
      summary: Replies and recasts
      tags:
        - Feed
      parameters:
        - name: fid
          in: query
          description: FID of user whose replies and recasts you want to fetch
          required: true
          schema:
            type: integer
            minimum: 1
        - name: filter
          in: query
          description: Filter to fetch only replies or recasts
          schema:
            default: all
            type: string
            enum:
              - replies
              - recasts
              - all
            example: replies
        - name: limit
          in: query
          description: Number of results to fetch
          schema:
            default: 25
            type: integer
            minimum: 1
            maximum: 50
            format: int32
            example: 30
          x-is-limit-param: true
        - name: cursor
          in: query
          description: Pagination cursor.
          schema:
            type: string
        - name: viewer_fid
          in: query
          description: Providing this will return a feed that respects this user's mutes and blocks and includes `viewer_context`.
          schema:
            type: integer
            minimum: 1
      operationId: fetch-replies-and-recasts-for-user
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FeedResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
      externalDocs:
        url: https://docs.neynar.com/reference/fetch-replies-and-recasts-for-user
  /v2/farcaster/feed/user/casts/:
    get:
      description: Fetch casts for a given user FID in reverse chronological order. Also allows filtering by parent_url and channel
      summary: Chronologically
      tags:
        - Feed
      parameters:
        - $ref: '#/components/parameters/NeynarExperimentalHeader'
        - name: fid
          in: query
          description: FID of user whose recent casts you want to fetch
          required: true
          schema:
            type: integer
            minimum: 1
            example: 194
        - name: app_fid
          in: query
          description: Optionally filter to casts created via a specific app FID, e.g. 9152 for Warpcast
          schema:
            type: integer
            minimum: 1
            example: 9152
        - name: viewer_fid
          in: query
          description: FID of the user viewing the feed
          schema:
            type: integer
            minimum: 1
            example: 3
        - name: limit
          in: query
          description: Number of results to fetch
          schema:
            default: 25
            type: integer
            minimum: 1
            maximum: 150
            example: 30
            format: int32
          x-is-limit-param: true
        - name: cursor
          in: query
          description: Pagination cursor
          schema:
            type: string
        - name: include_replies
          in: query
          description: Include reply casts by the author in the response, true by default
          schema:
            default: true
            type: boolean
            nullable: true
            example: true
        - name: parent_url
          in: query
          description: Parent URL to filter the feed; mutually exclusive with channel_id
          schema:
            type: string
        - name: channel_id
          in: query
          description: Channel ID to filter the feed; mutually exclusive with parent_url
          schema:
            type: string
      operationId: fetch-casts-for-user
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FeedResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
      externalDocs:
        url: https://docs.neynar.com/reference/fetch-casts-for-user
  /v2/farcaster/feed/:
    get:
      description: Fetch casts based on filters. Ensure setting the correct parameters based on the feed_type and filter_type.
      summary: By filters
      tags:
        - Feed
      parameters:
        - $ref: '#/components/parameters/NeynarExperimentalHeader'
        - name: feed_type
          in: query
          description: Defaults to following (requires FID or address). If set to filter (requires filter_type)
          schema:
            default: following
            type: string
            enum:
              - following
              - filter
            title: FeedType
            example: filter
        - name: filter_type
          in: query
          description: Used when feed_type=filter. Can be set to FIDs (requires FIDs) or parent_url (requires parent_url) or channel_id (requires channel_id)
          schema:
            type: string
            enum:
              - fids
              - parent_url
              - channel_id
              - embed_url
              - embed_types
              - global_trending
            title: FilterType
            example: fids
        - name: fid
          in: query
          description: (Optional) FID of user whose feed you want to create. By default, the API expects this field, except if you pass a filter_type
          schema:
            type: integer
            minimum: 1
        - name: fids
          in: query
          description: Used when filter_type=FIDs . Create a feed based on a list of FIDs. Max array size is 100. Requires feed_type and filter_type.
          schema:
            type: string
            example: 3,2,194
            x-comma-separated: true
            x-accept-as: integer
        - name: parent_url
          in: query
          description: Used when filter_type=parent_url can be used to fetch content under any parent url e.g. FIP-2 channels on Warpcast. Requires feed_type and filter_type.
          schema:
            type: string
            example: chain://eip155:1/erc721:0xd4498134211baad5846ce70ce04e7c4da78931cc
        - name: channel_id
          in: query
          description: Used when filter_type=channel_id can be used to fetch casts under a channel. Requires feed_type and filter_type.
          schema:
            type: string
            example: neynar
        - name: members_only
          in: query
          description: Used when filter_type=channel_id. Only include casts from members of the channel. True by default.
          schema:
            default: true
            type: boolean
            nullable: true
            example: true
            deprecated: true
        - name: embed_url
          in: query
          description: Used when filter_type=embed_url. Casts with embedded URLs prefixed by this embed_url param will be returned. We normalize your given URL prefix and prepend 'https://' if no protocol is included. Requires feed_type and filter_type.
          schema:
            type: string
            example: https://example.com
        - name: embed_types
          in: query
          description: Used when filter_type=embed_types can be used to fetch all casts with matching content types. Requires feed_type and filter_type.
          schema:
            type: array
            items:
              type: string
              enum:
                - text
                - image
                - video
                - audio
                - text/html
                - text/plain
                - image/jpeg
                - image/png
                - image/gif
                - image/webp
                - image/svg+xml
                - image/heif
                - video/mp4
                - video/quicktime
                - audio/mpeg
                - application/pdf
                - application/json
                - application/x-mpegurl
              title: EmbedType
              description: The content type of the embedded file
        - name: with_recasts
          in: query
          description: Include recasts in the response, true by default
          schema:
            default: true
            type: boolean
            nullable: true
        - name: limit
          in: query
          description: Number of results to fetch
          schema:
            default: 25
            type: integer
            minimum: 1
            maximum: 100
            example: 30
            format: int32
          x-is-limit-param: true
        - name: cursor
          in: query
          description: Pagination cursor.
          schema:
            type: string
        - name: viewer_fid
          in: query
          description: Providing this will return a feed that respects this user's mutes and blocks and includes `viewer_context`.
          schema:
            type: integer
            minimum: 1
            example: 3
      operationId: fetch-feed
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FeedResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
      externalDocs:
        url: https://docs.neynar.com/reference/fetch-feed
  /v2/farcaster/fname/availability/:
    get:
      description: Check if a given fname is available
      summary: Check fname availability
      tags:
        - fname
      parameters:
        - name: fname
          in: query
          required: true
          schema:
            type: string
      operationId: is-fname-available
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FnameAvailabilityResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
      externalDocs:
        url: https://docs.neynar.com/reference/is-fname-available
  /v2/farcaster/followers/reciprocal/:
    get:
      description: Returns users who the given FID follows and they follow the FID back (reciprocal following relationship)
      summary: Reciprocal Followers
      tags:
        - Follows
      parameters:
        - $ref: '#/components/parameters/NeynarExperimentalHeader'
        - name: fid
          in: query
          required: true
          schema:
            type: integer
            minimum: 1
        - name: viewer_fid
          in: query
          schema:
            type: integer
            minimum: 1
        - name: limit
          in: query
          schema:
            default: 25
            type: integer
            minimum: 1
            maximum: 100
          x-is-limit-param: true
        - name: cursor
          in: query
          description: Pagination cursor
          schema:
            type: string
        - name: sort_type
          in: query
          schema:
            default: algorithmic
            type: string
            enum:
              - desc_chron
              - algorithmic
      operationId: fetch-user-reciprocal-followers
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  users:
                    type: array
                    items:
                      $ref: '#/components/schemas/ReciprocalFollower'
                  next:
                    $ref: '#/components/schemas/NextCursor'
                required:
                  - users
                  - next
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
      externalDocs:
        url: https://docs.neynar.com/reference/fetch-user-reciprocal-followers
  /v2/farcaster/followers/relevant/:
    get:
      description: Returns a list of relevant followers for a specific FID. This usually shows on a profile as "X, Y and Z follow this user".
      summary: Relevant followers
      tags:
        - Follows
      parameters:
        - $ref: '#/components/parameters/NeynarExperimentalHeader'
        - name: target_fid
          in: query
          description: User who's profile you are looking at
          required: true
          schema:
            type: integer
            minimum: 1
        - name: viewer_fid
          in: query
          description: The FID of the user to customize this response for. Providing this will also return a list of followers that respects this user's mutes and blocks and includes `viewer_context`.
          required: true
          schema:
            type: integer
            minimum: 1
      operationId: fetch-relevant-followers
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RelevantFollowersResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
      externalDocs:
        url: https://docs.neynar.com/reference/fetch-relevant-followers
  /v2/farcaster/followers/:
    get:
      description: Returns a list of followers for a specific FID.
      summary: Followers
      tags:
        - Follows
      parameters:
        - $ref: '#/components/parameters/NeynarExperimentalHeader'
        - name: fid
          in: query
          description: User who's profile you are looking at
          required: true
          schema:
            type: integer
            minimum: 1
        - name: viewer_fid
          in: query
          description: Providing this will return a list of followers that respects this user's mutes and blocks and includes `viewer_context`.
          schema:
            type: integer
            minimum: 1
        - name: sort_type
          in: query
          description: Sort type for fetch followers. Default is `desc_chron`
          schema:
            type: string
            enum:
              - desc_chron
              - algorithmic
            example: desc_chron
        - name: limit
          in: query
          description: Number of results to fetch
          schema:
            default: 20
            type: integer
            minimum: 1
            maximum: 100
            example: 30
            format: int32
          x-is-limit-param: true
        - name: cursor
          in: query
          description: Pagination cursor.
          schema:
            type: string
      operationId: fetch-user-followers
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FollowersResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
      externalDocs:
        url: https://docs.neynar.com/reference/fetch-user-followers
  /v2/farcaster/following/suggested/:
    get:
      description: Fetch a list of suggested users to follow. Used to help users discover new users to follow
      summary: Suggest Follows
      tags:
        - Follows
      parameters:
        - $ref: '#/components/parameters/NeynarExperimentalHeader'
        - name: fid
          in: query
          description: FID of the user whose following you want to fetch.
          required: true
          schema:
            type: integer
            nullable: true
        - name: viewer_fid
          in: query
          description: Providing this will return a list of users that respects this user's mutes and blocks and includes `viewer_context`.
          schema:
            type: integer
            nullable: true
        - name: limit
          in: query
          description: Number of results to fetch
          schema:
            default: 25
            type: integer
            minimum: 1
            maximum: 100
            format: int32
          x-is-limit-param: true
      operationId: fetch-follow-suggestions
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsersResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
      externalDocs:
        url: https://docs.neynar.com/reference/fetch-follow-suggestions
  /v2/farcaster/following/:
    get:
      description: Fetch a list of users who a given user is following. Can optionally include a viewer_fid and sort_type.
      summary: Following
      tags:
        - Follows
      parameters:
        - $ref: '#/components/parameters/NeynarExperimentalHeader'
        - name: fid
          in: query
          description: FID of the user whose following you want to fetch.
          required: true
          schema:
            type: integer
            minimum: 1
        - name: viewer_fid
          in: query
          description: Providing this will return a list of users that respects this user's mutes and blocks and includes `viewer_context`.
          schema:
            type: integer
            minimum: 1
            example: 3
        - name: sort_type
          in: query
          description: Optional parameter to sort the users based on different criteria.
          schema:
            type: string
            enum:
              - desc_chron
              - algorithmic
            example: desc_chron
        - name: limit
          in: query
          description: Number of results to fetch
          schema:
            default: 25
            type: integer
            minimum: 1
            maximum: 100
            format: int32
          x-is-limit-param: true
        - name: cursor
          in: query
          description: Pagination cursor.
          schema:
            type: string
      operationId: fetch-user-following
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FollowersResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
      externalDocs:
        url: https://docs.neynar.com/reference/fetch-user-following
  /v2/farcaster/frame/catalog/:
    get:
      description: A curated list of featured mini apps
      summary: Mini apps catalog
      tags:
        - Frame
      parameters:
        - name: limit
          in: query
          description: Number of results to fetch
          schema:
            default: 100
            type: integer
            minimum: 1
            maximum: 100
            format: int32
            example: 100
          x-is-limit-param: true
        - name: cursor
          in: query
          description: Pagination cursor
          schema:
            type: string
        - name: time_window
          in: query
          description: Time window used to calculate the change in trending score for each mini app, used to sort mini app results
          schema:
            default: 7d
            type: string
            enum:
              - 1h
              - 6h
              - 12h
              - 24h
              - 7d
            title: MiniAppTimeWindow
            example: 7d
        - name: categories
          in: query
          description: 'Comma separated list of categories to include in the results. Includes all if left blank. Example: categories=games,social OR categories=games&categories=social'
          schema:
            type: array
            items:
              type: string
              enum:
                - games
                - social
                - finance
                - utility
                - productivity
                - health-fitness
                - news-media
                - music
                - shopping
                - education
                - developer-tools
                - entertainment
                - art-creativity
              title: FrameCategory
            example:
              - games
              - social
        - name: networks
          in: query
          description: List of blockchain networks by which to filter results.  Mini apps included in the results will specify at least one of the supplied networks or specify none. The list can be provided as comma-separated string or array.
          schema:
            type: array
            items:
              type: string
              enum:
                - ethereum
                - base
                - arbitrum
                - arbitrum-sepolia
                - base-sepolia
                - degen
                - gnosis
                - optimism
                - optimism-sepolia
                - polygon
                - ethereum-sepolia
                - zora
                - unichain
                - monad-testnet
                - celo
                - solana
              description: Networks supported by mini apps
              example: base
            title: MiniappNetworksSchema
            example:
              - ethereum
              - base
              - solana
      operationId: fetch-frame-catalog
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FrameCatalogResponse'
      externalDocs:
        url: https://docs.neynar.com/reference/fetch-frame-catalog
  /v2/farcaster/frame/notification_tokens/:
    get:
      description: Returns a list of notifications tokens related to a mini app
      summary: List of mini app notification tokens
      tags:
        - Frame
      parameters:
        - name: limit
          in: query
          description: Number of results to fetch
          schema:
            default: 20
            type: integer
            minimum: 1
            maximum: 100
            format: int32
            example: 20
          x-is-limit-param: true
        - name: fids
          in: query
          description: Comma separated list of FIDs, up to 100 at a time. If you pass in FIDs, you will get back the notification tokens for those FIDs. If you don't pass in FIDs, you will get back all the notification tokens for the mini app.
          schema:
            type: string
            example: 194, 191, 6131
            x-comma-separated: true
            x-accept-as: integer
        - name: cursor
          in: query
          description: Pagination cursor
          schema:
            type: string
      operationId: fetch-notification-tokens
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FrameNotificationTokens'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
      externalDocs:
        url: https://docs.neynar.com/reference/fetch-notification-tokens
  /v2/farcaster/frame/notifications/:
    post:
      description: Send notifications to interactors of a mini app
      summary: Send notifications
[...]
