name: Generate Node.js SDK Docs

on:
  workflow_run:
    workflows:
      - Update Docs (Mintlify)
    types:
      - completed

jobs:
  generate-nodejs-sdk-docs:
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    runs-on: ubuntu-latest
    steps:
      - name: Generate Neynar CI Bot token
        id: generate-token
        uses: actions/create-github-app-token@v2
        with:
          app-id: ${{ secrets.NEYNAR_CI_BOT_APP_ID }}
          private-key: ${{ secrets.NEYNAR_CI_BOT_PRIVATE_KEY }}
          owner: 'neynarxyz'
          repositories: 'docs'

      - name: Checkout docs repository
        uses: actions/checkout@v3
        with:
          repository: "neynarxyz/docs.git"
          ref: "main"
          path: "docs"
          token: ${{ steps.generate-token.outputs.token }}
          persist-credentials: true

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '18'

      - name: Generate Node.js SDK docs
        run: |
          cd docs
          node scripts/generate-nodejs-sdk-docs.js
